<div class="outer-container">
  <div class="masthead">
    <h3 class="section-title">Blog</h3>
    <h3 class="section-headline">News &amp; Events</h3>
    <p>Click around to read our latest news and updates.</p>
    <p class="call-to-action">
      <a href="#">Subscribe to our newsletter</a>
      to stay up to date
    </p>
  </div>
</div>

<section class='carousel thumblist full'>
  <thumblist-nav>
    <div ng-repeat="article in articles | filter:{featured:'true'}">
      <div class="image" ng-style="{'background-image': 'url(' + article.thumbnail_image_url + ')'}"></div>
      <div class="content">
        <p class="blog-category">{{article.blog_item_category}}</p>
        <a href="#/articles/{{article.id}}">
          <h4>{{article.title}}</h4>
        </a>
      </div>
    </div>
  </thumblist-nav>
</section>

<br/>
<div class="outer-container">
  <div class="pagination">
    <ul>
      <li class="disabled">
        <a href ng-disabled="pagination.page == 0" ng-click="pagination.prevPage()"><span class="icon starkey-pg-arrow-left">&nbsp;</span>Prev</a>
      </li>
      <li ng-repeat="n in [] | range: pagination.numPages" ng-class="{active: $index==pagination.page}">
        <a href ng-click="pagination.toPageId(n)">{{n + 1}}</a>
      </li>
      <li class="disabled">
        <a href ng-click="pagination.nextPage()">Next <span class="icon starkey-pg-arrow-right">&nbsp;</span></a>
      </li>
    </ul>
  </div>
  <ul class="articles-filters">
    <li>Sort &nbsp;|&nbsp;</li>
    <li>All
      <ul>
        <li>
          <a href ng-click="articleFilters.blog_item_category = ''">All</a>
        </li>
        <li ng-repeat="articleCategory in articleCategories">
          <a href ng-click="articleFilters.blog_item_category = articleCategory.tag">{{articleCategory.name}}</a>
        </li>
      </ul>
    </li>
    <li>&nbsp;|&nbsp;</li>
    <li>Latest
      <ul>
        <li>
          <a href>Latest</a>
        </li>
        <li ng-repeat="year in ['2014', '2013', '2012', '2011', '2010']">
          <a href ng-click="articleFilters.year = year">{{year}}</a>
        </li>
      </ul>
    </li>
  </ul>

  <ul class="pagination-articles">
    <li ng-repeat="article in articles | filter:articleFilters | startFrom: pagination.page * pagination.perPage | limitTo: pagination.perPage">
      <div class='block'>
        <div class="image" ng-style="{'background-image': 'url(' + article.thumbnail_image_url + ')'}"></div>
        <h2 class="headline">{{article.title}}</h2>
        <p class='date'>{{article.date}}</p>
        <p class='read-more'><a href="#/articles/{{article.id}}">Read more &rarr;</a></p>
      </div>
    </li>
  </ul>

  <div class="pagination">
    <ul>
      <li class="disabled">
        <a href ng-disabled="pagination.page == 0" ng-click="pagination.prevPage()"><span class="icon starkey-pg-arrow-left">&nbsp;</span>Prev</a>
      </li>
      <li ng-repeat="n in [] | range: pagination.numPages" ng-class="{active: $index==pagination.page}">
        <a href ng-click="pagination.toPageId(n)">{{n + 1}}</a>
      </li>
      <li class="disabled">
        <a href ng-click="pagination.nextPage()">Next <span class="icon starkey-pg-arrow-right">&nbsp;</span></a>
      </li>
    </ul>
  </div>
</div>