<div class="outer-container">
  <div class="masthead">
    <h3 class="section-title">Blog</h3>
    <h3 class="section-headline">News &amp; Events</h3>
    <p>Click around to read our latest news and updates.</p>
    <p class="call-to-action">
      <a href ng-click="openSubscribeForm()" scroll-to-position="subscribeFormAnchor">Subscribe to our newsletter</a>
    </p>
  </div>
</div>

<section class='mobile-carousel carousel hero add-bottom-border'>
  <swiper
    continuous="true"
    speed="2000"
    identifier="swiper_1"
    auto="8000"
    paginator="true"
    size="short"
    >
    <div ng-repeat="article in articles | filter:{featured:'true'}">
      <slide
        image-url="{{article.thumbnail_image_url}}"
        blog-category="{{article.blog_item_category}}"
        video-url=""
        link-url="#/articles/{{article.id}}"
        headline="{{article.title}}"
        link-text="Read More →"
      ></slide>
    </div>
  </swiper>
</section>

<section class='carousel thumblist'>
  <thumblist-nav full="true">
    <div ng-repeat="article in articles | filter:{featured:'true'}">
      <slide
        thumblist="true"
        image-url="{{article.thumbnail_image_url}}"
        blog-category="{{article.blog_item_category}}"
        video-url=""
        link-url="#/articles/{{article.id}}"
        headline="{{article.title}}"
        link-text=""
      ></slide>
    </div>
  </thumblist-nav>
</section>

<br/>
<div class="outer-container">
  <div class="pagination">
    <ul>
      <li class="disabled">
        <a href ng-disabled="pagination.page == 0" ng-click="pagination.prevPage()"><span class="icon starkey-pg-arrow-left">&nbsp;</span>Prev</a>
      </li>
      <li ng-repeat="n in [] | range: pagination.numPages" ng-class="{active: $index==pagination.page}">
        <a href ng-click="pagination.toPageId(n)">{{n + 1}}</a>
      </li>
      <li class="next-page-trigger disabled">
        <a href ng-click="pagination.nextPage()">Next <span class="icon starkey-pg-arrow-right">&nbsp;</span></a>
      </li>
    </ul>
  </div>

  <ul class="articles-filters">
    <li><strong>Sort</strong> &nbsp;|</li>
    <li class="dropdown widest">
      <dropdown options="articleCategories" call-filter="articleFilters.blog_item_category"></dropdown>
    </li>
    <li class="dropdown wide tablet-down">
      <select ng-model="articleFilters.blog_item_category" class="dropdown-select">
        <option ng-repeat="cat in articleCategories" value="{{cat.value}}">{{cat.name}}</option>
      </select>
    </li>
    <li>|</li>
    <li class="dropdown narrow">
      <dropdown options="articleYears" call-filter="articleFilters.year"></dropdown>
    </li>
    <li class="dropdown narrow tablet-down">
      <select ng-model="articleFilters.year" class="dropdown-select">
        <option ng-repeat="year in articleYears" value="{{year.value}}">{{year.name}}</option>
      </select>
    </li>
  </ul>

  <section class='articles-list'>
    <ul class="pagination-articles desktop blog-items">
      <li ng-repeat="article in nonFeaturedArticles | filter:articleFilters | startFrom: pageStart() | limitTo: pageEnd()" class="reveal">
        <div class='block'>
          <div class="image" ng-style="{'background-image': 'url(' + article.thumbnail_image_url + ')'}"></div>
          <div class="content">
            <h2 class="headline">{{article.title}}</h2>
            <p class='date'>{{parseDate(article.date) | date:"MMMM d, yyyy"}}</p>
            <p class='read-more'><a href="#/articles/{{article.id}}">Read more &rarr;</a></p>
          </div>
        </div>
      </li>
    </ul>
    <ul class="pagination-articles tablet">
      <li ng-repeat="article in articlesForMobile track by article.id" class="reveal">
        <div class='block'>
          <div class="image" ng-style="{'background-image': 'url(' + article.thumbnail_image_url + ')'}"></div>
          <div class="content">
            <h2 class="headline">{{article.title}}</h2>
            <p class='date'>{{parseDate(article.date) | date:"MMMM d, yyyy"}}</p>
            <p class='read-more'><a href="#/articles/{{article.id}}">Read more &rarr;</a></p>
          </div>
        </div>
      </li>
    </ul>
    <div class="clearfix"></div>
    <div class="load-more" ng-click="loadMore()" ng-hide="isAtPaginationEnd()">LOAD MORE</div>
  </section>

  <div class="pagination">
    <ul>
      <li class="disabled">
        <a href ng-disabled="pagination.page == 0" ng-click="pagination.prevPage()"><span class="icon starkey-pg-arrow-left">&nbsp;</span>Prev</a>
      </li>
      <li ng-repeat="n in [] | range: pagination.numPages" ng-class="{active: $index==pagination.page}">
        <a href ng-click="pagination.toPageId(n)">{{n + 1}}</a>
      </li>
      <li class="disabled">
        <a href ng-click="pagination.nextPage()">Next <span class="icon starkey-pg-arrow-right">&nbsp;</span></a>
      </li>
    </ul>
  </div>
</div>