<div ng-bind-html="article"></div>
<br/>
<div class="outer-container">
  <h3 class="section-title centered">Related posts</h3>
  <section class='carousel'>
    <thumblist-nav>
      <div ng-repeat="article in articles | filter:{featured:'true'}">
        <slide
          thumblist="true"
          image-url="{{article.thumbnail_image_url}}"
          video-url=""
          link-url="#/articles/{{article.id}}"
          headline="{{article.title}}"
          link-style=""
          date="{{article.date}}"
        ></slide>
      </div>
    </thumblist-nav>
  </section>
</div>
<br/>
<hr class="separator padded"/>

<div class="outer-container">
  <div class="pagination">
    <ul>
      <li ng-class="{disabled: currentPage == 0}">
        <a href ng-disabled="currentPage == 0" ng-click="currentPage=currentPage-1">Prev</a>
      </li>
      <li ng-class="{disabled: currentPage >= articles.length/pageSize - 1}">
        <a href ng-click="currentPage=currentPage+1">Next</a>
      </li>
    </ul>
  </div>
  <ul class="pagination-articles">
    <li ng-repeat="article in articles | filter:{featured:'false'} | startFrom:currentPage*pageSize | limitTo:pageSize">
      <div class='block'>
        <div class="image" ng-style="{'background-image': 'url(' + article.thumbnail_image_url + ')'}"></div>
        <h2 class="headline">{{article.title}}</h2>
        <p class='read-more'><a href="#/articles/{{article.id}}">Read more &rarr;</a></p>
      </div>
    </li>
  </ul>
</div>