{exp:channel:entries channel="programs" limit="1"}
<div class="outer-container">
  <h1>Hear Now</h1>
  {exp:hundies_shortcode}{hear_now_content}{/exp:hundies_shortcode}
  <p class="centered"><a href="mailto:{hear_now_form_contact}" class="link-with-border">Contact us</a></p>

  <p>{hear_now_download_copy}</p>

  <div class="share-this-post">
    <ul>
      <li><span class="note">Download application</span></li>
      <li>
        <a href="{hear_now_form_download_english}">
          <span class="icon starkey-pdf"></span>
        </a>
      </li>
      <li><span class="note">Descargar Solicitud</span></li>
      <li>
        <a href="{hear_now_form_download_spanish}">
          <span class="icon starkey-pdf"></span>
        </a>
      </li>
    </ul>
  </div>

  <hr class="separator padded"/>
  <br/>
  <h1>Providers Looking to Give Back</h1>
  <p>Help us give the gift of hearing into the lives of people in need. If you are a hearing professional, we need your help! Become a Hear Now volunteer and volunteer to fit and follow up with our Hear Now recipients. Your crucial support will help change lives forever and have a lasting impact on your community.</p>
  <br/>
  <hr class="separator padded"/>
  <h3><a href ng-click="toggle(isVisible)" class="highlight">Become a Provider</a></h3>
  <br/>
  <div class="become-a-provider-container reveal" ng-show="isVisible">
    <br/>
    {exp:freeform:form form_id="2" form:id="become_a_provider_form" form:class="flatform invert" return="/#thank_you"}
      <ul>
          <li class="leftHalf">
              {freeform:field:first_name attr:placeholder="First Name"}
          </li>

          <li class="rightHalf">
              {freeform:field:last_name attr:placeholder="Last Name"}
          </li>

          <li class="leftFourth">
              {freeform:field:practice attr:placeholder="Practice"}
          </li>

          <li class="middleFourthFirst">
              {freeform:field:phone attr:placeholder="Phone"}
          </li>

          <li class="middleFourthSecond">
              {freeform:field:fax attr:placeholder="FAX"}
          </li>

          <li class="rightFourth">
              {freeform:field:email attr:placeholder="Email"}
          </li>

          <li class="leftFourth">
              {freeform:field:address attr:placeholder="Address"}
          </li>

          <li class="middleFourthFirst">
              {freeform:field:city attr:placeholder="City"}
          </li>

          <li class="middleFourthSecond">
              {freeform:field:state attr:placeholder="State"}
          </li>

          <li class="rightFourth">
              {freeform:field:zip attr:placeholder="Zip"}
          </li>

          <li class="full">
            <br/>
              {freeform:submit attr:id="become_a_provider_submit"}
          </li>
      </ul>

    {/exp:freeform:form}
  </div>
</div>
{/exp:channel:entries}