<div class="swiper" ng-class="addSize()">
  <div class="swiper-controls left" ng-show="showPaginator()">
    <a href ng-click="prev()"><span class="pg-arrow-left"></span></a>
  </div>
  <div class="swiper-controls right" ng-show="showPaginator()">
    <a href ng-click="next()"><span class="pg-arrow-right"></span></a>
  </div>
  <div id='{{identifier}}' class='swipe'>
    <div class='swipe-wrap' ng-transclude>
      <div ng-show="slides.length > 0">
      <slide
        ng-repeat="item in slides"
        image-url="{{item.thumbnail_image_url}}"
        background-color=""
        quote=""
        video-url=""
        link-url=""
        headline="{{item.year}}"
        body-copy=""
        logo-image-url=""
        link-style=""
        link-text="{{item}}"
      >
      </slide>
      </div>
    </div>
  </div>
  <ul class="swiper-position" ng-show="showPaginator()">
    <swipe-paginator ng-repeat="slide in childSlides" position="{{$index}}"></swipe-paginator>
  </ul>
</div>