// Footer
footer {
  background: #F8F6F0;
  max-width: 100%;
  // &>div {
  //   @include outer-container;
  // }
  .form {
    padding: 50px 150px;
    @include media($tablet-down) {
      padding: 24px 5px;
    }
  }
}
.social-info {
  display: inline-block;
  .icon {
    font-size: 2.7em;
    display: block;
    text-align: center;
    margin-bottom: 10px;
  }
  ul {
    li {
      @include inline-block;
    }
  }
  .footer-list-item {
    width: 100%;
    height: 100px;
    margin-top: 5px;
  }
  & > ul {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
    @include clearfix;

    & > li {
      float: left;
      width: 25%;
      height: 265px;
      padding: 10px;
      border-right: 1px dotted #CECECE;
      padding: 1.9em;
      position: relative;
      @include boxsizing;

      div {
        height: 80px;
        @include boxsizing;

        h1, h4 {
          margin: 0;
        }

        h1 {
          font-family: "Alright Sans", sans-serif;
          font-weight: 100;
          text-transform: uppercase;
          strong {
            font-weight: 600;
          }
        }

        h4 {
          text-transform: uppercase;
          font-size: 10px;
          font-weight: 600;
          line-height: 1.4em;
        }

        h5 {
          font-size: 12px;
          color: gray;
        }

        p {
          font-size: 13px;
          line-height: 17px;
          margin-top: 5px;
        }
      }

      .read-more {
        position: absolute;
        width: 100%;
        bottom: 30px;
        left: 0;
      }

      &:first-child {
        border-left: none;
      }
      &:last-child {
        border-right: none;
      }

      .thumbs {
        margin-left: .4em;
        float : left;
        padding-left: 0;
        li {
          margin-left: 5px;
          border: 2px solid white;
          a {
            width: 40px;
            height: 40px;
            display: block;
            background-size: cover;
            background-position: center;
          }
        }
      }

      p {
        margin: 0 0 2px;
        clear: both;
        a {
          color: #00B9E4;
          text-transform: uppercase;
          font-size: 12px;
          font-weight: 600;
          text-align: center;
          display: block;
          line-height: 1;
        }
      }
      #twitter {
        ul {
          margin: 0;
          padding: 0;
        }
        .user, .interact {
          display: none;
        }
        .tweet {
          a {
            display: inline;
            text-align: left;
            color: inherit;
            font-weight: normal;
            text-transform: none;
            font-size: 13px;
          }
        }
      }
      .timePosted {
        float: right;
        font-size: 13px;
      }
      &.facebook {
        h1 {
          margin-top: 3px;
        }
        p {
          margin-top: 0;
        }
      }
      &.blog {
        .read-more {
          margin-top: 21px;
          margin-bottom: 3px;
        }
      }
    }
  }
  @include media($desktop) {
    & > ul {
      & > li {
        .thumbs {
          float: none;
          margin: auto;
          width: 104px;
        }
      }
    }
  }
  @include media($tablet-down) {
    .footer-list-item {
      height: auto;
      margin-top: 0;
    }
    & > ul {
      & > li {
        float: none;
        width: 100%;
        height: auto;
        border-bottom: 1px dotted #CECECE;
        padding: 24px 24px 0;
        .icon {
          position: absolute;
          top: 50%;
          margin-top: -20px;
        }
        div {
          height: auto;
          float: left;
          width: 100%;
          padding-left: 72px;
        }
        .tweet, .tweet a, .timePosted {
          float: none;
          font-size: 12px;
        }
        .facebook-fans {
          text-align: left;
          h1 {
            margin-top: -7px;
            padding: 6px 0;
          }
        }
        .thumbs {
          margin-left: 0;
          margin-top: -7px;
          padding: 6px 0;
        }
        .time {
          float: none;
          line-height: 1.8;
        }
        .read-more {
          width: auto;
          position: static;
          float: right;
          margin: 0 0 3px 0;
        }
        &.twitter .read-more {
          margin-top: 21px;
        }
      }
    }
  }
}

.facebook-like-hand {
  display: inline-block;
  width: 10px;
  height: 11px;
  background: url('images/fb-like-hand.png') no-repeat;
}

@media (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3/2), (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 1.5dppx) {
  .facebook-like-hand {
    background: url('images/fb-like-hand-retina.png') no-repeat;
    background-size: 100%;
  }
}

.footer-links {
  width: 100%;
  border: 1px dotted #CECECE;
  float: left;
  border-right: none;
  border-left: none;
  ul {
    padding: 0;
    margin: 7px 0 6px;
    float: left;
    width: 100%;
    li {
      width: 33%;
      float: left;
      text-align: center;
      text-transform: uppercase;
      @extend .verlagbold;
      font-size: .75em;
      p {
        margin: 0;
        font-size: .625em;
      }
    }
  }
  @include media($tablet-down) {
    display: block;
    border: none;
    ul {
      padding: 0;
      li {
        display: block;
        width: 100%;
        border-bottom: 1px dotted #CECECE;
        &.legal-links {
          padding-bottom: 9px;
        }
        &.desktop-footer-subscribe {
          display: none;
        }
        &.copyright {
          padding: 2px 0 0;
          margin-bottom: -3px;
          border: none;
        }
      }
    }
  }
}

.mobile-footer-subscribe {
  font-weight: bold;
  text-align: center;
  font-size: 13px;
  line-height: 1;
  letter-spacing: .5px;
  border-top: 1px dotted #CECECE;
  border-bottom: 1px dotted #CECECE;
  padding: 15px 0 14px;
  -webkit-font-smoothing: antialiased;
  display: none;
  @include media($tablet-down) {
    display: block;
  }
}
