<section class="page-leader">
  <h1>
    Media Mentions
  </h1>
  <div class="fixed-width bigger uppercase" ng-bind-html-unsafe="missions.page_lead"></div>
</section>

<section class="carousel hero short">
  <div swiper
    continuous="true"
    speed="2000"
    identifier="swiper_1"
    auto="8000"
    size="short"
    paginator="true"
    >
    <div slide
      ng-repeat="media_mention in pressItems | filter:{featured:'true',type:'media_mention'}"
      image-url="{{media_mention.header_image_url}}"
      background-color="#5CA5D6"
      quote="{{media_mention.quote}}"
      video-url="{{media_mention.video_link}}"
      link-url="{{media_mention.call_to_action_link}}"
      body-copy=""
      logo-image-url="{{media_mention.logo_image_url}}"
      link-style="bordered"
      link-text="{{media_mention.call_to_action_text}}"
    >
    </div>
  </div>
</section>

<br/>

<paginated-press-list per-page="9" articles="pressItems" filters="pressFilters"></paginated-press-list>