<div class="outer-container">
  <div class="masthead">
    <h3 class="section-headline">Media Mentions</h3>
  </div>
</div>

<section class="carousel hero short">
  <div class="swiper-controls">
    <a href="#" class="left" ng-click="prev()"><span class="icon starkey-pg-arrow-left"></span></a>
    <a href="#" class="right" ng-click="next()"><span class="icon starkey-pg-arrow-right"></span></a>
  </div>
  <swiper class="swiper">
    <!-- speed="5000" continuous="true" auto="false" -->
    <!--(bake-start _if="server")-->

      <div class="slide" ng-repeat="media_mention in pressItems | filter:{featured:'true',type:'media_mention'}">
        <article ng-style="backgroundStyle(media_mention);">
        </article>
        <blockquote ng-hide="!isQuote(media_mention)">{{media_mention.quote}}</blockquote>
        <div class="gradient-background" ng-hide="isQuote(media_mention)"></div>
        <aside>
          <div class="logo"><img ng-src="{{media_mention.logo_image_url}}"/></div>
          <br/>
          <a href='{{media_mention.call_to_action_link}}' target="_blank" class="action-link">{{media_mention.call_to_action_text}}</a>
        </aside>
      </div>
    <!--(bake-end)-->

  </swiper>
</section>

<br/>

<div class="outer-container">
  <div class="pagination">
    <ul>
      <li ng-class="{disabled: currentPage == 0}">
        <a href ng-disabled="currentPage == 0" ng-click="currentPage=currentPage-1">Prev</a>
      </li>
      <li ng-class="{disabled: currentPage >= pressItems.length/pageSize - 1}">
        <a href ng-click="currentPage=currentPage+1">Next</a>
      </li>
    </ul>
  </div>

  <ul class="pagination-articles">
    <li ng-repeat="article in pressItems | filter:pressItemFilters | startFrom:currentPage*pageSize | limitTo:pageSize">
      <div class='block'>
        <img ng-src='{{article.thumbnail_image_url}}'/>
        <h2>{{article.headline}}</h2>
        <p>{{article.type}}</p>
        <p class='read-more' ng-switch="article.type">
          <a ng-switch-when="press_item" href="#/media_mentions/{{article.id}}">
            Read more &rarr;
          </a>
          <a ng-switch-when="media_mention" href="{{article.video_link}}" target="_blank">
            Read more &rarr;
          </a>
        </p>
      </div>
    </li>
  </ul>
</div>