<div class="article-header-image">
  <div class="image" ng-style="{'background-image': 'url(' + article.header_image_url + ')'}">
    <ul class="page-nav-links">
      <li>
        <a href="#/articles/{{article.prev_item}}" ng-disabled="currentPosition == article.prev_item">&larr;</a>
      </li>
      <li>
        <a href="#/articles/{{article.next_item}}" ng-disabled="currentPosition == article.next_item" >&rarr;</a>
      </li>
      <li>
        <a href="#">X</a>
      </li>
    </ul>
    <div class="gradient-background"></div>
    </div>
  </div>
</div>

<br/>
<br/>
<br/>
<div class="text-container detail-page-body">
  <section class='page-leader'>
    <h1>Media Mention</h1>
  </section>
  <h1 class="article-headline">{{article.title}}</h1>
  <p class="article-date">{{article.date}}</p>
  <h3 class="article-subheadline">{{article.sub_headline}}</h3>
  <div ng-bind-html="article.body"></div>

<div class="share-this-post">
    <ul>
      <li><span class="note">Media Contact</span></li>
      <li>
        <a href="http://twitter.com/share?url=http://starkeyhearingfoundation.org/media_mentions#media_mentions/{{article.id}}&text=Share on Twitter">
          <span class="icon starkey-share-twitter"></span>
        </a>
      </li>
      <li>
        <a href="http://www.facebook.com/sharer.php?u=http://starkeyhearingfoundation.org/media_mentions#media_mentions/{{article.id}}" target="_blank">
          <span class="icon starkey-share-fb"></span>
        </a>
      </li>
      <li>
        <a href="mailto:?subject=I wanted you to see this site&amp;body=Check out this site http://starkeyhearingfoundation.org/media_mentions#media_mentions/{{article.id}}.">
          <span class="icon starkey-share-email"></span>
        </a>
      </li>
      <li>
        <a href="mailto:{{article.press_release_contact}}">
          <span class="icon starkey-share-email"></span>
        </a>
      </li>
      <li><span class="note">Download PDF</span></li>
      <li>
        <a href="{{article.press_release_pdf_download}}">
          <span class="icon starkey-pdf"></span>
        </a>
      </li>
    </ul>
  </div>
</div>
<br/>
<hr class="separator padded"/>

<div class="outer-container">
  <div class="pagination">
    <ul>
      <li class="disabled">
        <a href ng-disabled="pagination.page == 0" ng-click="pagination.prevPage()"><span class="pg-arrow-left">&nbsp;</span>Prev</a>
      </li>
      <li ng-repeat="n in [] | range: pagination.numPages" ng-class="{active: $index==pagination.page}">
        <a href ng-click="pagination.toPageId(n)">{{n + 1}}</a>
      </li>
      <li class="disabled">
        <a href ng-click="pagination.nextPage()">Next <span class="pg-arrow-right">&nbsp;</span></a>
      </li>
    </ul>
  </div>

  <ul class="pagination-articles press-items">
    <li ng-repeat="article in pressItems | filter:pressItemFilters | startFrom: pagination.page * pagination.perPage | limitTo: pagination.perPage">
      <div class='block'>
        <div class="image" ng-style="{'background-image': 'url(' + article.thumbnail_image_url + ')'}"></div>
        <p class="category">{{article.type}}</p>
        <h2 class="headline">{{article.title}}</h2>
        <p class='date'>{{parseDate(article.date) | date:"MMMM d, yyyy"}}</p>
        <p class='read-more' ng-switch="article.type">
          <a ng-switch-when="Press Release" href="#/media_mentions/{{article.id}}">
            Read more &rarr;
          </a>
          <a ng-switch-when="Media Mention" href="{{article.video_link}}" target="_blank">
            Read more &rarr;
          </a>
        </p>
      </div>
    </li>
  </ul>

  <div class="pagination">
    <ul>
      <li class="disabled">
        <a href ng-disabled="pagination.page == 0" ng-click="pagination.prevPage()"><span class="pg-arrow-left">&nbsp;</span>Prev</a>
      </li>
      <li ng-repeat="n in [] | range: pagination.numPages" ng-class="{active: $index==pagination.page}">
        <a href ng-click="pagination.toPageId(n)">{{n + 1}}</a>
      </li>
      <li class="disabled">
        <a href ng-click="pagination.nextPage()">Next <span class="pg-arrow-right">&nbsp;</span></a>
      </li>
    </ul>
  </div>
</div>