<div ng-controller="PaginationController">
    <div class="pagination-featured">
      <div ng-repeat="featuredArticle in featured">
        <h1>{{featuredArticle.title}}</h1>
      </div>
    </div>

    <div class="pagination">
      <ul>
        <li ng-class="{disabled: currentPage == 0}">
          <a href ng-click="prevPage()">Prev</a>
        </li>
        <li ng-repeat="n in range(pagedArticles.length)"
          ng-class="{active: n == currentPage}"
          ng-click="setPage()">
          <a href ng-bind="n + 1">1</a>
        </li>
        <li ng-class="{disabled: currentPage == pagedArticles.length - 1}">
          <a href ng-click="nextPage()">Next</a>
        </li>
      </ul>
    </div>
    <div class="spacer"></div>
    <ul class="pagination-articles outer-container" ng-repeat="articleCol in pagedArticles[currentPage]">
      <li ng-repeat="article in articleCol">
        <pagination article="article" lightbox="lightbox" add-tag="addTag"></pagination>
      </li>
    </ul>
    <div class="center">
      <div class="pagination">
        <ul>
          <li ng-class="{disabled: currentPage == 0}">
            <a href ng-click="prevPage()">Prev</a>
          </li>
          <li ng-repeat="n in range(pagedArticles.length)"
            ng-class="{active: n == currentPage}"
            ng-click="setPage()">
            <a href ng-bind="n + 1">1</a>
          </li>
          <li ng-class="{disabled: currentPage == pagedArticles.length - 1}">
            <a href ng-click="nextPage()">Next</a>
          </li>
        </ul>
      </div>
    </div>

  <div class="article-detail" ng-class="{visible: lightbox()}">
    <header>
      <div class="logo">
        <!--(bake-start _if="server")-->
          <img src="images/shared/starkey_logo.svg">
        <!--(bake-end)-->
        <!--(bake-start _if="dist")-->
          <img src="images/starkey/starkey_logo.svg">
        <!--(bake-end)-->
      </div>

      <div class='tagline'>
        <h1>So The World May Hear.</h1>
      </div>

      <div class='social-links'>
        <ul>
          <li>
            <a href='#' class="icon starkey-twitter-link"></a>
          </li>
          <li>
            <a href='#' class="icon starkey-fb-link"></a>
          </li>
          <li>
            <a href='#' class="icon starkey-insta-link"></a>
          </li>
          <li>
            <a href='#' class="icon starkey-youtube"></a>
          </li>
        </ul>
      </div>
    </header>

    <section class='outer-container'>
      <nav class='header-nav'>
        <div class='centered-half-container'>
          <ul class='tabs row-table'>
            <li>
              <a href='#' data-content-class='.who-we-are'>Who we are</a>
            </li>
            <li>
              <a href='#' data-content-class='.what-we-do'>What we do</a>
            </li>
            <li>
              <a href='#' data-content-class='.get-involved'>Get involved</a>
            </li>
          </ul>
        </div>
          <!-- <hr/> -->
        <article class='tab-content who-we-are'>
          <ul>
            <li>
              <a href="#">
                <h3 class="highlight">About Us</h3>
                <h2>Our Mission</h2>
              </a>
            </li>
            <li>
              <a href="#">
                <h3 class="highlight">Team</h3>
                <h2>Lorem ipsum dolor sit amet, vixtua</h2>
              </a>
            </li>
            <li>
              <!--(bake-start _if="server")-->
              <a href="/media_mentions.html">
              <!--(bake-end)-->
              <!--(bake-start _if="dist")-->
              <a href="{path='media_mentions/index'}">
              <!--(bake-end)-->
                <h3 class="highlight">Media Mentions</h3>
                <h2>Lorem ipsum dolot, vix dico voluptua</h2>
              </a>
            </li>
            <li>
              <a href="#">
                <h3 class="highlight">Contact</h3>
                <h2>Lorem ipsum dolor sit amet, vix dico voluptua</h2>
              </a>
            </li>
          </ul>
        </article>
        <article class='tab-content what-we-do'>
          <ul>
            <li>
              <a href="#">
                <h3 class="highlight">Mission</h3>
                <h2>Our Global Impact</h2>
              </a>
            </li>
            <li>
              <!--(bake-start _if="server")-->
              <a href="/programs.html">
              <!--(bake-end)-->
              <!--(bake-start _if="dist")-->
              <a href="{path='programs/index'}">
              <!--(bake-end)-->
                <h3 class="highlight">Programs</h3>
                <h2>Help on the homefront</h2>
                <p>Lorem ipsum dolor sit amet, vix dico voluptua</p>
              </a>
            </li>
            <li>
              <a href="#">
                <h3 class="highlight">Gala</h3>
                <h2>So the world may hear</h2>
                <p>Lorem ipsum dolor sit amet, vix dico voluptua</p>
              </a>
            </li>
            <li>
              <!--(bake-start _if="server")-->
              <a href="/blog.html">
              <!--(bake-end)-->
              <!--(bake-start _if="dist")-->
              <a href="{path='blog/index'}">
              <!--(bake-end)-->
                <h3 class="highlight">Blog</h3>
                <h2>Daily Action</h2>
                <p>Lorem ipsum dolor sit amet, vix dico voluptua</p>
              </a>
            </li>
          </ul>
        </article>
        <article class='tab-content get-involved'>
          <ul>
            <li>
              <a href="#">
                <h3 class="highlight">Take Action</h3>
                <h2>Lorem ipsum dolor sit amet, vix dico voluptua</h2>
              </a>
            </li>
            <li>
              <a href="#">
                <h3 class="highlight">Donate Now</h3>
                <h2>Lorem ipsum dolor sit amet, vix dico voluptua</h2>
              </a>
            </li>
          </ul>
        </article>
      </nav>
    </section>

    <div class="outer-container">
      <span class="close"><a href="#">X</a></span>

      <h1>{{lightbox().title}}</h1>
      {{lightbox().text}}
    </div>
  </div>

</div>