<div ng-controller="PaginationController">
    <div class="pagination-featured">
      <div ng-repeat="featuredArticle in featured">
        <h1>{{featuredArticle.title}}</h1>
      </div>
    </div>

    <div class="pagination">
      <ul>
        <li ng-class="{disabled: currentPage == 0}">
          <a href ng-click="prevPage()">Prev</a>
        </li>
        <li ng-repeat="n in range(pagedArticles.length)"
          ng-class="{active: n == currentPage}"
          ng-click="setPage()">
          <a href ng-bind="n + 1">1</a>
        </li>
        <li ng-class="{disabled: currentPage == pagedArticles.length - 1}">
          <a href ng-click="nextPage()">Next</a>
        </li>
      </ul>
    </div>
    <div class="spacer"></div>
    <div class="outer-container">
      <div class="pagination-articles " ng-repeat="articleCol in pagedArticles[currentPage]">
        <div ng-repeat="article in articleCol">
          <pagination article="article" lightbox="lightbox" add-tag="addTag" class= "row"></pagination>
        </div>
      </div>
    </div>
    <div class="center">
      <div class="pagination">
        <ul>
          <li ng-class="{disabled: currentPage == 0}">
            <a href ng-click="prevPage()">Prev</a>
          </li>
          <li ng-repeat="n in range(pagedArticles.length)"
            ng-class="{active: n == currentPage}"
            ng-click="setPage()">
            <a href ng-bind="n + 1">1</a>
          </li>
          <li ng-class="{disabled: currentPage == pagedArticles.length - 1}">
            <a href ng-click="nextPage()">Next</a>
          </li>
        </ul>
      </div>
    </div>

  <div class="modal fade" ng-class="{in: lightbox()}">
    <div class="modal-header">
      <button type="button" class="close" ng-click="lightbox(false)">×</button>
      <h2>{{lightbox().title}}</h2>
    </div>
    <div class="modal-body">
      <a href="{{lightbox().url}}">
      Modal
      </a>
      <p>{{lightbox().desc}}</p>
      <p>
        <span class="label label-info pagination-tag" ng-repeat="tag in lightbox().tags">{{tag}}</span>
      </p>
    </div>
    <div class="modal-footer">
      <a href="{{lightbox().url}}" class="btn btn-primary">Check out the App</a>
      <a ng-show="lightbox().src" href="{{lightbox().src}}" class="btn">View the Source</a>
      <a ng-show="lightbox().info" href="{{lightbox().info}}" class="btn">Read More</a>
    </div>
  </div>
  <div class="modal-backdrop fade" ng-class="{in: lightbox()}" ng-click='lightbox(false)'></div>

</div>