<section class="carousel hero" ng-controller="heroCarouselCtrl">

  <div class="swiper-controls">
    <a href="#" class="left"><span class="icon starkey-pg-arrow-left"></span></a>
    <a href="#" class="right"><span class="icon starkey-pg-arrow-right"></span></a>

    <ul class="position-indicator" id="hero-position" data-slider="hero">
      <li class="on" data-id="1"><a href="#"></a></li>
      <li class="" data-id="2"><a href="#"></a></li>
      <li class="" data-id="3"><a href="#"></a></li>
    </ul>
  </div>

  <swiper class="swiper" speed="5000" continuous="true" auto="false">
    <div class="slide">
      <article>
        <img src="uploads/home/hero/commitment_to_action_film.jpg" />
      </article>
      <aside>
        <h1>Commitment to Action</h1>
        <p>In 2010, we committed to providing 100,000 hearing aids a year to those in need, a commitment of 1 million hearing aids for the decade.</p>
        <a href='#' class="action-link">Watch video</a>
      </aside>
    </div>

    <div class="slide">
      <article>
        <img src="uploads/home/hero/building_sustainable_systems_of_hearing_care.jpg" />
      </article>
      <aside>
        <h1>Building Sustainable Systems of Hearing Care</h1>
        <p>To truly make an impact, our efforts must be sustainable. See how, by working closely, with on-the-ground partners, we bring patients long-term hearing care. We incorporate a full-circle approach that ensures patients will be connected to the world of sound for years to come.</p>
        <a href='#' class="action-link">See what it takes to create lasting change.</a>
      </aside>
    </div>

    <div class="slide">
      <article>
        <img src="uploads/home/hero/vikings_mission.jpg" />
      </article>
      <aside>
        <h1>Hear at Home</h1>
        <p>Starkey Hearing Foundation has provided more hearing help to people in the United States than to any other country through domestic missions and the daily efforts of Hear Now, our  application-based program that provides hearing help to low-income Americans. Each person we help is fit with brand new, top-of-the-line digital hearing aids that are customized to their hearing loss.</p>
        <a href='http://www.starkeyhearingfoundation.org/programs/hear-now/' class="action-link">Find out how we are changing lives in America every day.</a>
      </aside>
    </div>

  </swiper>

</section>