<section class='carousel bottom thumblist full'>
  <thumblist-nav>
  <!--(bake-start _if="server")-->
    <thumblist-nav>
      <div ng-repeat="article in articles | filter:{featured:'true'}">
        <div class="image" ng-style="{'background-image': 'url(' + article.thumbnail_image_url + ')'}"></div>
        <div class="content">
          <a href="#/articles/{{article.id}}">
            <h4>{{article.title}}</h4>
          </a>
          <p class="date">{{article.date}}</p>
        </div>
      </div>
    </thumblist-nav>
  <!--(bake-end)-->

  <!--(bake-start _if="dist")-->
    {exp:channel:entries channel=" homepage_main_carousel" limit="10"}
    <div>
      <img src="{carousel_image}">
      <!-- TODO: insert blog category title -->
      <p class="blog-category">Hearing Missions</p>
      <h4>{title}</h4>
    </div>
    {/exp:channel:entries}
  <!--(bake-end)-->

  </thumblist-nav>
</section>
