<section class='carousel bottom' ng-controller="bottomCarouselCtrl">
  <thumblist-nav>
  <!--(bake-start _if="server")-->
    <div>
      <img src="uploads/home/feature/building_a_better_kibera.jpg">
      <h4>Global Hearing Mission</h4>
      <button ng-click="slide(0)">read stories &rarr;</button>
    </div>
    <div>
      <img src="uploads/home/feature/building_a_better_kibera.jpg">
      <h4>Global Hearing Mission</h4>
      <button ng-click="slide(0)">read stories &rarr;</button>
    </div>
    <div>
      <img src="uploads/home/feature/building_a_better_kibera.jpg">
      <h4>Global Hearing Mission</h4>
      <button ng-click="slide(0)">read stories &rarr;</button>
    </div>
    <div>
      <img src="uploads/home/feature/building_a_better_kibera.jpg">
      <h4>Global Hearing Mission</h4>
      <button ng-click="slide(0)">read stories &rarr;</button>
    </div>
    <div>
      <img src="uploads/home/feature/building_a_better_kibera.jpg">
      <h4>Global Hearing Mission</h4>
      <button ng-click="slide(0)">read stories &rarr;</button>
    </div>
  <!--(bake-end)-->

  <!--(bake-start _if="dist")-->
    {exp:channel:entries channel=" homepage_main_carousel" limit="10"}
    <div>
      <img src="{carousel_image}">
      <h4>{title}</h4>
      <button ng-click="slide({count})">watch video &rarr;</button>
    </div>
    {/exp:channel:entries}
  <!--(bake-end)-->

  </thumblist-nav>
</section>
