  <section class='page-leader'>
    <h1>
      Hearing Missions
    </h1>
    <p>
      Through 2010, we provided more than 1 million hearing aids to people in <br/>
      need worldwide. We commit to providing 1 million more this decade.
    </p>
  </section>

  <missions-map data="data"></missions-map>

  <div class="outer-container">
    <section class='tabbed-content'>
      <nav>
          <ul class='tabs row-table'>
            <li ng-class="{active: currentTab.tabId==0}">
              <a href>About Mission</a>
            </li>
            <li ng-class="{active: currentTab.tabId==1}">
              <a href>Community Based</a>
            </li>
            <li ng-class="{active: currentTab.tabId==2}">
              <a href>Three Phases</a>
            </li>
          </ul>
      </nav>
    </section>
  </div>

  <br/>