  <section class='page-leader'>
    <h1>
      {{missions.page_title}}
    </h1>
    <div class="fixed-width bigger uppercase missions-lead-text" ng-bind-html="missions.page_lead"></div>
  </section>

  <missions-map data="data"></missions-map>
  <section class="hearing-missions-statistics">
    <ul>
      <li ng-repeat="statistic in statistics" ng-class="{first: $index==0}">
        <h1>
          {{statistic.name}}
        </h1>
        <p>
          {{statistic.tagline}}
        </p>
      </li>
    </ul>
  </section>
  <div class="outer-container" id="hearing-landing-content">
    <section class='tabbed-content'>
      <nav class="outer-container">
          <ul class='tabs three-tabs row-table'>
            <li ng-repeat="content_tab in content_tabs" ng-class="{active: currentTab==$index,last:$index==2}" ng-click="changeTab($index)">
              <a href>{{content_tab.tab_title}}</a>
            </li>
          </ul>
      </nav>
      <article ng-repeat="content_tab in content_tabs" ng-show="currentTab==$index">
        <div class="image"><img ng-src="{{content_tab.thumbnail_image_url}}"></div>
        <div class="content">
          <h1>{{content_tab.content_title}}</h1>
          <p ng-bind-html="content_tab.content"></p>
        </div>
      </article>
    </section>
  </div>

  <section class='page-leader highlights-header'>
    <h1>
      Highlights
    </h1>
  </section>

  <section class="carousel hero mission-highlights-carousel">
    <div swiper
      continuous="true"
      speed="2000"
      identifier="swiper_1"
      auto="8000"
      paginator="true"
      size="short"
      >
        <div slide
          ng-repeat="highlight in highlights"
          image-url="{{highlight.image}}"
          background-color=""
          quote=""
          link-url="#/missions/{{highlight.id}}"
          headline="{{highlight.title}}"
          subhead="{{highlight.subtitle}}"
          body-copy="{{highlight.excerpt | characters:450}}"
          logo-image-url=""
          link-style=""
          link-text=""
          layout="side-panel"
          detail-page="true"
          >
        </div>
    </div>
  </section>

  <section class='articles-list mission-highlights-list'>
    <ul class="pagination-articles press-items tablet" ng-if="highlights">
      <li ng-repeat="highlight in highlights" class="reveal">
        <page-tile
          id="{{highlight.id}}"
          title="{{highlight.title}}"
          date="{{highlight.date}}"
          date_format="'MMMM yyyy'"
          detail_page="true"
          type="missions_highlight"
          featured="{{highlight.featured}}"
          header_image_url="{{highlight.image}}"
          logo_image_url=""
          quote=""
          call_to_action_text=""
          call_to_action_link=""
          video_link=""
          category="{{highlight.country}}"
        ></page-tile>
      </li>
    </ul>
    <div class="clearfix"></div>
  </section>

  <p class="centered all-missions"><a href="#/highlights" class="link-with-border">See all Hearing Missions</a></p>