<div class="outer-container">
  <div class="masthead">
    <h3 class="section-title">Blog</h3>
    <h3 class="section-headline">News &amp; Events</h3>
    <p>Click around to read our latest news and updates.</p>
    <p class="call-to-action">
      <a href ng-click="openSubscribeForm()" scroll-to-position="subscribeFormAnchor">Subscribe to our newsletter</a>
      to stay up to date
    </p>
  </div>
</div>

<section class='starkey-stories-carousel carousel hero'>
  <swiper
    continuous="true"
    speed="2000"
    identifier="swiper_1"
    auto="8000"
    paginator="true"
    size="short"
    >
    thumblist="true"
    image-url="{{article.thumbnail_image_url}}"
    blog-category="{{article.blog_item_category}}"
    video-url=""
    link-url="#/articles/{{article.id}}"
    headline="{{article.title}}"
    link-text=""
    <!--(bake-start _if="dist")-->
      {exp:channel:entries channel="carousels" dynamic="no" limit="1" disable="{global:param_disable_default}"}
        <slide
          image-url="{article.thumbnail_image_url}"
          background-color=""
          quote=""
          video-url=""
          link-url="#/articles/{article.id}"
          headline="{article.title}"
          body-copy=""
          logo-image-url=""
          link-style=""
          link-text="Read More →"
        >
      </slide>
      {/exp:channel:entries}
    <!--(bake-end)-->
    <!--(bake-start _if="server")-->
      <slide
          image-url="http://starkey.local/uploads/images/MAP-Vikings_Mission-IMG_6064.JPG"
          background-color=""
          quote=""
          video-url=""
          link-url="http://www.youtube.com/watch?v=pfW1S5KAi44"
          headline="Building Momentum for Peace in the West Bank"
          body-copy=""
          logo-image-url=""
          link-style=""
          link-text="Read More →"
        >
      </slide>
      <slide
          image-url="http://starkey.ahundredyears.com/uploads/images/HERO-Commitment_to_Action_Film.jpg"
          background-color=""
          quote=""
          video-url=""
          link-url="http://www.youtube.com/watch?v=pfW1S5KAi44"
          headline="Building Momentum for Peace in the West Bank"
          body-copy=""
          logo-image-url=""
          link-style=""
          link-text="Read More →"
        >
      </slide>
    <!--(bake-end)-->
  </swiper>
</section>

<section class='carousel'>
  <thumblist-nav full="true">
    <div ng-repeat="article in articles | filter:{featured:'true'}">
      <slide
        thumblist="true"
        image-url="{{article.thumbnail_image_url}}"
        blog-category="{{article.blog_item_category}}"
        video-url=""
        link-url="#/articles/{{article.id}}"
        headline="{{article.title}}"
        link-text=""
      ></slide>
    </div>
  </thumblist-nav>
</section>

<br/>
<div class="outer-container">
  <div class="pagination">
    <ul>
      <li class="disabled">
        <a href ng-disabled="pagination.page == 0" ng-click="pagination.prevPage()"><span class="icon starkey-pg-arrow-left">&nbsp;</span>Prev</a>
      </li>
      <li ng-repeat="n in [] | range: pagination.numPages" ng-class="{active: $index==pagination.page}">
        <a href ng-click="pagination.toPageId(n)">{{n + 1}}</a>
      </li>
      <li class="disabled">
        <a href ng-click="pagination.nextPage()">Next <span class="icon starkey-pg-arrow-right">&nbsp;</span></a>
      </li>
    </ul>
  </div>

  <ul class="articles-filters">
    <li>Sort &nbsp;|</li>
    <li class="dropdown wide">
      <select ng-model="articleFilters.blog_item_category" class="dropdown-select">
        <option ng-repeat="cat in articleCategories" value="{{cat.tag}}">{{cat.name}}</option>
      </select>
    </li>
    <li>|</li>
    <li class="dropdown narrow">
      <select ng-model="articleFilters.year" class="dropdown-select">
        <option ng-repeat="year in articleYears" value="{{year.tag}}">{{year.name}}</option>
      </select>
    </li>
  </ul>

  <section class="pagination-articles">
    <div class="article" ng-repeat="article in articles | filter:articleFilters | startFrom: pagination.page * pagination.perPage | limitTo: pagination.perPage">
      <div class='block'>
        <div class="image" ng-style="{'background-image': 'url(' + article.thumbnail_image_url + ')'}"></div>
        <div class="content">
          <h2 class="headline">{{article.title}}</h2>
          <p class='date'>{{parseDate(article.date) | date:"MMMM d yyyy"}}</p>
          <p class='read-more'><a href="#/articles/{{article.id}}">Read more &rarr;</a></p>
        </div>
      </div>
    </div>
  </section>

  <div class="pagination">
    <ul>
      <li class="disabled">
        <a href ng-disabled="pagination.page == 0" ng-click="pagination.prevPage()"><span class="icon starkey-pg-arrow-left">&nbsp;</span>Prev</a>
      </li>
      <li ng-repeat="n in [] | range: pagination.numPages" ng-class="{active: $index==pagination.page}">
        <a href ng-click="pagination.toPageId(n)">{{n + 1}}</a>
      </li>
      <li class="disabled">
        <a href ng-click="pagination.nextPage()">Next <span class="icon starkey-pg-arrow-right">&nbsp;</span></a>
      </li>
    </ul>
  </div>
</div>