<div>
  <section class='mobile-carousel carousel hero add-bottom-border'>
    <swiper
      continuous="true"
      speed="2000"
      identifier="swiper_1"
      auto="8000"
      paginator="true"
      size="short"
      >
      <div ng-repeat="article in blogArticles | filter:{featured:'true'}">
        <slide
          image-url="{{article.thumbnail_image_url}}"
          blog-category="{{article.category}}"
          video-url=""
          link-url="#/articles/{{article.id}}"
          headline="{{article.title}}"
          link-text="Read More →"
        ></slide>
      </div>
    </swiper>
  </section>

  <section class='carousel thumblist'>
    <thumblist-nav full="true">
      <slide
        ng-repeat="article in blogArticles | filter:{featured:'true'}"
        thumblist="true"
        image-url="{{article.thumbnail_image_url}}"
        blog-category="{{article.category}}"
        video-url=""
        link-url="#/articles/{{article.id}}"
        headline="{{article.title}}"
        link-text=""
      ></slide>
    </thumblist-nav>
  </section>

  <paginated-article-list per-page="9" articles="blogArticles" filters="blogFilters"></paginated-article-list>