<div class="article-header-image">
  <div class="image" ng-style="{'background-image': 'url(' + article.image_url + ')'}">
    <ul class="page-nav-links">
      <li>
        <a href="#/articles/{{article.prev_item}}" ng-disabled="currentPosition == article.prev_item">&larr;</a>
      </li>
      <li>
        <a href="#/articles/{{article.next_item}}" ng-disabled="currentPosition == article.next_item" >&rarr;</a>
      </li>
      <li>
        <a href="#">X</a>
      </li>
    </ul>
    <div class="gradient-background"></div>
    <div class="outer-container">
      <div class="relative-container">
        <div class="banner">
          <p class="article-item-category">{{article.blog_item_category}}</p>
          <h1  class="article-title">{{article.title}}</h1>
          <p>{{parseDate(article.date) | date:"MMMM d yyyy"}} | {{article.author}}</p>
        </div>
      </div>
    </div>
  </div>
</div>
<br/>
<div class="outer-container">
  <div ng-bind-html="article.text"></div>

  <div class="share-this-post">
    <ul>
      <li><span class="note">Share this post</span></li>
      <li>
        <a href="#">
          <span class="icon starkey-share-twitter"></span>
        </a>
      </li>
      <li>
        <a href="#">
          <span class="icon starkey-share-fb"></span>
        </a>
      </li>
      <li>
        <a href="#">
          <span class="icon starkey-share-email"></span>
        </a>
      </li>
    </ul>
  </div>

  <h3 class="section-title centered">Related posts</h3>
  <section class='carousel'>
    <thumblist-nav>
      <div ng-repeat="article in articles | filter:{featured:'true'}">
        <slide
          thumblist="true"
          image-url="{{article.thumbnail_image_url}}"
          video-url=""
          link-url="#/articles/{{article.id}}"
          headline="{{article.title}}"
          link-style=""
          date="{{article.date}}"
        ></slide>
      </div>
    </thumblist-nav>
  </section>
</div>
<br/>
<hr class="separator padded"/>

<div class="outer-container">
  <div class="pagination">
    <ul>
      <li ng-class="{disabled: currentPage == 0}">
        <a href ng-disabled="currentPage == 0" ng-click="currentPage=currentPage-1">Prev</a>
      </li>
      <li ng-class="{disabled: currentPage >= articles.length/pageSize - 1}">
        <a href ng-click="currentPage=currentPage+1">Next</a>
      </li>
    </ul>
  </div>
  <ul class="pagination-articles">
    <li ng-repeat="article in articles | filter:{featured:'false'} | startFrom:currentPage*pageSize | limitTo:pageSize">
      <div class='block'>
        <div class="image" ng-style="{'background-image': 'url(' + article.thumbnail_image_url + ')'}"></div>
        <h2 class="headline">{{article.title}}</h2>
        <p class='read-more'><a href="#/articles/{{article.id}}">Read more &rarr;</a></p>
      </div>
    </li>
  </ul>
</div>