<div ng-bind-html="article"></div>
<br/>
<div class="outer-container">
  <h3 class="section-title centered">Related posts</h3>
  <section class='carousel'>
    <div thumblist-nav full="true">
      <slide
        ng-repeat="article in articles | filter:{featured:'true'}"
        thumblist="true"
        image-url="{{article.thumbnail_image_url}}"
        video-url=""
        link-url="#/articles/{{article.id}}"
        headline="{{article.title}}"
        link-style=""
        date="{{article.date}}"
      ></slide>
    </div>
  </section>
</div>
<br/>
<hr class="separator padded"/>

<div paginated-article-list per-page="3" articles="blogArticles" filters="blogFilters"></div>