<!doctype html xmlns:ng="http://angularjs.org/">
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->

  <head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Starkey Hearing Foundation</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, user-scalable=no">
  <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
  
  <link rel="stylesheet" href="/assets/styles/99b0485b.main.css"/>
  
  </head>
  <body class='legal-page page' ng:app="legalPagesApp" ng:controller="globalCtrl">

    <!--[if lt IE 10]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <video-player-modal show='videoIframe' width='90%' height='90%'></video-player-modal>
    
    <header>
      <div class="logo">
        <a href="/">

          <img src="/images/starkey/starkey_logo.svg">
        </a>
      </div>
    
      <div class='tagline'>
        <h1>So The World May Hear.</h1>
      </div>
    
      <div class='social-links'>
        <ul>
          <li>
            <a href='#' class="icon starkey-twitter-link"></a>
          </li>
          <li>
            <a href='#' class="icon starkey-fb-link"></a>
          </li>
          <li>
            <a href='#' class="icon starkey-insta-link"></a>
          </li>
          <li>
            <a href='#' class="icon starkey-youtube"></a>
          </li>
        </ul>
      </div>
    </header>
    
    <section class='outer-container'>
      <nav class='header-nav'>
        <div class='centered-half-container'>
          <ul class='tabs row-table'>
            <li>
              <a href='#' data-content-class='.who-we-are'>Who we are</a>
            </li>
            <li>
              <a href='#' data-content-class='.what-we-do'>What we do</a>
            </li>
            <li>
              <a href='#' data-content-class='.get-involved'>Get involved</a>
            </li>
          </ul>
        </div>
        <article class='tab-content who-we-are'>
          <ul>
            <li>

              <a href="{site_url}/about-us">
    
    
                <h3 class="highlight">About Us</h3>
                <h2>Our Mission</h2>
              </a>
            </li>
            <li>

              <a href="{site_url}/team">
                <h3 class="highlight">Team</h3>
                <h2>Lorem ipsum dolor sit amet, vixtua</h2>
              </a>
            </li>
            <li>

              <a href="{path='media_mentions/index'}">
                <h3 class="highlight">Media Mentions</h3>
                <h2>Lorem ipsum dolot, vix dico voluptua</h2>
              </a>
            </li>
            <li>

              <a href="{site_url}/contact">
                <h3 class="highlight">Contact</h3>
                <h2>Lorem ipsum dolor sit amet, vix dico voluptua</h2>
              </a>
            </li>
          </ul>
        </article>
        <article class='tab-content what-we-do'>
          <ul>
            <li>

              <a href="{path='missions/index'}">
                <h3 class="highlight">Mission</h3>
                <h2>Our Global Impact</h2>
              </a>
            </li>
            <li>

              <a href="{path='programs/index'}">
                <h3 class="highlight">Programs</h3>
                <h2>Help on the homefront</h2>
                <p>Lorem ipsum dolor sit amet, vix dico voluptua</p>
              </a>
            </li>
            <li>

              <a href="{path='gala/index'}">
                <h3 class="highlight">Gala</h3>
                <h2>So the world may hear</h2>
                <p>Lorem ipsum dolor sit amet, vix dico voluptua</p>
              </a>
            </li>
            <li>

              <a href="{path='blog/index'}">
                <h3 class="highlight">Blog</h3>
                <h2>Daily Action</h2>
                <p>Lorem ipsum dolor sit amet, vix dico voluptua</p>
              </a>
            </li>
          </ul>
        </article>
        <article class='tab-content get-involved'>
          <ul>
            <li>

              <a href="{path='take_action/index'}">
                <h3 class="highlight">Take Action</h3>
                <h2>Lorem ipsum dolor sit amet, vix dico voluptua</h2>
              </a>
            </li>
            <li>
              <a href="#">
                <h3 class="highlight">Donate Now</h3>
                <h2>Lorem ipsum dolor sit amet, vix dico voluptua</h2>
              </a>
            </li>
          </ul>
        </article>
      </nav>
    </section>
    

    <!-- Main content section -->
    {exp:channel:entries channel="legal" dynamic="no" limit="1" disable="{global:param_disable_default}"}
    <section class='page-leader'>
      <h1>

        {title}
      </h1>
    </section>

    <div ng:controller="LegalPagesCtrl">
      <section class='tabbed-content'>
        <nav class="outer-container">
            <ul class='three-tabs'>
              <li ng-class="{active: currentTab==0}">
                <a href ng-click="currentTab=0">Terms &amp; Conditions</a>
              </li>
              <li ng-class="{active: currentTab==1}">
                <a href ng-click="currentTab=1">Privacy Policy</a>
              </li>
              <li class="last" ng-class="{active: currentTab==2}">
                <a href ng-click="currentTab=2">Financials</a>
              </li>
            </ul>
        </nav>
      </section>

      <article class="article-section" ng-show="currentTab==0">
        {legal_terms}


      </article>

      <article class="article-section" ng-show="currentTab==1">
        {legal_privacy}
      </article>

      <article class="article-section documents-list" ng-show="currentTab==2">

        <ul>
          <h3>

            {legal_financials_title}
          </h3>

          {legal_financials}
            <li><a href="{legal_financials:file}"><span class="uppercase">{legal_financials:label}</span><br>Download <span class="uppercase">({legal_financials:file:extension}, {legal_financials:file:size}s)</span></a></li>
          {/legal_financials}
        </ul>
      </article>
    </div>
    {/exp:channel:entries}
    <footer>
      <div class='mobile-footer-subscribe'>
        <a href ng-click="toggleSubscribeForm()" scroll-to-position="subscribeFormAnchor">SUBSCRIBE TO OUR NEWSLETTER &rarr;</a>
      </div>
      <div>
        <section class='social-info'>
          <ul>
            <li class='blog'>
              <span class="icon starkey-blog"></span>
              <div>
                <h4>From our blog</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
              </div>
              <p class="read-more"><a href='#'>Check out our blog &rarr;</a></p>
            </li>
            <li class='facebook'>
              <span class="icon starkey-fb"></span>
              <div>
                <h1>29,000 <strong>fans</strong></h1>
              </div>
              <p class="read-more"><a href='#'>Like us</a></p>
            </li>
            <li class='instagram'>
              <span class="icon starkey-insta"></span>
              <div>
                <ul class='thumbs'>
                  <li>
                    <img src="http://placehold.it/40x40">
                  </li>
                  <li>
                    <img src="http://placehold.it/40x40">
                  </li>
                  <li>
                    <img src="http://placehold.it/40x40">
                  </li>
                  <li>
                    <img src="http://placehold.it/40x40">
                  </li>
                </ul>
              </div>
              <p class="read-more"><a href='#'>Follow us &rarr;</a></p>
            </li>
            <li class='twitter'>
              <span class="icon starkey-share-twitter"></span>
              <div>
                <p class='tweet'>Lorem ipsum dolor sit amet, consectetur adipisicing elit. In, ducimus atque veniam magni debitis dignissimos.</p>
                <span class="time">15 sec ago</span>
              </div>
              <p class="read-more"><a href='#'>Follow us &rarr;</a></p>
    
            </li>
          </ul>
        </section>
        <section class='footer-links'>
          <ul>
            <li class='legal-links'>

              <a href="{path='legal/index'}">
                Legal / Financials &rarr;
              </a>
            </li>
            <li class='desktop-footer-subscribe'><a href ng-click="toggleSubscribeForm()" scroll-to-position="subscribeFormAnchor" >Subscribe to our newsletter &rarr;</a></li>
            <li class='copyright'><p>&copy; Starkey Hearing Foundation 2014</p></li>
          </ul>
        </section>
        <div class="clearfix"></div>
        <section>
          <div class="reveal outer-container form" ng-show="showSubscribeForm==true">
            <form action="" accept-charset="utf-8" class="flatform invert" method="post">
              <ul>
                <li class="leftHalf">
                    <input type="text" name="first_name" value="" id="freeform_first_name" maxlength="150" placeholder="FIRST NAME*"  />
                </li>
    
                <li class="rightHalf">
                    <input type="text" name="last_name" value="" id="freeform_last_name" maxlength="150" placeholder="LAST NAME*"  />
                </li>
    
                <li class="full">
                    <input type="text" name="email" value="" id="freeform_email" maxlength="150" placeholder="EMAIL*"  />
                </li>
    
                <li class="leftFourth">
                    <input type="text" name="address" value="" id="freeform_address" maxlength="150" placeholder="ADDRESS*"  />
                </li>
    
                <li class="middleFourthFirst">
                    <input type="text" name="city" value="" id="freeform_city" maxlength="150" placeholder="CITY*"  />
                </li>
    
                <li class="middleFourthSecond">
                    <input type="text" name="state" value="" id="freeform_state" maxlength="150" placeholder="STATE*"  />
                </li>
    
                <li class="rightFourth">
                    <input type="text" name="zip" value="" id="freeform_zip" maxlength="150" placeholder="ZIP*"  />
                </li>
    
                <li class="full centered">
                  <br/>
                    <input type="submit" name="submit" value="SUBMIT"/>
                </li>
              </ul>
            </form>
          </div>
        </section>
        <p id="subscribeFormAnchor" style="display: block;">&nbsp;</p>
      </div>
    </footer>

    <script src="/assets/scripts/52ac805d.vendor.js"></script>
    
    <script src="/assets/scripts/47c08b75.main.js"></script>
    
    <script src="/assets/scripts/f7bcce96.plugins.js"></script>
    

</body>
</html>
