.flatform {

  ul {
    padding-left: 0;
  }

  &.invert {
    select, input[type="text"], input[type="email"], label, textarea {
      border-color: #FFF;
      color: $gray-title;
    }
    input[type="submit"] {
      background: none;
      font-size: 1em;
      font-weight: bold;
      padding: 8px 60px 5px;
      border: 2px solid $light-blue;
      color: $light-blue;
      text-transform: uppercase;
    }
    textarea {
      height: 180px;
    }
  }

  select,
  input[type="text"],
  input[type="email"],
  textarea {
    outline: none;
    font-size: 1em;
    line-height: 1.2;
    padding: 5px 15px 0px;
    height: 50px;
    border: 1px solid #000;
    color: #000;
    background: #eee;
    -webkit-appearance: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    width: 100%;
    border-radius: 0px;

    @include transition(0.25s all linear);
  }

  label {
    &:after { content: '\A'; }
    text-transform: uppercase;
  }

  input[type="checkbox"] {
    width: auto;
    margin: 4px 0 0;
    margin-top: 1px \9;
    line-height: normal;
    background: normal;
    padding: 0;
  }

  li {

    display: inline-block;
    padding: 0.25em;

    &.full {
      clear: left !important;
      width: 100% !important;
    }

    &.leftHalf, &.rightHalf {
      width: 50% !important;
    }


    &.leftFourth, &.middleFourthFirst, &.middleFourthSecond, &.rightFourth {
      width: 25% !important;
      @include media($mobile) {
        width: 50% !important;
      }
    }

    &.leftFourth, &.rightFourth {
      clear: none !important;
      float: left;
    }

    &.middleFourthFirst, &.middleFourthSecond, &.middleThird,  {
      clear: none !important;
      float: left;
    }

    &.rightHalf, &.rightThird {
      clear: none !important;
      float: right;
    }

    &.leftHalf, &.leftThird {
      clear: left !important;
      float: left;
    }

    &.has-error {
      select,
      input[type="text"],
      input[type="email"],
      textarea {
        border-color:red;
      }
    }
  }
}
