// Grid
header, footer {
  @include outer-container;
}

.outer-container {
  @include outer-container;
}

.centered-half-container {
  @include span-columns(6);
  @include shift(3);
}

.row-table {
  @include row(table);
}

.full-width-container {
  @include span-columns(12);
}

.text-container {
  h1, h2, h3, h4, h5, p:not(.no-container) {
    max-width: 68em;
    margin: 20px auto;
  }
  p:not(.no-container) {
    line-height: 1.8em;
  }
}

.narrow {
  width: 50%;
}