nav {
  .tabs {
    margin-bottom: 0;
    li {
      text-align: center;
      border-top: 1px dotted #333;
      border-right: 1px dotted #333;
      background: white;
      border-bottom: 1px dotted #333;
      @include pad();
      &:first-child {
        border-left: 1px dotted #333;
      }
      a {
        font-family: "Verlag A", "Verlag B";
        font-weight: 700;
        font-style: normal;
        font-size: 1em;
        text-decoration: none;
        text-transform: uppercase;
      }
      &:hover, &.active {
        a {
          color: $light-blue;
        }
      }
    }
  }
}

.header-nav {
  border-top: 1px dotted #333;
  margin-top: 60px;
  @include row(table);
  .centered-half-container {
    margin-top: -68px;
  }
  .tabs {
    li {
      @include span-columns(2 of 6);
      @include pad();
      &:hover, &.active {
        border-bottom: 1px solid #fff;
      }
    }
  }
  .tab-content {
    @include outer-container;
    ul {
      @include row(table);
      list-style: none;
      padding: 0;
      margin: 0;
      li {
        @include span-columns(2 of 6);
        border-bottom: 5px solid #3d4144;
        height: 185px;
        border-left: 1px dotted #333;
        padding: 20px;
        &:last-child {
          border-right: 1px dotted #333;
        }
        &:hover {
          border-bottom-color: $light-blue;
        }
        .highlight {
          text-transform: uppercase;
        }
        h1, h2, h3, h4, h5, h6, p {
          margin: 0;
          line-height: 1.25em;
        }
        h1 {
          font-size: 1.8em;
          line-height: 1em;
          margin-top: 7px;
        }
        h4 {
          font-size: .9em;
        }
        p {
          font-size: .85em;
          line-height: 1.4em;
          margin-top: 10px;
        }
      }
    }
    &.who-we-are, &.what-we-do {
      li {
      }
    }
    &.get-involved {
      li {
        @include span-columns(6 of 12);
      }
    }
  }
  hr {
    margin: -1px 0 0;
    border: none;
    border-bottom: 1px dotted #333;
  }
}

// Tabbed content
.tabbed-content {

  nav {
    border-bottom: 1px dotted #333;
    .tabs {
      text-align: center;
      margin-bottom: -1px;
      @include shift(1);
      li {
        @include span-columns(1 of 4);
        padding: 5px;
        a {
          font-size: .875em;
          @extend .alrightsanslight;
          display: block;
        }
        &.active {
          border-bottom: 1px solid white;
          a {
            color: $light-blue;
          }
        }
        &:hover {
          a {
            color: $light-blue;
          }
        }
      }
    }
  }
  .tab-content {
    text-align: center;
    margin-top: 60px;
    h1 {
      font-size: 2.25em;
    }
    h1, h2, h3, p {
      @extend .alrightsanslight;
    }
  }
}