nav {
  .tabs {
    margin-bottom: 0;
    li {
      text-align: center;
      border-top: $dotted-border;
      border-right: $dotted-border;
      background: white;
      border-bottom: $dotted-border;
      @include pad();
      &:first-child {
        border-left: $dotted-border;
      }
      a {
        font-weight: 700;
        font-size: 1em;
        text-transform: uppercase;
      }
      &:hover, &.active {
        a {
          color: $light-blue;
        }
      }
    }
  }
}

.header-nav {
  border-top: $dotted-border;
  margin-top: 80px;
  h1, h2, h3, h4 {
    @extend .alrightsansbold;
  }
  h3 {
    font-size: 0.85em;
    padding-bottom: 3px;
  }
  @include row(table);
  .tabs-wrap {
    max-width: 35.9em;
    margin: auto;
  }
  .tabs {
    margin: -58px 0 0 0;
    padding: 0;
    li {
      float: left;
      width: 33.33%;
      padding: 0;
      // FF Fix
      list-style: none;
      a {
        display: block;
        width: 100%;
        padding: 14px 25px;
        @extend .verlagbold;
      }
      &.active, &:hover {
        border-bottom: 1px solid #fff;
      }
    }
  }
  .tab-content {
    @include outer-container;
    max-width: none;
    border-bottom: 5px solid #3d4144;

    ul {
      @include row(table);
      max-width: 68em;
      list-style: none;
      padding: 0;
      margin: 20px auto -5px auto;
      li {
        @include span-columns(2 of 8);
        border-bottom: 5px solid #3d4144;
        border-left: $dotted-border;
        padding:0;

        > a {
          display: block;
          padding:20px;
          height: 160px;
        }

        &:first-child {
          border-left: none;
        }
        &:last-child {
          border-right: none;
        }
        &:hover {
          border-bottom-color: $light-blue;
        }
        .highlight {
          text-transform: uppercase;
        }
        h1, h2, h3, h4, h5, h6, p {
          margin: 0;
          line-height: 1.2em;
        }
        h1 {
          font-size: 1.8em;
          line-height: 1em;
          margin-top: 7px;
        }
        h4 {
          font-size: .9em;
        }
        p {
          font-size: .85em;
          line-height: 1.4em;
          margin-top: 10px;
        }
      }
    }
    &.get-involved {
      li {
        @include span-columns(6 of 12);
      }
    }
  }
  hr {
    margin: -1px 0 0;
    border: none;
    border-bottom: $dotted-border;
  }
  @include media($tablet) {
    .tab-content {
      ul {
        li {
          h2 {
            font-size: 1.1em;
          }
        }
      }
    }
  }
  @include media($mobile) {
    margin-top: 60px;
    display: none;
  }
}

// Tabbed content
.tabbed-content {
  nav {
    border-bottom: $dotted-border;
    .tabs {
      text-align: center;
      margin-bottom: -1px;
      @include shift(1);
      li {
        @include span-columns(1 of 4);
        padding: 5px;
        vertical-align: middle;
        a {
          font-size: .875em;
          @extend .alrightsanslight;
          display: block;
        }
        &.active {
          border-bottom: 1px solid white;
          a {
            color: $light-blue;
          }
        }
        &:hover {
          a {
            color: $light-blue;
          }
        }
      }
    }
    &.outer-container {
      .two-tabs, .three-tabs, .five-tabs {
        text-align: center;
        padding: 0;
        margin: 0 0 -1px;
        li {
          display: inline-block;
          border-left: $dotted-border;
          border-top: $dotted-border;
          margin: 0 0 0 -1px;
          a {
            font-size: .875em;
            @extend .alrightsanslight;
            display: block;
            padding: 2px 10px;
            text-transform: uppercase;
            &:hover {
              cursor: pointer;
            }
          }
          &.active {
            border-bottom: 1px solid white;
            a {
              color: $light-blue;
            }
          }
          &.last {
            border-right: $dotted-border;
          }
          &:hover {
            a {
              color: $light-blue;
            }
          }
        }
      }
      .two-tabs {
        li {
          width: 200px;
        }
      }
      .three-tabs {
        li {
          width: 200px;
          @include media($tablet-down) {
            width: 100%;
            margin: 0;
            a {
              font-size: 12px;
              font-weight: bold;
            }
          }
          a {
            padding: 10px 0 8px;
          }
        }
      }
      .five-tabs {
        li {
          width: 19.5%;
          margin-left: -3px;
          a {
            padding: 10px 0 8px;
          }
        }
      }
    }

    @media screen and (max-width: 900px) {
      &.outer-container {
        .five-tabs {
          padding: 0;
          margin: 10px 0 0 0;
          @include reset-display;
          li {
            @include span-columns(12);
            margin: 0;
            border: none;
            border-top: 1px dotted #333;
            a {
              font-size: 12px;
              font-weight: bold;
            }
            &.active {
              border-bottom: inherit;
            }
          }
        }
      }
    }

    @include media($tablet-down) {
      .tabs, {
        padding: 0;
        margin: 10px 0 0 0;
        @include reset-display;
        li {
          @include span-columns(12);
          border: none;
          border-top: 1px dotted #333;
          a {
            font-size: 12px;
            font-weight: bold;
          }
          &.active {
            border-bottom: inherit;
          }
        }
      }
    }
  }

  article {
    margin-top: 30px;
    .image {
      float: left;
      width: 50%;
      height: 410px;
      padding: 0;
    }
    .content {
      float: right;
      width: 50%;
      padding: 0 16px 0 30px;
      h1, h2, h3, p {
        @extend .alrightsanslight;
      }
      h1, h2, h3 {
        line-height: 1.2em;
      }
    }
  }
}

// Tab states

.contact-page, .team-page, .about-us-page, .media-mentions-page {
  .who-we-are {
    color: $light-blue;
  }
}

.hearing-missions-page, .programs-page, .gala-page, .blog-page {
  .what-we-do {
    color: $light-blue;
  }
}

.take-action-page {
  .get-involved {
    color: $light-blue;
  }
}