@import url("//cloud.typography.com/6529472/759942/css/fonts.css");
@import url("//cloud.webtype.com/css/8d17d6c8-e83f-46fe-a722-38375da99cb0.css");

@font-face {
    font-family: 'Starkey';
    src:url('fonts/Starkey.eot');
    src:url('fonts/Starkey.eot?#iefix') format('embedded-opentype'),
        url('fonts/Starkey.ttf') format('truetype'),
        url('fonts/Starkey.woff') format('woff'),
        url('fonts/Starkey.svg#StarkeyIcons') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    font-family: 'Starkey';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-zoom-out:before {
    content: "\e600";
}
.icon-zoom-in:before {
    content: "\e601";
}
.icon-youtube:before {
    content: "\e602";
}
.icon-twitter-link:before {
    content: "\e603";
}
.icon-to-top:before {
    content: "\e604";
}
.icon-share-twitter:before {
    content: "\e605";
}
.icon-share-fb:before {
    content: "\e606";
}
.icon-share-email:before {
    content: "\e607";
}
.icon-pg-arrow:before {
    content: "\e608";
}
.icon-pdf:before {
    content: "\e609";
}
.icon-missions1:before {
    content: "\e60a";
}
.icon-mission2:before {
    content: "\e60b";
}
.icon-link-passive:before {
    content: "\e60c";
}
.icon-link-active:before {
    content: "\e60d";
}
.icon-like-us:before {
    content: "\e60e";
}
.icon-legend-6:before {
    content: "\e60f";
}
.icon-legend-5:before {
    content: "\e610";
}
.icon-legend-4:before {
    content: "\e611";
}
.icon-legend-3:before {
    content: "\e612";
}
.icon-legend-2:before {
    content: "\e613";
}
.icon-legend-1:before {
    content: "\e614";
}
.icon-insta:before {
    content: "\e615";
}
.icon-insta-link:before {
    content: "\e616";
}
.icon-fb:before {
    content: "\e617";
}
.icon-fb-link:before {
    content: "\e618";
}
.icon-dd-passive:before {
    content: "\e619";
}
.icon-dd-active:before {
    content: "\e61a";
}
.icon-close:before {
    content: "\e61b";
}
.icon-blog:before {
    content: "\e61c";
}

.alrightsansbold {
  font-family: "Alright Sans";
  font-style: normal;
  font-weight: bold;
}

.alrightsanslight {
  font-family: "Alright Sans";
  font-style: normal;
  font-weight: normal;
}

.alrightsansregular {
  font-family: "Alright Sans";
  font-style: normal;
  font-weight: normal;
}

.verlag {
  font-family: "Verlag A", "Verlag B";
}

.verlagbold {
  @extend .verlag;
  font-weight: bold;
}

body {
  font-family: "Alright Sans", sans-serif;

  &.page {
    line-height: 1.8em;
    color: #3d4144;
  }
}

h1, h2, h3, h4 {
  font-family: "Verlag A", "Verlag B";
  font-weight: 700;
  font-style: normal;
}

a {
    text-decoration: none;
}

.centered {
  text-align: center;
}

.highlight {
  color: $light-blue;
}

.page-leader {
  @include outer-container;
  text-align: center;
  margin-top: 70px;
  h1 {
    font-size: 3.75em;
    text-transform: uppercase;
    @extend .alrightsansbold;
  }
  p {
    @extend .alrightsansregular;
  }
}
