@import url("//cloud.typography.com/6529472/759942/css/fonts.css");
@import url("//cloud.webtype.com/css/8d17d6c8-e83f-46fe-a722-38375da99cb0.css");

@font-face {
  font-family: 'starkey-icons';
  src:url('fonts/starkey-icons.eot');
  src:url('fonts/starkey-icons.eot?#iefix') format('embedded-opentype'),
    url('fonts/starkey-icons.woff') format('woff'),
    url('fonts/starkey-icons.ttf') format('truetype'),
    url('fonts/starkey-icons.svg#starkey-icons') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="starkey-"], [class*=" starkey-"] {
  font-family: 'starkey-icons';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.starkey-blog:before {
  content: "\e600";
}
.starkey-link-passive:before {
  content: "\e601";
}
.starkey-link-active:before {
  content: "\e602";
}
.starkey-like-us:before {
  content: "\e603";
}
.starkey-legend-6:before {
  content: "\e604";
}
.starkey-dd-passive:before {
  content: "\e605";
}
.starkey-dd-active:before {
  content: "\e606";
}
.starkey-close:before {
  content: "\e607";
}
.starkey-zoom-out:before {
  content: "\e608";
}
.starkey-to-top:before {
  content: "\e609";
}
.starkey-share-twitter:before {
  content: "\e60a";
}
.starkey-share-fb:before {
  content: "\e60b";
}
.starkey-share-email:before {
  content: "\e60c";
}
.starkey-pg-arrow-right:before {
  content: "\e60d";
}
.starkey-pg-arrow-left:before {
  content: "\e60e";
}
.starkey-pdf:before {
  content: "\e60f";
}
.starkey-missions1:before {
  content: "\e610";
}
.starkey-mission2:before {
  content: "\e611";
}
.starkey-twitter-link:before {
  content: "\e612";
}
.starkey-youtube:before {
  content: "\e613";
}
.starkey-zoom-in:before {
  content: "\e614";
}
.starkey-legend-5:before {
  content: "\e615";
}
.starkey-legend-4:before {
  content: "\e616";
}
.starkey-legend-3:before {
  content: "\e617";
}
.starkey-legend-2:before {
  content: "\e618";
}
.starkey-legend-1:before {
  content: "\e619";
}
.starkey-insta:before {
  content: "\e61a";
}
.starkey-insta-link:before {
  content: "\e61b";
}
.starkey-fb:before {
  content: "\e61c";
}
.starkey-fb-link:before {
  content: "\e61d";
}

.starkey-legend-program:before {
  @extend .starkey-legend-1:before;
  }
.starkey-legend-stories:before {
  @extend .starkey-legend-2:before;
  }
.starkey-legend-where-we-are-now:before {
  @extend .starkey-legend-6:before;
  }
.starkey-legend-video:before {
  @extend .starkey-legend-3:before;
  }
.starkey-legend-gallery:before {
  @extend .starkey-legend-4:before;
  }
.starkey-legend-profile:before {
  @extend .starkey-legend-5:before;
  }

.alrightsansbold {
  font-family: "Alright Sans";
  font-style: normal;
  font-weight: bold;
}

.alrightsanslight {
  font-family: "Alright Sans";
  font-style: normal;
  font-weight: normal;
}

.alrightsansregular {
  font-family: "Alright Sans";
  font-style: normal;
  font-weight: normal;
}

.verlag {
  font-family: "Verlag A", "Verlag B";
}

.verlagbold {
  @extend .verlag;
  font-weight: bold;
}

body {
  font-family: "Alright Sans", sans-serif;

  &.page {
    line-height: 1.8em;
    color: #3d4144;
  }
}

h1, h2, h3, h4 {
  font-family: "Verlag A", "Verlag B";
  font-weight: 700;
  font-style: normal;
}

a {
    text-decoration: none;
}

.centered {
  text-align: center;
}

.highlight {
  color: $light-blue;
}

.align-right {
  text-align: right;
}

.uppercase {
  text-transform: uppercase;
  strong {
    color: $light_blue;
  }
}

hr.separator {
  border: none;
  border-bottom: $dotted-border;
  &.padded {
    margin: 20px 0;
  }
}

.fixed-width {
  margin: 0 auto 15px;
  width: 820px;
}

.page-leader {
  @include outer-container;
  text-align: center;
  margin-top: 70px;
  padding: 0 16px;
  h1 {
    font-size: 3.75em;
    text-transform: uppercase;
    @extend .alrightsansbold;
  }
  p {
    @extend .alrightsansregular;
    line-height: 1.5;
    &.bigger {
      font-size: 1.25em;
    }
  }

  @include breakpoint($tablet-down) {
    h1 {
      font-size: 3em;
    }
    p {
      font-size: 15px;
      &.fixed-width {
        width: auto;
        padding: 0 16px;
      }
      &.bigger {
        font-size: 1em;
      }
    }
  }
  @include breakpoint($mobile) {
    margin-top: 40px;
    h1 {
      font-size: 2em;
    }
    p {
      font-size: 14px;
    }
  }
}

// Page mastheads
.masthead {
  text-align: center;
  width: 100%;
  margin: 50px auto 0;
  float: left;
  .section-title {
    color: $light-blue;
    text-transform: uppercase;
    font-size: 1.125em;
    @extend .alrightsansbold;
  }
  .section-headline {
    text-transform: uppercase;
    font-size: 3.75em;
    margin: 30px 0 40px;
    @extend .alrightsansbold;
  }
  p {
    margin: 20px 0;
  }
  .call-to-action {
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 30px;
    a {
      text-decoration: underline;
    }
  }
  @include breakpoint($tablet-down) {
    .section-headline {
      font-size: 3em;
    }
  }
  @include breakpoint($mobile) {
    margin-top: 18px;
    .section-title {
      font-size: 12px;
      margin-bottom: 0;
    }
    .section-headline {
      font-size: 29px;
      margin: 0;
    }
    p {
      font-size: 12px;
      margin: 12px 0 0;
    }
    .call-to-action {
      margin: 7px 0 22px;
      line-height: 1.4;
    }
  }
}

// Header styles

.section-title {
  font-family: "Verlag A", "Verlag B";
  font-weight: 700;
  font-style: normal;
  font-size: 1em;
  text-decoration: none;
  text-transform: uppercase;
  color: $light-blue;
}

.detail-page-body {
  .page-leader {
    margin: 0;
    h1 {
      margin: 0 0 60px;
    }
    h3 {
      margin: 0;
      color: $light-blue;
      text-transform: uppercase;
      font-weight: normal;
      font-size: 1em;
    }
  }
  .article-headline, .article-subheadline {
    @extend .alrightsanslight;
    margin-bottom: 5px;
  }
  .article-date {
    @extend .alrightsanslight;
    font-weight: bold;
    text-transform: uppercase;
    margin: 0;
    font-size: .875em;
  }
}

blockquote {
  margin: 1.5em 10px;
  padding: 0.5em 10px;
  quotes: "\201C""\201D""\2018""\2019";
  position: absolute;
  right: 10%;
  left: 10%;
  top: 52px;
  color: #FFF;
  font-size: 30px;
  line-height: 171%;
  height: 215px;
  overflow: hidden;
  @include breakpoint($tablet-down) {
    font-size: 22px;
    line-height: 1.5;
  }
  @include breakpoint($mobile) {
    margin: 0 10px;
    padding: 0 10px;
    top: 13px;
    font-size: 16px;
    height: 150px;
  }
}

blockquote:before {
  color: #fff;
  content: open-quote;
  font-size: 4em;
  line-height: 0.1em;
  // margin-right: 0.25em;
  vertical-align: -0.4em;
  font-weight: bold;
}

blockquote:after {
  color: #fff;
  content: close-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-left: 0.1em;
  vertical-align: -0.4em;
  font-weight: bold;
}

blockquote p {
  display: inline;
  font-size: 2em;
  @extend .alrightsanslight;
}

.bordered {
  border: 2px solid $light-blue;
  text-transform: uppercase;
  padding: 10px 15px;
  &.reverse {
    border-color: white;
  }
}

.link-with-border {
  display: inline-block;
  font-size: 0.8em;
  font-weight: bold;
  padding: 8px 45px 6px;
  border: 2px solid $light-blue;
  color: $light-blue;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  -webkit-font-smoothing: antialiased;
  @include transition (all 0.3s ease-in-out);
  &:hover {
    opacity: 0.7;
  }
}

.white {
  color: white;
}

.float-right {
  float: right;
}

.uppercase {
  text-transform: uppercase;
}

// Generic page font styles
.generic-article-typography {
  h1 {
    font-size: 2.25em;
    line-height: 1.2em;
  }
  h1, h2, h3, p {
    @extend .alrightsanslight;
  }
  p {
    line-height: 1.875em;
  }
  @include breakpoint($tablet-down) {
    h1 {
      font-size: 1.75em;
    }
    p {
      font-size: 14px;
      line-height: 1.2em;
    }
    h1, h2, h3, p {
      padding-left: 16px;
      padding-right: 16px;
    }
  }
  @include breakpoint($mobile) {
    h1 {
      font-size: 1.5em;
    }
    p {
      font-size: 12px;
    }
  }
}

.ellipsis {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.load-more {
  display: none;
  text-align: center;
  padding: 13px;
  font-size: 12px;
  line-height: 13px;
  font-weight: bold;
  cursor: pointer;
}
