// Variables
$gray-title: #3d4144;
$light-blue: #00b3d2;
$orange: #f15c22;
$light-orange: #ffae21;

$dotted-border: 1px dotted #333;

// Debugging
$visual-grid: true;
// $visual-grid-color: yellow;
// $visual-grid-index: front;
// $visual-grid-opacity: 0.3;

// Bourbon Neat Breakpoints
$mobile:       max-width 479px;
$tablet-down:  max-width 767px;
$tablet:       min-width 480px max-width 767px;
$desktop:      min-width 768px max-width 959px;
$largedesktop: min-width 960px;
