@import "bourbon";
@import "neat";

@import "_normalize";
@import "_typography";

// Grid
header, .pictograms, footer {
  @include outer-container;
}

// Variables
$gray-title: #3D4144;
// Debugging
$visual-grid: true;
// $visual-grid-color: yellow;
// $visual-grid-index: front;
// $visual-grid-opacity: 0.3;
 
// Media 
$mobile-size: em(320);
$tablet-size: em(720);  
$desktop-size: em(960);
$largedesktop-size: em(1200);

// Bourbon Neat Breakpoints
$mobile: new-breakpoint(min-width $mobile-size 4);
$tablet: new-breakpoint(min-width $tablet-size 8);
$desktop: new-breakpoint(min-width $desktop-size 12);
$largedesktop: new-breakpoint(min-width $largedesktop-size 16);

@import "_tabs";

// Mixins 

@mixin clearfix {
    zoom:1;
    &:before, &:after {
        content: "\0020"; 
        display: block; 
        height: 0; 
        overflow: hidden; 
    }
    &:after {
        clear: both;
    }
}


@mixin boxsizing {
  -moz-box-sizing: border-box; 
  -webkit-box-sizing: 
  border-box; 
  box-sizing: border-box;
}


body, a {
  color: #4d4d4d;
}

// Header
header {
  margin-top: 1.5em;
  .logo {
    @include span-columns(3);
  }

  .tagline {
    @include span-columns(6);
    text-align: center;
  }

  .social-links {
    @include span-columns(3);
    text-align: right;
    li {
      @include inline-block;
      a {
        font-size: 1.5em;
      }
    }
  }
}

.swiper-controls {
  position: absolute;
  margin-top: 10%;
  z-index: 9999;
  width: 100%;

  a {
    padding-top: 0.65em;
    color: rbga(0, 0, 0, 0.25);
    font-size: 5em;
    height: 180px;
    width: 90px;
    background-color: rgba(255, 255, 255, 0.75);
  }

  .left {
    float: left;
    border-radius: 0 180px 180px 0;
    -moz-border-radius: 0 180px 180px 0;
    -webkit-border-radius:  0 180px 180px 0;
  }

  .right {
    float: right;
    border-radius: 180px 0 0 180px;
    -moz-border-radius: 180px 0 0 180px;
    -webkit-border-radius: 180px 0 0 180px;
  }

  .position-indicator {
      z-index: 99999;
      margin-right: auto;
      margin-left: auto;
      margin-top: 5.5em;
      text-align: center;
      li {
          @include inline-block;
          a {
              background: rgba(255,255,255,0.5);
              &:hover {
                  background: #333;
              }
          }

          &.on {
              a {
                  background: #FFF;
              }
          }
      }
  }
}

.swiper {

  article {
    z-index: 0;
  }

  aside {
    z-index: 9999;
    margin-top: -30%;
    color: #FFF;
    h1 {
      font-family: "Alright Sans";
      margin-bottom: 0;
    }

    a {
      font-family: "Verlag";
      text-transform: uppercase;
      color: #FFF;
    }
  }
}

.pictograms {
  .pict {
    @include span-columns(4);
    border-right: 1px dotted #333;
    img {
      opacity: 0.5;
      &:hover {
        opacity: 1;
      }
    }
  }
}

.map {
  border-top: 1px dotted #333;
}

// Footer
footer {
  background: #F8F6F0;
  max-width: 100%;
  &>div {
    margin: 0 auto;
    width: 68em;
  }
}
.social-info {
  display: inline-block;
  
  &>ul {
    margin-top: 0;
    padding-left: 0;
    @include clearfix;
    

    &>li {
      float: left;
      width: 25%;
      height: 230px;
      padding: 10px;
      
      @include boxsizing;
      
      border-right: 1px dotted #CECECE;
      padding: 1.9em;

      div {
        height: 80px;
        @include boxsizing;

        h1, h4 {
          margin: 0;
        }

        h1 {
          font-family: "Alright Sans", sans-serif;
          font-weight: 100;
          text-transform: uppercase;
          strong {
            font-weight: 600;
          }
        }

        h4 {
          text-transform: uppercase;
          font-size: 10px;
          font-weight: 600;
          line-height: 18px;
        }

        h5 {
          font-size: 12px;
          color: gray;
        }
        
        p {
          font-size: 13px;
          line-height: 17px;
          margin-top: 5px;
        }


      }

      .icon {
        font-size: 2.7em;
        display: block;
        text-align: center;
        margin-bottom: 10px;
      }
       
      &:first-child {
        border-left: none;
      }
      &:last-child {
        border-right: none;
      }

      .thumbs {
        margin-left: .4em;
        float : left;
        padding-left: 0;
        li {
          margin-left: 2px;
          border: 2px solid white;
        }
      }

      p {
        margin-bottom: 2px;
        clear: both;
        a {
          color: #00B9E4;
          text-transform: uppercase;
          font-size: 12px;
          font-weight: 600;
          text-align: center;
          display: block;
        }
      }

    }
  }

  ul {
    li {
      @include inline-block;
    }

    .blog {

    }
    .facebook {

    }
    .instagram {
      .thumbs {

      }
    }
    .twitter {
      .time {
        float: right;
        font-size: 13px;
      }
    }

  }

}
.footer-links {
  ul {
    li {
      @include inline-block;
    }
  }
}

// Pages
.carousel {
  &.hero {
    article {
      width: 100%;
      img {
        display:block;
        width: 100%;
        max-width: 100%;
        height: auto;
      }
    }
    .slide {
      text-align: center;
    }
  }
  &.bottom {
    width: 100%;
    h1 {
      text-align: center;
      color: white;
    }

    .nav {
      list-style: none;
      width: 50%;
      margin: 20px auto;
    }

    .nav li {
      display: inline;
      padding: 10px;
      margin: 5px;
      border: 1px solid #eee;
    }
    // END TEMP
  }
}
.mission-statement {
  text-align: center;
  border-bottom: 1px dotted #333;
}

/* TODO: bring in bower_component CSS automatically */

/* Thumblist nav */
.thumblist-nav {
  height: 335px;
  .jspPane {
    .ng-scope {
      border: 1px dotted #ddd;  
      border-right: none;

    }
    h4 {
      font-size: 1.7em;
      letter-spacing: 1px;
      margin: 26px 0 10px 30px;
      color: $gray-title;
    }
    button {
      text-transform: uppercase;
      background: none;
      border: none;
      font-size: 13px;
      font-weight: 600;
      margin: 5px 0 0 30px;
      padding: 0;
      color: $gray-title;
    }
  }
}

.horizontal-only {
  max-height: 335px; 
}

.jspPane > div {
  width: 400px;
  height: 330px;

}

.jspDrag {
  background: blue;
}

.jspDrag:hover {
  background: green;
}

.swipe {
  overflow: hidden;
  visibility: hidden;
  position: relative;
}
.swipe-wrap {
  overflow: hidden;
  position: relative;
}
.swipe-wrap > div {
  float:left;
  width:100%;
  position: relative;
}

.thumblist-nav {
  width: 100%;
  overflow: auto;
  white-space: nowrap
}

.horizontal-only {
  height: auto;
}

.jspPane > div {
  display: inline-block;

  /* ie7 support */
  *display: inline;
  zoom: 1
}

.jspContainer {
  overflow: hidden;
  position: relative;
  .jspHorizontalBar {
    background-color:rgba(71, 194, 231, 0.6);

    opacity: .5;
    height: 11px;

    .jspTrack {
      position: relative;
      
      .jspDrag {
        background: #17BFE6;
        opacity: 1;
        &.jspHover {
        }
      }
    }
  }
}

.jspPane {
  position: absolute;
}

.jspHorizontalBar {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  
}

.jspCap {
  display: none;
}

.jspHorizontalBar .jspCap {
  float: left;
}



.jspDrag {
  background: #bbd;
  position: relative;
  top: 0;
  left: 0;
  cursor: pointer;
}

.jspHorizontalBar .jspTrack,
.jspHorizontalBar .jspDrag {
  float: left;
  height: 100%;
}

.jspHorizontalBar .jspArrow {
  width: 16px;
  float: left;
  height: 100%;
}

#world-map-gdp .jvectormap-container {
    @include background-image(radial-gradient(center, ellipse cover, rgb(78,206,238) 0%,rgb(49,158,213) 100%));
}

.jvectormap-label {
    position: absolute;
    display: none;
    border: solid 1px #CDCDCD;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    background: #292929;
    color: white;
    font-family: sans-serif, Verdana;
    font-size: smaller;
    padding: 3px;
}

.jvectormap-zoomin, .jvectormap-zoomout {
    position: absolute;
    right: 10px;
    background: rgba(16,97,146,0.75);
    padding: 5px 10px;
    color: white;
    cursor: pointer;
    line-height: 20px;
    text-align: center;
}

.jvectormap-zoomin {
    top: 10px;
    right: 42px;
}

.jvectormap-zoomout {
    top: 10px;
}

.page-leader {
  @include outer-container;
  @include shift(3);
  @include span-columns(6);
  text-align: center;
  margin-top: 30px;
  h1 {
    font-size: 3.75em;
    text-transform: uppercase;
    @extend .alrightsansbold;
  }
  p {
    @extend .alrightsansregular;
  }
}
