.swipe-wrap > div[data-index='0'] {
  background: blue;
}

.swipe-wrap > div[data-index='1'] {
  background: green;
}

.swipe-wrap > div[data-index='2'] {
  background: red;
}

h1 {
  text-align: center;
  color: white;
}

.nav {
  list-style: none;
  width: 50%;
  margin: 20px auto;
}

.nav li {
  display: inline;
  padding: 10px;
  margin: 5px;
  border: 1px solid #eee;
}

/* Thumblist nav */
.thumblist-nav {
  height: 200px;
}

.horizontal-only {
  max-height: 200px;
}

.jspPane > div {
  border: 1px solid #ddd;
  width: 350px;
}

.jspDrag {
  background: blue;
}

.jspDrag:hover {
  background: green;
}