{exp:http_header content_type="application/json"}{exp:channel:entries channel="hearing_landing" dynamic="no" limit="1"}
[
  {
    "page_title" : "{exp:low_replace find="QUOTE" replace="\QUOTE" multiple="yes"}{title}{/exp:low_replace}",
    "page_lead" : "{exp:low_replace find="QUOTE|NEWLINE" replace="\QUOTE|SPACE" multiple="yes"}{hm_lead}{/exp:low_replace}",
    "hearing_mission_statistics" : [
    {hearing_mission_statistics}
        {
            "name": "{hearing_mission_statistics:number}",
            "tagline": "{exp:low_replace find="QUOTE" replace="\QUOTE" multiple="yes"}{hearing_mission_statistics:tagline}{/exp:low_replace}"
        }{if hearing_mission_statistics:count != hearing_mission_statistics:total_rows},{/if}
    {/hearing_mission_statistics}
    ],
    "content_tabs" : [ 
    {content_tabs}
        {
            "tab_title" : "{content_tabs:tab_title}",
            "content_title" : "{exp:low_replace find="QUOTE" replace="\QUOTE" multiple="yes"}{content_tabs:tab_content_title}{/exp:low_replace}",
            "content" : "{exp:low_replace find="QUOTE|NEWLINE" replace="\QUOTE|SPACE" multiple="yes"}{content_tabs:tab_content}{/exp:low_replace}"
        }{if content_tabs:count != content_tabs:total_rows},{/if}
    {/content_tabs}
    ],
    "highlights" : [
    {mission_highlights limit="10"}
        {
            "id"        : "{url_title}"
            "title"     : ""{exp:low_replace find="QUOTE" replace="\QUOTE" multiple="yes"}{title}{/exp:low_replace}",
            "subtitle"  : "{mission_highlights:mission_subtitle}",
            "excerpt"   : "{exp:low_replace find="QUOTE|NEWLINE" replace="\QUOTE|SPACE" multiple="yes"}{mission_highlights:mission_excerpt}{/exp:low_replace}"
            "image"     : "{mission_highlights:mission_image:url}",
            "video"     : "{mission_highlights:mission_video_url}",
        }{if mission_highlights:count != mission_highlights:total_results},{/if}
    {/mission_highlights}
    ]
  }
]
{/exp:channel:entries}