{exp:channel:entries channel="programs" limit="1"}
<article class='listen-carefully text-container'>

    {exp:hundies_shortcode}{listen_carefully_content}{/exp:hundies_shortcode}

    <br/>
    <h2>Additional Resources</h2>
</article>
{/exp:channel:entries}

<section class='carousel thumblist '>
  <thumblist-nav>
    <slide
      ng-repeat="programResource in programResources"
      image-url=""
      video-url=""
      link-url=""
      link-text=""
      headline=""
      body-copy=""
      thumblist="true"
      date=""
      blog-category=""
      quote=""
      background-color=""
      logo-image-url=""
      link-style="align-right"
    ></slide>
  </thumblist-nav>
</section>
