{exp:channel:entries channel="programs" limit="1"}
<article class='operation-change text-container'>
    <h1>Operation change</h1>

    {exp:hundies_shortcode}{operation_change_content}{/exp:hundies_shortcode}
    <br/>
    <h2>Our Partnerships</h2>
</article>
{/exp:channel:entries}

<section class='carousel thumblist'>
  <thumblist-nav>
    <slide
      ng-repeat="programPartnership in programPartnerships"
      image-url=""
      video-url=""
      link-url=""
      link-text=""
      headline=""
      body-copy=""
      thumblist="true"
      date=""
      blog-category=""
      quote=""
      background-color=""
      logo-image-url=""
      link-style="align-right"
    ></slide>
  </thumblist-nav>
</section>
