<!doctype html xmlns:ng="http://angularjs.org/">
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>   <html class="no-js lt-ie9 lt-ie8" > <![endif]-->
<!--[if IE 8]>   <html class="no-js lt-ie9"> <![endif]-->
<!--[if IE 9]>   <html class="no-js lt-ie10"> <![endif]-->
<!--[if gt IE 9]><!--> <html class="no-js"> <!--<![endif]-->
  <head>
    <!--(bake partials/head.html)-->
  </head>
  <body class='home-page page' ng:app="homePageApp" ng:controller="globalCtrl" id="ng-app">
    <!--(bake partials/browser_check.html)-->

    <!--(bake partials/header.html)-->

    <!-- Main content section -->
    <section class="carousel hero main-home-carousel black-text-background">

      <div swiper
        continuous="true"
        speed="2000"
        identifier="swiper_1"
        auto="8000"
        paginator="true"
        size="short"
        >
        <!--(bake-start _if="dist")-->
          {exp:channel:entries channel="carousels" dynamic="no" limit="1" disable="{global:param_disable_default}"}
            {home_hero limit="5" disable="{global:param_disable_default}"}
            <div
              slide
              image-url="{home_hero:homepage_feature_splash_image}"
              background-color=""
              quote=""
              video-url="{if '{home_hero:homepage_cta_type}' == 'Video'}{home_hero:homepage_feature_video}{/if}"
              link-url="{if '{home_hero:homepage_cta_type}' == 'Link'}{home_hero:homepage_feature_link}{/if}"
              headline="{home_hero:title}"
              body-copy="{home_hero:homepage_feature_subtitle}"
              logo-image-url=""
              link-style=""
              link-text="{home_hero:homepage_feature_cta}"
              slide-type="{home_hero:homepage_cta_type}"
            >
            </div>
            {/home_hero}
          {/exp:channel:entries}
        <!--(bake-end)-->
        <!--(bake-start _if="server")-->
          <div
            slide
            image-url="http://starkey.ahundredyears.com/uploads/images/HERO-Vikings_Mission-IMG_6312.jpg"
            background-color=""
            quote=""
            video-url=""
            link-url="http://www.starkeyhearingfoundation.org/programs/hear-now/"
            headline="Hear at Home"
            body-copy="We provide more hearing help to people in the United States than to any other country"
            logo-image-url=""
            link-style=""
            link-text="Learn More"
            >
          </div>
          <div
            slide
            image-url="http://starkey.ahundredyears.com/uploads/images/HERO-Commitment_to_Action_Film.jpg"
            background-color=""
            quote=""
            video-url="http://www.youtube.com/watch?v=ScjOkoueDYg"
            link-url=""
            headline="Commitment to Action"
            body-copy="In 2010, we committed to providing 100,000 hearing aids a year to those in need"
            logo-image-url=""
            link-style=""
            link-text="Watch Video"
            >
          </div>
          <div
            slide
            image-url="http://starkey.ahundredyears.com/uploads/images/HERO-Building_Sustainable_Systems_of_Hearing_Care-02.2.jpg"
            background-color=""
            quote=""
            video-url="http://www.youtube.com/watch?v=W50L7eNGT2U"
            link-url=""
            headline="Building Sustainable Systems of Hearing Care"
            body-copy="To truly make an impact, our efforts must be sustainable"
            logo-image-url=""
            link-style=""
            link-text="Watch Video"
            >
          </div>
        <!--(bake-end)-->
      </div>
    </section>

    <section class='mission-statement'>
    <!--(bake-start _if="dist")-->
      {exp:channel:entries channel="homepage_content" limit="1"}
      <h1>{homepage_mission_statment}</h1>
      {/exp:channel:entries}
    <!--(bake-end)-->
    <!--(bake-start _if="server")-->
      <h1>Mission Statement</h1>
    <!--(bake-end)-->
    </section>

    <section class='pictograms'>
  <!--(bake-start _if="dist")-->
    {exp:channel:entries channel="homepage_content" limit="1"}
      {homepage_pictograms}
      <div class="pict">
        <img src="{homepage_pictograms:slot_1}">
      </div>

      <div class="pict">
        <img src="{homepage_pictograms:slot_2}">
      </div>

      <div class="pict">
        <img src="{homepage_pictograms:slot_3}">
      </div>
      {/homepage_pictograms}
    {/exp:channel:entries}
  <!--(bake-end)-->
  <!--(bake-start _if="server")-->
      <div class="pict">
        <img src="uploads/home/picto/info_livesimpacted.jpg">
      </div>

      <div class="pict">
        <img src="uploads/home/picto/info_livesindirectly.jpg">
      </div>

      <div class="pict">
        <img src="uploads/home/picto/info_totalaids.jpg">
      </div>
  <!--(bake-end)-->
    </section>
    <section ng:controller="HomeIndexBottomTabsCtrl">
      <div class="bottom-slide-tabs">
        <div class="bottom-slide-tab reveal" ng-show="currentBottomSlideTab==1">

          <world-map markers="markers">
            <div class="map-legend">
              <!--(bake-start _if="dist")-->
              <ul>
              {exp:channel:entries channel="homepage_map_categories" dynamic="no" disable="{global:param_disable_default}"}
                <li><b class="legend"><span style="background-image:url('{home_map_legend}');"></span></b>{title}</li>
              {/exp:channel:entries}
              </ul>
              <!--(bake-end)-->
              <!--(bake-start _if="server")-->
              <ul>
                <li><b class="legend"><span style="background-image:url('/uploads/map/legend/legend_program.png');"></span></b>Program</li>
                <li><b class="legend"><span style="background-image:url('/uploads/map/legend/legend_stories.png');"></span></b>Stories</li>
                <li><b class="legend"><span style="background-image:url('/uploads/map/legend/legend_where.png');"></span></b>Where we are now</li>
                <li><b class="legend"><span style="background-image:url('/uploads/map/legend/legend_videos.png');"></span></b>Video</li>
                <li><b class="legend"><span style="background-image:url('/uploads/map/legend/legend_gallery.png');"></span></b>Gallery</li>
                <li><b class="legend"><span style="background-image:url('/uploads/map/legend/legend_program.png');"></span></b>Profile</li>
              </ul>
              <!--(bake-end)-->
            </div>
          </world-map>
        </div>
        <div class="bottom-slide-tab reveal" ng-show="currentBottomSlideTab==2">
          <panel-tab featured="currentTabModel"></panel-tab>
        </div>
      </div>

      <div class='carousel thumblist bottom'>
        <home-thumblist-nav featured="featuredArticlesHash" clickaction="changeCurrentTab"></home-thumblist-nav>
      </div>

    </section>

    <section class='mobile map-as-feed'>
      <h2>GLOBAL HEARING MISSION</h2>
      <div class='heading'>RECENT MISSION</div>
      <div class='map-as-feed-wrap'>
        <!--(bake-start _if="dist")-->
          {exp:channel:entries channel="homepage_map_items"}
            <div class="entry">
              {if '{homepage_map_item_category:url_title}' != 'video'}
                <a href="{homepage_map_item_cta_link}">
                <div class="entry-image" style="background-image: url('{homepage_map_item_image}')"></div>
              </a>
              <div class="entry-content">
                <h3>
                  <a href="{homepage_map_item_cta_link}">{title}</a>
                </h3>
                <span>{homepage_map_item_location}</span>
                <a class="read-more" href="{homepage_map_item_cta_link}">{homepage_map_item_cta_text}</a>
              </div>
              {/if}
              {if '{homepage_map_item_category:url_title}' == 'video'}
                <a href ng-click="directModalTrigger('{homepage_map_item_cta_link}')">
                  <div class="entry-image" style="background-image: url('{homepage_map_item_image}')"></div>
                </a>
                <div class="entry-content">
                  <h3>
                    <a href ng-click="directModalTrigger('{homepage_map_item_cta_link}')">{title}</a>
                  </h3>
                  <span>{homepage_map_item_location}</span>
                  <a class="read-more" href ng-click="directModalTrigger('{homepage_map_item_cta_link}')">{homepage_map_item_cta_text}</a>
                </div>
              {/if}

              <div class="clearfix"></div>
            </div>
          {/exp:channel:entries}
        <!--(bake-end)-->
        <!--(bake-start _if="server")-->
          <div class="entry">
            <a href="http://127.0.0.1:9000/more">
              <div class="entry-image" style="background-image: url('http://starkey.ahundredyears.com/uploads/images/HERO-Commitment_to_Action_Film.jpg')"></div>
            </a>
            <div class="entry-content">
              <h3><a href="http://127.0.0.1:9000/more">VIDEO</a></h3>
              <span>West Bank / Europe & Middle East</span>
              <a class="read-more" href ng-click="directModalTrigger('http://www.youtube.com/watch?v=qIAXkz08aiI')">Read More →</a>
            </div>
            <div class="clearfix"></div>
          </div>
          <div class="entry">
            <a href="http://127.0.0.1:9000/more">
              <div class="entry-image" style="background-image: url('http://starkey.ahundredyears.com/uploads/images/HERO-Commitment_to_Action_Film.jpg')"></div>
            </a>
            <div class="entry-content">
              <h3><a href="http://127.0.0.1:9000/more">Building Momentum for Peace in the West Bank</a></h3>
              <span>West Bank / Europe & Middle East</span>
              <a class="read-more" href="http://127.0.0.1:9000/more">Read More →</a>
            </div>
            <div class="clearfix"></div>
          </div>
          <div class="entry">
            <a href="http://127.0.0.1:9000/more">
              <div class="entry-image" style="background-image: url('http://starkey.ahundredyears.com/uploads/images/HERO-Commitment_to_Action_Film.jpg')"></div>
            </a>
            <div class="entry-content">
              <h3><a href="http://127.0.0.1:9000/more">Building Momentum for Peace in the West Bank</a></h3>
              <span>West Bank / Europe & Middle East</span>
              <a class="read-more" href="http://127.0.0.1:9000/more">Read More →</a>
            </div>
            <div class="clearfix"></div>
          </div>
        <!--(bake-end)-->
        <div class="load-more">LOAD MORE</div>
      </div>
    </section>

    <section class='mobile-carousel carousel short'>
      <h2 class="stories-title">STARKEY STORIES</h2>
      <swiper
        continuous="true"
        speed="2000"
        identifier="swiper_2"
        auto="8000"
        paginator="true"
        size="short"
        >
        <!--(bake-start _if="dist")-->
          {exp:channel:entries channel="carousels" dynamic="no" limit="1" disable="{global:param_disable_default}"}
            {home_bot}
              <slide
                image-url="{home_bot:carousel_image}"
                background-color=""
                quote=""
                video-url="{home_bot:carousel_video_url}"
                link-url=""
                headline="{home_bot:title}"
                body-copy=""
                logo-image-url=""
                link-style=""
                link-text="{home_bot:carousel_panel_cta}"
              >
              </slide>
            {/home_bot}
          {/exp:channel:entries}
        <!--(bake-end)-->
        <!--(bake-start _if="server")-->
          <slide
            image-url="http://starkey.local/uploads/images/MAP-Vikings_Mission-IMG_6064.JPG"
            background-color=""
            quote=""
            video-url="http://www.youtube.com/watch?v=pfW1S5KAi44"
            link-url=""
            headline="Building Momentum for Peace in the West Bank"
            body-copy=""
            logo-image-url=""
            link-style=""
            link-text="Watch Video"
          >
          </slide>
          <slide
            image-url="http://starkey.ahundredyears.com/uploads/images/HERO-Commitment_to_Action_Film.jpg"
            background-color=""
            quote=""
            video-url="http://www.youtube.com/watch?v=pfW1S5KAi44"
            link-url=""
            headline="Building Momentum for Peace in the West Bank"
            body-copy=""
            logo-image-url=""
            link-style=""
            link-text="Watch Video"
          >
          </slide>
        <!--(bake-end)-->
      </swiper>
    </section>

    <!-- end main content section -->

    <!--(bake partials/footer.html)-->
    <!--(bake partials/js_includes.html)-->
</body>
</html>
