<!doctype html xmlns:ng="http://angularjs.org/">
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Starkey Hearing Foundation</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <!-- build:css(.tmp) assets/styles/main.css -->
    <link rel="stylesheet" href="styles/app.css">
    <link rel='stylesheet' href="bower_components/ahundredyears-swiper/src/swiper.css">
    <link rel='stylesheet' href="bower_components/ahundredyears-thumblist-nav/src/ahundredyears-thumblist-nav.css">
    <!-- endbuild -->
  </head>
  <body class='home-page' ng:app="starkey">

    <!--[if lt IE 10]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

  <header>
    <div class="logo">
      <!--(bake-start _if="server")-->
        <img src="images/shared/starkey_logo.svg">
      <!--(bake-end)-->
      <!--(bake-start _if="dist")-->
        <img src="images/starkey/starkey_logo.svg">
      <!--(bake-end)-->
    </div>

    <div class='tagline'>
      <h1>So The World May Hear.</h1>
    </div>

    <div class='social-links'>
      <ul>
        <li>
          <a href='#' class="icon icon-twitter-link"></a>
        </li>
        <li>
          <a href='#' class="icon icon-fb-link"></a>
        </li>
        <li>
          <a href='#' class="icon icon-insta-link"></a>
        </li>
        <li>
          <a href='#' class="icon icon-youtube"></a>
        </li>
      </ul>
    </div>
  </header>

  <nav>
    <ul class='tabs'>
      <li>
        <a href='#'>Who we are</a>
      </li>
      <li>
        <a href='#'>What we do</a>
      </li>
      <li>
        <a href='#'>Get involved</a>
      </li>
    </ul>
  </nav>

    <!-- Main content section -->
    <section class="carousel hero" ng-controller="heroCarouselCtrl">

      <div class="swiper-controls">
        <a href="#" class="left"><span class="icon icon-pg-arrow"></span></a>
        <a href="#" class="right"><span class="icon icon-pg-arrow"></span></a>

        <ul class="position-indicator" id="hero-position" data-slider="hero">
          <li class="on" data-id="1"><a href="#"></a></li>
          <li class="" data-id="2"><a href="#"></a></li>
          <li class="" data-id="3"><a href="#"></a></li>
        </ul>
      </div>

      <swiper class="swiper" speed="5000" continuous="true" auto="false">

        <div class="slide">
          <article>
            <img src="uploads/home/hero/commitment_to_action_film.jpg" />
          </article>
          <aside>
            <h1>Commitment to Action</h1>
            <p>In 2010, we committed to providing 100,000 hearing aids a year to those in need, a commitment of 1 million hearing aids for the decade.</p>
            <a href='#' class="action-link">Watch video</a>
          </aside>
        </div>

        <div class="slide">
          <article>
            <img src="uploads/home/hero/building_sustainable_systems_of_hearing_care.jpg" />
          </article>
          <aside>
            <h1>Building Sustainable Systems of Hearing Care</h1>
            <p>To truly make an impact, our efforts must be sustainable. See how, by working closely, with on-the-ground partners, we bring patients long-term hearing care. We incorporate a full-circle approach that ensures patients will be connected to the world of sound for years to come.</p>
            <a href='#' class="action-link">See what it takes to create lasting change.</a>
          </aside>
        </div>

        <div class="slide">
          <article>
            <img src="uploads/home/hero/vikings_mission.jpg" />
          </article>
          <aside>
            <h1>Hear at Home</h1>
            <p>Starkey Hearing Foundation has provided more hearing help to people in the United States than to any other country through domestic missions and the daily efforts of Hear Now, our  application-based program that provides hearing help to low-income Americans. Each person we help is fit with brand new, top-of-the-line digital hearing aids that are customized to their hearing loss.</p>
            <a href='http://www.starkeyhearingfoundation.org/programs/hear-now/' class="action-link">Find out how we are changing lives in America every day.</a>
          </aside>
        </div>

      </swiper>

    </section>

    <section class='mission-statement'>
      <h1>We use hearing as a vehicle to change lives around the world.</h1>
    </section>

    <section class='pictograms'>
      <div class="pict">
        <img src="uploads/home/picto/info_livesimpacted.jpg">
      </div>

      <div class="pict" style="text-align: center;">
        <img src="uploads/home/picto/info_livesindirectly.jpg">
      </div>

      <div class="pict" style="text-align: right; border-right: none;">
        <img src="uploads/home/picto/info_totalaids.jpg">
      </div>
    </section>

    <section class="map">
      <div id="world-map-gdp"></div>
    </section>

    <section class='carousel bottom' ng-controller="bottomCarouselCtrl">
      <swiper class="swiper" speed="2000" continuous="true">
        <div>
          <h1>Slide 1</h1>
        </div>
        <div>
          <h1>Slide 2</h1>
        </div>
        <div>
          <h1>Slide 3</h1>
        </div>
        <div>
          <h1>Slide 4</h1>
        </div>
        <div>
          <h1>Slide 5</h1>
        </div>
        <div>
          <h1>Slide 6</h1>
        </div>
        <div>
          <h1>Slide 7</h1>
        </div>
      </swiper>
      <thumblist-nav>
        <div>
          <img src="http://placehold.it/350x100&text=thumb+01">
          <h4>Lorem ipsum</h4>
          <button ng-click="slide(0)">First slide</button>
        </div>
        <div>
          <img src="http://placehold.it/350x100&text=thumb+02">
          <h4>Lorem ipsum</h4>
          <button ng-click="slide(1)">Second slide</button>
        </div>
        <div>
          <img src="http://placehold.it/350x100&text=thumb+03">
          <h4>Lorem ipsum</h4>
          <button ng-click="slide(2)">Third slide</button>
        </div>
        <div>
          <img src="http://placehold.it/350x100&text=thumb+04">
          <h4>Lorem ipsum</h4>
          <button ng-click="slide(3)">Fourth slide</button>
        </div>
        <div>
          <img src="http://placehold.it/350x100&text=thumb+05">
          <h4>Lorem ipsum</h4>
          <button ng-click="slide(4)">Fifth slide</button>
        </div>
        <div>
          <img src="http://placehold.it/350x100&text=thumb+06">
          <h4>Lorem ipsum</h4>
          <button ng-click="slide(5)">Sixth slide</button>
        </div>
        <div>
          <img src="http://placehold.it/350x100&text=thumb+07">
          <h4>Lorem ipsum</h4>
          <button ng-click="slide(6)">Seventh slide</button>
        </div>
      </thumblist-nav>
    </section>
    <!-- end main content section -->

    <footer>
      <section class='social-info'>
        <ul>
          <li class='blog'>
            <h4>From our blog</h4>
            <p><a href='#'>Check out our blog &rarr;</a></p>
          </li>
          <li class='facebook'>
            <h1>29,000 fans</h1>
            <p><a href='#'>Like us</a></p>
          </li>
          <li class='instagram'>
            <ul class='thumbs'>
              <li>
                <img src="http://placehold.it/40x40">
              </li>
              <li>
                <img src="http://placehold.it/40x40">
              </li>
              <li>
                <img src="http://placehold.it/40x40">
              </li>
              <li>
                <img src="http://placehold.it/40x40">
              </li>
            </ul>
            <p><a href='#'>Follow us &rarr;</a></p>
          </li>
          <li class='twitter'>
            <p class='tweet'>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod</p>
            <p><a href='#'>Follow us &rarr;</a></p>
          </li>
        </ul>
      </section>
      <section class='footer-links'>
        <ul>
          <li><a href='#'>Legal/financials &rarr;</a></li>
          <li><a href='#'>Subscribe to our newsletter &rarr;</a></li>
          <li><p>&copy; Starkey Hearing Foundation 2013</p></li>
        </ul>
      </section>
    </footer>

    <!-- build:js /assets/scripts/vendor.js -->
    <!-- bower:js -->
    <script src="bower_components/jquery/jquery.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-route/angular-route.js"></script>
    <script src="bower_components/ahundredyears-swiper/src/swipe.js"></script> <!-- TODO: get automatically -->
    <script src="bower_components/ahundredyears-swiper/src/ahundredyears-swiper.js"></script>
    <script src="bower_components/ahundredyears-thumblist-nav/src/jscrollpane.js"></script> <!-- TODO: get automatically -->
    <script src="bower_components/ahundredyears-thumblist-nav/src/ahundredyears-thumblist-nav.js"></script>
    <script src="bower_components/bower-jvectormap/jquery-jvectormap-1.2.2.min.js"></script>
    <script src="bower_components/bower-jvectormap/jquery-jvectormap-world-mill-en.js"></script>
    <!-- endbower -->
    <!-- endbuild -->

    <!-- build:js(.tmp) /assets/scripts/main.js -->
    <script src="scripts/main.js"></script>
    <!-- endbuild -->

    <!-- build:js(.tmp) /assets/scripts/plugins.js -->
    <!-- endbuild -->
</body>
</html>
