<!doctype html xmlns:ng="http://angularjs.org/">
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->

  <head>
  <!--(bake partials/head.html)-->
  </head>
  <body class='legal-page page' ng:app="legalPagesApp" ng:controller="globalCtrl">

    <!--(bake partials/browser_check.html)-->

    <!--(bake partials/header.html)-->

    <!-- Main content section -->
    {exp:channel:entries channel="legal" dynamic="no" limit="1" disable="{global:param_disable_default}"}
    <section class='page-leader'>
      <h1>
        <!--(bake-start _if="server")-->
        Legal &amp; Financials
        <!--(bake-end)-->
        <!--(bake-start _if="dist")-->
        {title}
        <!--(bake-end)-->
      </h1>
    </section>

    <div ng:controller="LegalPagesCtrl">
      <section class='tabbed-content'>
        <nav class="outer-container">
            <ul class='three-tabs'>
              <li ng-class="{active: currentTab==0}">
                <a href ng-click="currentTab=0">Terms &amp; Conditions</a>
              </li>
              <li ng-class="{active: currentTab==1}">
                <a href ng-click="currentTab=1">Privacy Policy</a>
              </li>
              <li class="last" ng-class="{active: currentTab==2}">
                <a href ng-click="currentTab=2">Financials</a>
              </li>
            </ul>
        </nav>
      </section>

      <article class="article-section" ng-show="currentTab==0">
        {legal_terms}
      </article>

      <article class="article-section" ng-show="currentTab==1">
        {legal_privacy}
      </article>

      <article class="article-section" ng-show="currentTab==2">
        <h2>{legal_financials_title}</h2>

        <ul class="documents-list">
        {legal_financials}
          <li><a href="{legal_financials:file}">{legal_financials:label}<br>Download ({legal_financials:file:extension}, {legal_financials:file:size}s)</a></li>
        {/legal_financials}
        </ul>
      </article>
    </div>
    {/exp:channel:entries}

    <!--(bake partials/footer.html)-->

    <!--(bake partials/js_includes.html)-->

</body>
</html>
