<section class="carousel hero short">
  <div class="swiper-controls">
    <a href="#" class="left" ng-click="prev()"><span class="icon starkey-pg-arrow-left"></span></a>
    <a href="#" class="right" ng-click="next()"><span class="icon starkey-pg-arrow-right"></span></a>
  </div>
  <swiper class="swiper" speed="5000" continuous="true" auto="false" identifier="swiper_1">
    <!--(bake-start _if="server")-->

      <div class="slide" ng-repeat="media_mention in pressItems | filter:{featured:'true',type:'media_mention'}">
        <article ng-style="backgroundStyle(media_mention);">
        </article>
        <blockquote ng-hide="!isQuote(media_mention)">{{media_mention.quote}}</blockquote>
        <div class="gradient-background" ng-hide="isQuote(media_mention)"></div>
        <aside>
          <div class="logo"><img ng-src="{{media_mention.logo_image_url}}"/></div>
          <br/>
          <a href='{{media_mention.call_to_action_link}}' target="_blank" class="action-link">{{media_mention.call_to_action_text}}</a>
        </aside>
      </div>
    <!--(bake-end)-->

  </swiper>
</section>
