<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>Starkey Hearing Foundation</title>
<meta name="description" content="">
<meta name="viewport" content="width=device-width">
<!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

<!-- build:css(.tmp) assets/styles/main.css -->
<link rel="stylesheet" href="styles/app.css">
<link rel='stylesheet' href="bower_components/ahundredyears-swiper/src/swiper.css">
<link rel='stylesheet' href="bower_components/ahundredyears-thumblist-nav/src/ahundredyears-thumblist-nav.css">
<!-- endbuild -->
