<article>
  <div class="article-header-image">
    <div class="image" ng-style="{'background-image': 'url(' + headerImageUrl + ')'}">
      <ul class="page-nav-links">
        <li>
          <a href="#/{{detailPageType}}/">&larr;</a>
        </li>
        <li>
          <a href="#/{{detailPageType}}/">&rarr;</a>
        </li>
        <li>
          <a href="#">X</a>
        </li>
      </ul>
      <div class="gradient-background"></div>
      <div class="outer-container">
        <div class="relative-container">
          <div class="banner">
            <p class="article-item-category">{{category}}</p>
            <h1  class="article-title">{{title}}</h1>
            <p>{{date}} | {{author}}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <br/>
  <div class="text-container" ng-bind-html="body"></div>
  <div class="outer-container">
    <div class="share-this-post">
      <ul>
        <li><span class="note">Share this post</span></li>
        <li>
          <a href="http://twitter.com/share?url={{location.absUrl()}}&text=Share on Twitter">
            <span class="icon starkey-share-twitter"></span>
          </a>
        </li>
        <li>
          <a href="http://www.facebook.com/sharer.php?u={{location.absUrl()}}" target="_blank">
            <span class="icon starkey-share-fb"></span>
          </a>
        </li>
        <li>
          <a href="mailto:?subject=I wanted you to see this site&amp;body=Check out this site {{location.absUrl()}}.">
            <span class="icon starkey-share-email"></span>
          </a>
        </li>
      </ul>
    </div>

  </div>
</article>