<div>
  <div class="text-container" ng-if="!featured.articles">
    <p>Loading stories...</p>
  </div>

  <div class='thumblist-nav horizontal-only' ng-if="featured.articles">
    <div>
       <a href ng-click="clickaction(0)">
        <div class="image" ng-style="{'background-image': 'url(' + featured.mission_thumb + ')'}"></div>
        <div class="content">
          <h4>Global Hearing Mission</h4>
          <button>Read Stories &rarr;</button>
        </div>
      </a>
    </div>
    <div ng-repeat="article in featured.articles" jscrollpane-list>
      <a href ng-click="clickaction($index+1)">
        <div class="image" ng-style="{'background-image': 'url(' + article.thumbnail_image_url + ')'}"></div>
        <div class="content">
          <h4 ng-bind="article.thumbnail_title"></h4>
          <button ng-click="clickaction($index+1)" >
            {{article.thumbnail_call_to_action_text}} 
            <span ng-show="article.thumbnail_call_to_action_text">&rarr;</span>&nbsp;
          </button>
        </div>
      </a>
    </div>
  </div>
</div>