<section>
  <div class='panel-image'>
    <a href ng-click="displayInModalIfVideo()" target='_blank' ng-style="{'background-image': 'url(' + featured.panel_image_url + ')'}">
      <span ng-show="hasVideo()" class="play-video-link"></span>
    </a>
  </div>
  <div class='panel-content'>
    <div class="panel-background"></div>
    <div>
      <h1>{{featured.panel_title}}</h1>
      <div>{{featured.body | characters:550}}"</div>
      <p class='call-to-action' ng-hide="featured.panel_call_to_action_link_url==''">
        <a href='{{featured.panel_call_to_action_link_url}}'>
          {{featured.panel_call_to_action_text}} &rarr;
        </a>
      </p>
    </div>
  </div>
<section>