.article-header-image {
  color: white;
  margin-bottom: 0;
  background-color: #000;
  .image {
    background-size: cover;
    background-position: center;
    height: 500px;
    width: 100%;
    position: relative;
    max-width: 1600px;
    margin: 0 auto;
    .relative-container {
      position: relative;
      height: 100%;
      width: 100%;
    }
    .banner {
      position: absolute;
      bottom: 20px;
      left: 20px;
      right: 20px;
      z-index: 10;
      h1 {
        line-height: 1.1em;
        margin-bottom: 0;
      }
      p {
        margin: 0;
      }
    }
    .gradient-background {
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      top: 70%;
      @include background-image(linear-gradient(top,  rgba(30,87,153,0) 0%,rgba(0,0,0,0.54) 42%,rgba(5,2,3,1) 100%));
      z-index: 1;
    }
  }
  .page-nav-links {
    position: absolute;
    top: 20px;
    right: 20px;
    padding: 0;
    z-index: 99;
    li {
      display: inline-block;
      a {
        @extend .alrightsanslight;
        padding: 10px 10px 5px;
        background: #eee;
        font-size: 2em;
      }
    }
  }
  .article-item-category {
    @extend .alrightsanslight;
    font-size: .875em;
    text-transform: uppercase;
  }
  .article-title {
    font-size: 3em;
    @extend .alrightsansbold;
    margin-top: 10px;
  }
}

.share-this-post {
  text-align: center;
  margin: 30px 0 40px;
  ul {
    list-style: none;
    text-transform: uppercase;
    padding: 0;
    li {
      @extend .alrightsanslight;
      display: inline-block;
      font-size: 1.1em;
      .note {
        float: left;
        line-height: 1.625em;
        margin-right: 10px;
        margin-left: 40px;
      }
      a {
        font-size: 1.75em;
      }
    }
  }
}

.blog-page {
  .articles-filters {
    margin-top: 8px;
  }
  .no-container.related-posts .thumblist-nav .jspPane > div {
    .content {
      height: 100px;
      h4 {
        height: 40px;
      }
    }
  }
}