.contact-outer-container{
    max-width: 53em;
}
.contact-wrap {
  width: 100%;
  padding: 0 36px 30px;
  @include media($tablet-down) {
    padding: 0 16px 16px;
  }
}

.contact_main {
  @include span-columns(6);
  @include omega(2n);
  a {
    color: $light_blue;
  }
  h1 {
    text-transform: uppercase;
    color: #f15c22;
    font-size: 1.125em;
    @extend .alrightsans;
  }
  h2 {
    margin: 0;
    line-height: 1.4em;
    @extend .alrightsansbold;
    font-size: 1.125em;
  }
  p {
   font-size: .875em;
   margin: 0 0 15px;
   line-height: 1.5em;
  }
  @include media($tablet-down) {
    @include span-columns(12);
    border: none;
  }
}

.contact_secondary {
  @extend .contact_main;
  border-left: $dotted-border;
  padding-left: 50px;
  .separator {
    margin-left: -50px;
    margin-top: 10px;
    margin-bottom: 30px;
  }
  @include media($tablet-down) {
    padding-left: 0;
    border: none;
    .separator {
      display: none;
    }
  }
}