.gala-page {
  @include media($mobile) {
    .page-leader {
      h1 {
        margin-bottom: 12px;
      }
    }
    .load-more {
      color: $light-blue;
      cursor: default;
      padding-top: 0;
    }
    .body {
      h2, p, h3 {
        padding-left: 16px;
        padding-right: 16px;
      }
    }
  }
}
.gala-overview {
  .half-wit {
    float: left;
    margin-top: 30px;
    margin-bottom: 10px;
    @include media($mobile) {
      width: 100%;
      float: none;
      padding: 0 16px;
      margin-top: 0;
      .swiper-controls {
        top: 116px;
      }
    }
  }
  .main-story {
    width: 50%;
    float: left;
    margin-top: 50px;
    padding-left: 45px;
    padding: 0 16px 0 45px;
    @include media($mobile) {
      width: 100%;
      float: none;
      padding: 0 16px;
      margin-top: 0;
    }
  }
}
.gala-tab-content {
  @extend .generic-article-typography;
  text-align: center;
  h1, h2, h3, h4 {
    margin: 40px 0 20px;
  }
  p {
    margin: 0;
  }
  p.no-container {
    margin: 40px 0 0;
  }
}

.gala-tabs {
  @include media($mobile) {
    .tabbed-content {
      display: none;
    }
  }
}

.highlights {
  border: $dotted-border;
  border-right: none;
  border-left: none;
  margin: 20px 0 0;
  padding: 20px 0;
  width: 100%;
  float: left;
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
    li {
      float: left;
      width: 50%;
      padding: 15px 0 20px 45px;
      &.first {
        border-right: $dotted-border;
        padding-left: 0;
      }
      .content {
        float: left;
        width: 239px;
        margin-left: 30px;
        h3 {
          font-size: 1.625em;
          @extend .alrightsanslight;
          line-height: 1.2em;
          margin-bottom: 10px;
          margin-top: 0;
        }
        p {
          margin: 0;
        }
      }
      .highlight-thumbnail {
        width: 230px;
        height: 174px;
        float: left;
        background-size: cover;
        background-position: center;
      }
      .action-link {
        text-align: right;
        text-transform: uppercase;
        font-size: .75em;
        @extend .verlagbold;
      }
    }
  }
  @include media($mobile) {
    border-bottom: none;
    padding: 0;
    ul {
      li {
        display: block;
        float: none;
        width: 100%;
        padding: 4px;
        border-bottom: $dotted-border;
        position: relative;
        &.first {
          border-right: none;
          padding-left: 4px;
        }
        .highlight-thumbnail {
          width: 40%;
          height: 140px;
        }
        .content {
          width: 60%;
          padding-left: 16px;
          margin: 0;
          h3 {
            font-size: 1em;
            line-height: 1.2;
            margin-top: 8px;
          }
          p {
            line-height: 1.2;
            font-size: 0.8em;
          }
          .action-link {
            font-size: 11px;
            position: absolute;
            bottom: 3px;
            right: 16px;
          }
        }
      }
    }
  }
}
.overview-mode {
  .gala-upcoming {
    display: none;
    @include media($tablet-down) {
      display: block;
    }
  }
}