.legal-page {
  .article-section {
    text-align: center;
    margin-top: 60px;
    width: 100%;
    @extend .generic-article-typography;
    @extend .outer-container;
    h1 {
      margin-top: 50px;
    }
    &.documents-list {
      text-align: left;
      h3 {
        text-transform: uppercase;
        font-weight: bold;
        font-size: .75em;
        margin: 0;
        padding: 0 0 0 50px;
      }
      ul {
        margin: 100px 100px 0;
        padding: 0;
        li {
          @include span-columns(4);
          width: 333px;
          margin-right: 0;
          margin-bottom: 40px;
          padding-left: 50px;
          p {
            margin: 0;
          }
        }
      }
    }
  }
}