.legal-page {
  .article-section {
    text-align: center;
    margin-top: 60px;
    width: 100%;
    @extend .generic-article-typography;
    @extend .outer-container;
    h1 {
      margin-top: 50px;
    }
  }
}