
.programs-page {
  .program-section, .programs-additional-section {
    text-align: center;
    margin-top: 60px;
    width: 100%;
    @extend .generic-article-typography;
    h1 {
      margin-top: 50px;
    }
  }
  .become-a-provider-container {
    @include outer-container;
    &.hidden {
      display: none;
    }
  }

}