.team-list {
  list-style: none;
  padding: 0;
  margin: 30px auto;
  width: 80%;
  margin-left: 10%;
  margin-top: 55px;
  li {
    @include span-columns(3);
    @include omega(4n);
    height: 70px;
    font-weight: bold;
    text-align: left;
    font-size: 1.125em;
    small {
      text-transform: uppercase;
      font-weight: normal;
      display: block;
      line-height: 1.2em;
      font-size: .66em;
    }
  }
  @include media($tablet-down) {
    width: 100%;
    margin: 0;
    padding: 0 16px;
    li {
      @include span-columns(6);
      @include omega(2n);
    }
  }
  @include media($mobile) {
    li {
      @include span-columns(12);
    }
  }
}

.board-directors-title {
  margin-top: 11px;
}
.team-outer-container, .contact-outer-container {
  clear: both;
  padding-bottom: 110px;
}