.about-us-page {
  .text-container {
    text-align: center;
    @include media($tablet-down) {
      text-align: left;
    }
  }
  @include media($mobile) {
    .masthead {
      margin-bottom: 18px;
    }
    h2 {
      font-size: 20px;
    }
  }
}