<!doctype html xmlns:ng="http://angularjs.org/">
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>   <html class="no-js lt-ie9 lt-ie8" > <![endif]-->
<!--[if IE 8]>   <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Starkey Hearing Foundation</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    
    <link rel="stylesheet" href="assets/styles/eb506b64.main.css"/>
    
  </head>
  <body class='home-page page' ng:app="homePageApp">

    <!--[if lt IE 10]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <header>
      <div class="logo">
        <a href="/">

          <img src="images/starkey/starkey_logo.svg">
        </a>
      </div>
    
      <div class='tagline'>
        <h1>So The World May Hear.</h1>
      </div>
    
      <div class='social-links'>
        <ul>
          <li>
            <a href='#' class="icon starkey-twitter-link"></a>
          </li>
          <li>
            <a href='#' class="icon starkey-fb-link"></a>
          </li>
          <li>
            <a href='#' class="icon starkey-insta-link"></a>
          </li>
          <li>
            <a href='#' class="icon starkey-youtube"></a>
          </li>
        </ul>
      </div>
    </header>
    
    <section class='outer-container'>
      <nav class='header-nav'>
        <div class='centered-half-container'>
          <ul class='tabs row-table'>
            <li>
              <a href='#' data-content-class='.who-we-are'>Who we are</a>
            </li>
            <li>
              <a href='#' data-content-class='.what-we-do'>What we do</a>
            </li>
            <li>
              <a href='#' data-content-class='.get-involved'>Get involved</a>
            </li>
          </ul>
        </div>
          <!-- <hr/> -->
        <article class='tab-content who-we-are'>
          <ul>
            <li>
              <a href="#">
                <h3 class="highlight">About Us</h3>
                <h2>Our Mission</h2>
              </a>
            </li>
            <li>
              <a href="#">
                <h3 class="highlight">Team</h3>
                <h2>Lorem ipsum dolor sit amet, vixtua</h2>
              </a>
            </li>
            <li>

              <a href="{path='media_mentions/index'}">
                <h3 class="highlight">Media Mentions</h3>
                <h2>Lorem ipsum dolot, vix dico voluptua</h2>
              </a>
            </li>
            <li>
              <a href="#">
                <h3 class="highlight">Contact</h3>
                <h2>Lorem ipsum dolor sit amet, vix dico voluptua</h2>
              </a>
            </li>
          </ul>
        </article>
        <article class='tab-content what-we-do'>
          <ul>
            <li>
              <a href="#">
                <h3 class="highlight">Mission</h3>
                <h2>Our Global Impact</h2>
              </a>
            </li>
            <li>

              <a href="{path='programs/index'}">
                <h3 class="highlight">Programs</h3>
                <h2>Help on the homefront</h2>
                <p>Lorem ipsum dolor sit amet, vix dico voluptua</p>
              </a>
            </li>
            <li>
              <a href="#">
                <h3 class="highlight">Gala</h3>
                <h2>So the world may hear</h2>
                <p>Lorem ipsum dolor sit amet, vix dico voluptua</p>
              </a>
            </li>
            <li>

              <a href="{path='blog/index'}">
                <h3 class="highlight">Blog</h3>
                <h2>Daily Action</h2>
                <p>Lorem ipsum dolor sit amet, vix dico voluptua</p>
              </a>
            </li>
          </ul>
        </article>
        <article class='tab-content get-involved'>
          <ul>
            <li>
              <a href="#">
                <h3 class="highlight">Take Action</h3>
                <h2>Lorem ipsum dolor sit amet, vix dico voluptua</h2>
              </a>
            </li>
            <li>
              <a href="#">
                <h3 class="highlight">Donate Now</h3>
                <h2>Lorem ipsum dolor sit amet, vix dico voluptua</h2>
              </a>
            </li>
          </ul>
        </article>
      </nav>
    </section>
    

    <!-- Main content section -->
    <section class="carousel hero">

      <div class="swiper-controls">
        <a href="#" class="left" ng-click="prev()"><span class="icon starkey-pg-arrow-left"></span></a>
        <a href="#" class="right" ng-click="next()"><span class="icon starkey-pg-arrow-right"></span></a>
      </div>

      <swiper class="swiper" continuous="true" speed="5000" auto="false" identifier="swiper_1">
          {exp:channel:entries channel="homepage_features" limit="5"}
            <div class="slide">
              <article style="background: url('{homepage_feature_splash_image}'); background-size: cover;">
              </article>
              <div class="gradient-background"></div>
              <aside>
                <h1>{title}</h1>
                <p>{homepage_feature_subtitle}</p>
                <a href='{homepage_feature_link}' class="action-link">{homepage_feature_cta}</a>
              </aside>
            </div>
          {/exp:channel:entries}


      </swiper>

    </section>

    <section class='mission-statement'>
      {exp:channel:entries channel="homepage_content" limit="1"}
      <h1>{homepage_mission_statment}</h1>
      {/exp:channel:entries}

    </section>

    <section class='pictograms'>
    {exp:channel:entries channel="homepage_content" limit="1"}
      {homepage_pictograms}
      <div class="pict">
        <img src="{homepage_pictograms:slot_1}">
      </div>

      <div class="pict" style="text-align: center;">
        <img src="{homepage_pictograms:slot_2}">
      </div>

      <div class="pict" style="text-align: right; border-right: none;">
        <img src="{homepage_pictograms:slot_3}">
      </div>
      {/homepage_pictograms}
    {/exp:channel:entries}

    </section>
    <section ng:controller="HomeIndexBottomTabsCtrl">
      <div class="bottom-slide-tabs">
        <div class="bottom-slide-tab reveal" ng-show="currentBottomSlideTab==1">

          <world-map markers="markers">
            <div class="map-legend">
              <ul>
                <li><span class="icon starkey-legend-program"></span>Program</li>
                <li><span class="icon starkey-legend-stories"></span>Stories</li>
                <li><span class="icon starkey-legend-where-we-are-now"></span>Where we are now</li>
                <li><span class="icon starkey-legend-video"></span>Video</li>
                <li><span class="icon starkey-legend-gallery"></span>Gallery</li>
                <li><span class="icon starkey-legend-profile"></span>Profile</li>
              </ul>
            </div>
          </world-map>
        </div>
        <div class="bottom-slide-tab reveal" ng-show="currentBottomSlideTab==2">
          <panel-tab featured="currentTabModel"></panel-tab>
        </div>
      </div>

      <div class='carousel bottom thumblist'>
        <home-thumblist-nav articles="featuredArticles" clickaction="changeCurrentTab"></home-thumblist-nav>
      </div>
    </section>

    <!-- end main content section -->

    <footer>
      <div>
        <section class='social-info'>
          <ul>
            <li class='blog'>
              <span class="icon starkey-blog"></span>
              <div>
                <h4>From our blog</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
              </div>
              <p><a href='#'>Check out our blog &rarr;</a></p>
            </li>
            <li class='facebook'>
              <span class="icon starkey-fb"></span>
              <div>
                <h1>29,000 <strong>fans</strong></h1>
              </div>
              <p><a href='#'>Like us</a></p>
            </li>
            <li class='instagram'>
              <span class="icon starkey-insta"></span>
              <div>
                <ul class='thumbs'>
                  <li>
                    <img src="http://placehold.it/40x40">
                  </li>
                  <li>
                    <img src="http://placehold.it/40x40">
                  </li>
                  <li>
                    <img src="http://placehold.it/40x40">
                  </li>
                  <li>
                    <img src="http://placehold.it/40x40">
                  </li>
                </ul>
              </div>
              <p><a href='#'>Follow us &rarr;</a></p>
            </li>
            <li class='twitter'>
              <span class="icon starkey-share-twitter"></span>
              <div>
                <p class='tweet'>Lorem ipsum dolor sit amet, consectetur adipisicing elit. In, ducimus atque veniam magni debitis dignissimos.</p>
                <span class="time">15 sec ago</span>
              </div>
              <p><a href='#'>Follow us &rarr;</a></p>
    
            </li>
          </ul>
        </section>
        <section class='footer-links'>
          <ul>
            <li><a href='#'>Legal/financials &rarr;</a></li>
            <li><a href='#'>Subscribe to our newsletter &rarr;</a></li>
            <li><p>&copy; Starkey Hearing Foundation 2013</p></li>
          </ul>
        </section>
      </div>
    </footer>
    <script src="/assets/scripts/2e3dd315.vendor.js"></script>
    
    <script src="/assets/scripts/d219e97f.main.js"></script>
    
    <script src="/assets/scripts/f7bcce96.plugins.js"></script>
    

</body>
</html>
