<!doctype html xmlns:ng="http://angularjs.org/">
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Starkey Hearing Foundation</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    
    <link rel="stylesheet" href="assets/styles/10fc1463.main.css"/>
  </head>
  <body class='home-page page' ng:app="starkey">

    <!--[if lt IE 10]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <header>
      <div class="logo">
        <a href="/">

          <img src="images/starkey/starkey_logo.svg">
        </a>
      </div>
    
      <div class='tagline'>
        <h1>So The World May Hear.</h1>
      </div>
    
      <div class='social-links'>
        <ul>
          <li>
            <a href='#' class="icon starkey-twitter-link"></a>
          </li>
          <li>
            <a href='#' class="icon starkey-fb-link"></a>
          </li>
          <li>
            <a href='#' class="icon starkey-insta-link"></a>
          </li>
          <li>
            <a href='#' class="icon starkey-youtube"></a>
          </li>
        </ul>
      </div>
    </header>
    
    <section class='outer-container'>
      <nav class='header-nav'>
        <div class='centered-half-container'>
          <ul class='tabs row-table'>
            <li>
              <a href='#' data-content-class='.who-we-are'>Who we are</a>
            </li>
            <li>
              <a href='#' data-content-class='.what-we-do'>What we do</a>
            </li>
            <li>
              <a href='#' data-content-class='.get-involved'>Get involved</a>
            </li>
          </ul>
        </div>
          <!-- <hr/> -->
        <article class='tab-content who-we-are'>
          <ul>
            <li>
              <a href="#">
                <h3 class="highlight">About Us</h3>
                <h2>Our Mission</h2>
              </a>
            </li>
            <li>
              <a href="#">
                <h3 class="highlight">Team</h3>
                <h2>Lorem ipsum dolor sit amet, vixtua</h2>
              </a>
            </li>
            <li>

              <a href="{path='media_mentions/index'}">
                <h3 class="highlight">Media Mentions</h3>
                <h2>Lorem ipsum dolot, vix dico voluptua</h2>
              </a>
            </li>
            <li>
              <a href="#">
                <h3 class="highlight">Contact</h3>
                <h2>Lorem ipsum dolor sit amet, vix dico voluptua</h2>
              </a>
            </li>
          </ul>
        </article>
        <article class='tab-content what-we-do'>
          <ul>
            <li>
              <a href="#">
                <h3 class="highlight">Mission</h3>
                <h2>Our Global Impact</h2>
              </a>
            </li>
            <li>

              <a href="{path='programs/index'}">
                <h3 class="highlight">Programs</h3>
                <h2>Help on the homefront</h2>
                <p>Lorem ipsum dolor sit amet, vix dico voluptua</p>
              </a>
            </li>
            <li>
              <a href="#">
                <h3 class="highlight">Gala</h3>
                <h2>So the world may hear</h2>
                <p>Lorem ipsum dolor sit amet, vix dico voluptua</p>
              </a>
            </li>
            <li>

              <a href="{path='blog/index'}">
                <h3 class="highlight">Blog</h3>
                <h2>Daily Action</h2>
                <p>Lorem ipsum dolor sit amet, vix dico voluptua</p>
              </a>
            </li>
          </ul>
        </article>
        <article class='tab-content get-involved'>
          <ul>
            <li>
              <a href="#">
                <h3 class="highlight">Take Action</h3>
                <h2>Lorem ipsum dolor sit amet, vix dico voluptua</h2>
              </a>
            </li>
            <li>
              <a href="#">
                <h3 class="highlight">Donate Now</h3>
                <h2>Lorem ipsum dolor sit amet, vix dico voluptua</h2>
              </a>
            </li>
          </ul>
        </article>
      </nav>
    </section>
    

    <!-- Main content section -->
    <section class="carousel hero" ng-controller="heroCarouselCtrl">
    
      <div class="swiper-controls">
        <a href="#" class="left"><span class="icon starkey-pg-arrow-left"></span></a>
        <a href="#" class="right"><span class="icon starkey-pg-arrow-right"></span></a>
    
        <ul class="position-indicator" id="hero-position" data-slider="hero">
          <li class="on" data-id="1"><a href="#"></a></li>
          <li class="" data-id="2"><a href="#"></a></li>
          <li class="" data-id="3"><a href="#"></a></li>
        </ul>
      </div>
    
      <swiper class="swiper" speed="5000" continuous="true" auto="false">
        <div class="slide">
          <article>
            <img src="uploads/home/hero/commitment_to_action_film.jpg" />
          </article>
          <aside>
            <h1>Commitment to Action</h1>
            <p>In 2010, we committed to providing 100,000 hearing aids a year to those in need, a commitment of 1 million hearing aids for the decade.</p>
            <a href='#' class="action-link">Watch video</a>
          </aside>
        </div>
    
        <div class="slide">
          <article>
            <img src="uploads/home/hero/building_sustainable_systems_of_hearing_care.jpg" />
          </article>
          <aside>
            <h1>Building Sustainable Systems of Hearing Care</h1>
            <p>To truly make an impact, our efforts must be sustainable. See how, by working closely, with on-the-ground partners, we bring patients long-term hearing care. We incorporate a full-circle approach that ensures patients will be connected to the world of sound for years to come.</p>
            <a href='#' class="action-link">See what it takes to create lasting change.</a>
          </aside>
        </div>
    
        <div class="slide">
          <article>
            <img src="uploads/home/hero/vikings_mission.jpg" />
          </article>
          <aside>
            <h1>Hear at Home</h1>
            <p>Starkey Hearing Foundation has provided more hearing help to people in the United States than to any other country through domestic missions and the daily efforts of Hear Now, our  application-based program that provides hearing help to low-income Americans. Each person we help is fit with brand new, top-of-the-line digital hearing aids that are customized to their hearing loss.</p>
            <a href='http://www.starkeyhearingfoundation.org/programs/hear-now/' class="action-link">Find out how we are changing lives in America every day.</a>
          </aside>
        </div>
    
      </swiper>
    
    </section>

    <section class='mission-statement'>
      <h1>We use hearing as a vehicle to change lives around the world.</h1>
    </section>

    <section class='pictograms'>
      <div class="pict">
        <img src="uploads/home/picto/info_livesimpacted.jpg">
      </div>

      <div class="pict" style="text-align: center;">
        <img src="uploads/home/picto/info_livesindirectly.jpg">
      </div>

      <div class="pict" style="text-align: right; border-right: none;">
        <img src="uploads/home/picto/info_totalaids.jpg">
      </div>
    </section>

    <section class="map">
      <div id="map-popup">
        <div class="content"></div>
      </div>
      <div id="world-map-gdp"></div>

    </section>
    <section class='carousel bottom' ng-controller="bottomCarouselCtrl">
      <thumblist-nav>
        <div>
          <img src="uploads/home/feature/building_a_better_kibera.jpg">
          <h4>Global Hearing Mission</h4>
          <button ng-click="slide(0)">read stories &rarr;</button>
        </div>
        <div>
          <img src="uploads/home/feature/celebrity_film.jpg">
          <h4>Celebrity Support</h4>
          <button ng-click="slide(1)">watch video &rarr;</button>
        </div>
        <div>
          <img src="uploads/home/feature/changing_lives_with_sir_richard_branson_and_virgin_unite.jpg">
          <h4>Lorem ipsum</h4>
          <button ng-click="slide(2)">read stories &rarr;</button>
        </div>
        <div>
          <img src="uploads/home/feature/listen_carefully.jpg">
          <h4>Lorem ipsum</h4>
          <button ng-click="slide(3)">read stories &rarr;</button>
        </div>
        <div>
          <img src="uploads/home/feature/operation_change.jpg">
          <h4>Lorem ipsum</h4>
          <button ng-click="slide(4)">read stories &rarr;</button>
        </div>
        <div>
          <img src="uploads/home/feature/philippines_film.jpg">
          <h4>Lorem ipsum</h4>
          <button ng-click="slide(5)">read stories &rarr;</button>
        </div>
        <div>
          <img src="uploads/home/feature/providing_clean_water_in_tanzania.jpg">
          <h4>Lorem ipsum</h4>
          <button ng-click="slide(6)">read stories &rarr;</button>
        </div>
      </thumblist-nav>
    </section>

    <!-- end main content section -->

    <footer>
      <div>
        <section class='social-info'>
          <ul>
            <li class='blog'>
              <span class="icon starkey-blog"></span>
              <div>
                <h4>From our blog</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
              </div>
              <p><a href='#'>Check out our blog &rarr;</a></p>
            </li>
            <li class='facebook'>
              <span class="icon starkey-fb"></span>
              <div>
                <h1>29,000 <strong>fans</strong></h1>
              </div>
              <p><a href='#'>Like us</a></p>
            </li>
            <li class='instagram'>
              <span class="icon starkey-insta"></span>
              <div>
                <ul class='thumbs'>
                  <li>
                    <img src="http://placehold.it/40x40">
                  </li>
                  <li>
                    <img src="http://placehold.it/40x40">
                  </li>
                  <li>
                    <img src="http://placehold.it/40x40">
                  </li>
                  <li>
                    <img src="http://placehold.it/40x40">
                  </li>
                </ul>
              </div>
              <p><a href='#'>Follow us &rarr;</a></p>
            </li>
            <li class='twitter'>
              <span class="icon starkey-share-twitter"></span>
              <div>
                <p class='tweet'>Lorem ipsum dolor sit amet, consectetur adipisicing elit. In, ducimus atque veniam magni debitis dignissimos.</p>
                <span class="time">15 sec ago</span>
              </div>
              <p><a href='#'>Follow us &rarr;</a></p>
    
            </li>
          </ul>
        </section>
        <section class='footer-links'>
          <ul>
            <li><a href='#'>Legal/financials &rarr;</a></li>
            <li><a href='#'>Subscribe to our newsletter &rarr;</a></li>
            <li><p>&copy; Starkey Hearing Foundation 2013</p></li>
          </ul>
        </section>
      </div>
    </footer>
    <script src="/assets/scripts/b90c57c9.vendor.js"></script>

    <script src="/assets/scripts/67274fe4.main.js"></script>

    <script src="/assets/scripts/d41d8cd9.plugins.js"></script>

</body>
</html>
