<!doctype html xmlns:ng="http://angularjs.org/">
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>   <html class="no-js lt-ie9 lt-ie8" > <![endif]-->
<!--[if IE 8]>   <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Starkey Hearing Foundation</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, user-scalable=no">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    
    <link rel="stylesheet" href="/assets/styles/63e22172.main.css"/>
    
  </head>
  <body class='home-page page' ng:app="homePageApp" ng:controller="globalCtrl">
    <!--[if lt IE 10]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <video-player-modal show='videoIframe' width='90%' height='90%'></video-player-modal>
    
    <div class="CENTERPIN"></div>
    
    <div class='mobile-menu-mask'></div>
    <div class='mobile-menu'>
      <h1>So The World May Hear.</h1>
      <ul class='main-menu'>
        <li>
          <i class='starkey-dd-passive'></i>
          <span>Who we are</span>
          <div class='sub-devider'></div>
          <ul class='sub-menu'>
            <li>

              <a href="{site_url}/team">
                About Us
              </a>
            </li>
            <li>

              <a href="{site_url}/team">
                Team
              </a>
            </li>
            <li>

              <a href="{path='media_mentions/index'}">
                Media Mentions
              </a>
            </li>
            <li>

              <a href="{site_url}/contact">
                Contact
              </a>
            </li>
          </ul>
        </li>
        <li>
          <i class='starkey-dd-passive'></i>
          <span>What we do</span>
          <div class='sub-devider'></div>
          <ul class='sub-menu'>
            <li>

              <a href="{path='missions/index'}">
                Hearing Mission
              </a>
            </li>
            <li>

              <a href="{path='programs/index'}">
                Programs
              </a>
            </li>
            <li>

              <a href="{path='gala/index'}">
                Gala
              </a>
            </li>
            <li>

              <a href="{path='blog/index'}">
                Blog
              </a>
            </li>
          </ul>
        </li>
        <li>
          <i class='starkey-dd-passive'></i>
          <span>Get involved</span>
          <div class='sub-devider'></div>
          <ul class='sub-menu'>
            <li>

              <a href="{path='take_action/index'}">
                Take Action
              </a>
            </li>
            <li>
              <a href="https://action.starkeyhearingfoundation.org/">Donate Now</a>
            </li>
          </ul>
        </li>
      </ul>
      <div class='social-links'>
        <ul>
          <li>
            <a href='https://twitter.com/starkeyhearing' class="icon starkey-twitter-link" target="_blank"></a>
          </li>
          <li>
            <a href='https://www.facebook.com/starkeyhearing' class="icon starkey-fb-link" target="_blank"></a>
          </li>
          <li>
            <a href='http://instagram.com/starkeycares' class="icon starkey-insta-link" target="_blank"></a>
          </li>
          <li>
            <a href='http://www.youtube.com/user/StarkeyLabs' class="icon starkey-youtube" target="_blank"></a>
          </li>
        </ul>
        <div class='clearfix'></div>
      </div>
    </div>
    
    <header>
      <div class="logo">
        <a href="/">

          <img src="/images/starkey/starkey_logo.svg">
        </a>
      </div>
    
      <div class='tagline'>
        <h1>So The World May Hear.</h1>
      </div>
    
      <div class='social-links'>
        <ul>
          <li>
            <a href='https://twitter.com/starkeyhearing' class="icon starkey-twitter-link" target="_blank"></a>
          </li>
          <li>
            <a href='https://www.facebook.com/starkeyhearing' class="icon starkey-fb-link" target="_blank"></a>
          </li>
          <li>
            <a href='http://instagram.com/starkeycares' class="icon starkey-insta-link" target="_blank"></a>
          </li>
          <li>
            <a href='http://www.youtube.com/user/StarkeyLabs' class="icon starkey-youtube" target="_blank"></a>
          </li>
        </ul>
      </div>
    
      <div class='mobile-menu-icon'>
        <div class='icon starkey-legend-2'></div>
      </div>
    </header>
    
    
    <nav class='header-nav'>
      <div class='tabs-wrap'>
        <ul class='tabs row-table'>
          <li>
            <a href='#' data-content-class='.who-we-are'>Who we are</a>
          </li>
          <li>
            <a href='#' data-content-class='.what-we-do'>What we do</a>
          </li>
          <li>
            <a href='#' data-content-class='.get-involved'>Get involved</a>
          </li>
        </ul>
      </div>
      <article class='tab-content who-we-are'>
        <ul>
          <li>

            <a href="{site_url}/about-us">
    
    
              <h3 class="highlight">About Us</h3>
              <h2>Our Mission</h2>
            </a>
          </li>
          <li>

            <a href="{site_url}/team">
              <h3 class="highlight">Team</h3>
              <h2>Lorem ipsum dolor sit amet, vixtua</h2>
            </a>
          </li>
          <li>

            <a href="{path='media_mentions/index'}">
              <h3 class="highlight">Media Mentions</h3>
              <h2>Lorem ipsum dolot, vix dico voluptua</h2>
            </a>
          </li>
          <li>

            <a href="{site_url}/contact">
              <h3 class="highlight">Contact</h3>
              <h2>Lorem ipsum dolor sit amet, vix dico voluptua</h2>
            </a>
          </li>
        </ul>
      </article>
      <article class='tab-content what-we-do'>
        <ul>
          <li>

            <a href="{path='missions/index'}">
              <h3 class="highlight">Hearing Mission</h3>
              <h2>Our Global Impact</h2>
            </a>
          </li>
          <li>

            <a href="{path='programs/index'}">
              <h3 class="highlight">Programs</h3>
              <h2>Help on the homefront</h2>
              <p>Lorem ipsum dolor sit amet, vix dico voluptua</p>
            </a>
          </li>
          <li>

            <a href="{path='gala/index'}">
              <h3 class="highlight">Gala</h3>
              <h2>So the world may hear</h2>
              <p>Lorem ipsum dolor sit amet, vix dico voluptua</p>
            </a>
          </li>
          <li>

            <a href="{path='blog/index'}">
              <h3 class="highlight">Blog</h3>
              <h2>Daily Action</h2>
              <p>Lorem ipsum dolor sit amet, vix dico voluptua</p>
            </a>
          </li>
        </ul>
      </article>
      <article class='tab-content get-involved'>
        <ul>
          <li>

            <a href="{path='take_action/index'}">
              <h3 class="highlight">Take Action</h3>
              <h2>Lorem ipsum dolor sit amet, vix dico voluptua</h2>
            </a>
          </li>
          <li>
            <a href="https://action.starkeyhearingfoundation.org/">
              <h3 class="highlight">Donate Now</h3>
              <h2>Lorem ipsum dolor sit amet, vix dico voluptua</h2>
            </a>
          </li>
        </ul>
      </article>
    </nav>
    
    

    <!-- Main content section -->
    <section class="carousel hero add-bottom-border">

      <swiper
        continuous="true"
        speed="2000"
        identifier="swiper_1"
        auto="8000"
        paginator="true"
        size="short"
        >
          {exp:channel:entries channel="carousels" dynamic="no" limit="1" disable="{global:param_disable_default}"}
            {home_hero limit="5" disable="{global:param_disable_default}"}
            <slide
              image-url="{home_hero:homepage_feature_splash_image}"
              background-color=""
              quote=""
              video-url="{home_hero:homepage_feature_video}"
              link-url="{home_hero:homepage_feature_link}"
              headline="{home_hero:title}"
              body-copy="{home_hero:homepage_feature_subtitle}"
              logo-image-url=""
              link-style=""
              link-text="{home_hero:homepage_feature_cta}"
            >
            </slide>
            {/home_hero}
          {/exp:channel:entries}

      </swiper>

      <ul data-swiper="swiper_1" class="swiper-position">
        {exp:channel:entries channel="carousels" dynamic="no" limit="1" disable="{global:param_disable_default}"}
          {home_hero limit="5" disable="{global:param_disable_default}"}<li{if home_hero:count == 1} class="on"{/if}></li>{/home_hero}
        {/exp:channel:entries}
      </ul>


    </section>

    <section class='mission-statement'>
      {exp:channel:entries channel="homepage_content" limit="1"}
      <h1>{homepage_mission_statment}</h1>
      {/exp:channel:entries}

    </section>

    <section class='pictograms'>
    {exp:channel:entries channel="homepage_content" limit="1"}
      {homepage_pictograms}
      <div class="pict">
        <img src="{homepage_pictograms:slot_1}">
      </div>

      <div class="pict">
        <img src="{homepage_pictograms:slot_2}">
      </div>

      <div class="pict">
        <img src="{homepage_pictograms:slot_3}">
      </div>
      {/homepage_pictograms}
    {/exp:channel:entries}

    </section>
    <section ng:controller="HomeIndexBottomTabsCtrl">
      <div class="bottom-slide-tabs">
        <div class="bottom-slide-tab reveal" ng-show="currentBottomSlideTab==1">

          <world-map markers="markers">
            <div class="map-legend">
              <ul>
                <li><span class="icon starkey-legend-program"></span>Program</li>
                <li><span class="icon starkey-legend-stories"></span>Stories</li>
                <li><span class="icon starkey-legend-where-we-are-now"></span>Where we are now</li>
                <li><span class="icon starkey-legend-video"></span>Video</li>
                <li><span class="icon starkey-legend-gallery"></span>Gallery</li>
                <li><span class="icon starkey-legend-profile"></span>Profile</li>
              </ul>
            </div>
          </world-map>
        </div>
        <div class="bottom-slide-tab reveal" ng-show="currentBottomSlideTab==2">
          <panel-tab featured="currentTabModel"></panel-tab>
        </div>
      </div>

      <div class='carousel thumblist bottom'>
        <home-thumblist-nav featured="featuredArticlesHash" clickaction="changeCurrentTab"></home-thumblist-nav>
      </div>

    </section>

    <section class='mobile map-as-feed'>
      <h2>GLOBAL HEARING MISSION</h2>
      <div class='heading'>RECENT MISSION</div>
      <div class='map-as-feed-wrap'>
          {exp:channel:entries channel="homepage_map_items"}
            <div class="entry">
              <div class="entry-image">
                <a href="{homepage_map_item_cta_link}"><img src="{homepage_map_item_image}"></a>
              </div>
              <div class="entry-content">
                <h3><a href="{homepage_map_item_cta_link}">{title}</a></h3>
                <span>{homepage_map_item_location}</span>
                <a class="read-more" href="{homepage_map_item_cta_link}">Read More →</a>
              </div>
              <div class="clearfix"></div>
            </div>
          {/exp:channel:entries}

        <div class="load-more">LOAD MORE</div>
      </div>
    </section>

    <section class='mobile-carousel carousel hero'>
      <h2>STARKEY STORIES</h2>
      <swiper
        continuous="true"
        speed="2000"
        identifier="swiper_2"
        auto="8000"
        paginator="true"
        size="short"
        >
          {exp:channel:entries channel="carousels" dynamic="no" limit="1" disable="{global:param_disable_default}"}
            {home_bot}
              <slide
                image-url="{home_bot:carousel_image}"
                background-color=""
                quote=""
                video-url="{home_bot:carousel_video_url}"
                link-url=""
                headline="{home_bot:title}"
                body-copy=""
                logo-image-url=""
                link-style=""
                link-text="Watch Video"
              >
              </slide>
            {/home_bot}
          {/exp:channel:entries}

      </swiper>
    </section>

    <!-- end main content section -->

    <footer>
      <div class='mobile-footer-subscribe'>
        <a href ng-click="toggleSubscribeForm()" scroll-to-position="subscribeFormAnchor">SUBSCRIBE TO OUR NEWSLETTER &rarr;</a>
      </div>
      <div class="outer-container">
        <section class='social-info'>
          <ul>
            <li class='blog'>
              <span class="icon starkey-blog"></span>
              <latest-blog-post></latest-blog-post>
            </li>
            <li class='facebook'>
              <span class="icon starkey-fb"></span>
              <facebook url='http://starkeyhearingfoundation.org' caption="Starkey Facebook shares"></facebook>
            </li>
            <li class='instagram'>
              <span class="icon starkey-insta"></span>
              <div class="footer-list-item">
                <instagram-gallery></instagram-gallery>
              </div>
              <p class="read-more"><a href='http://instagram.com/starkeycares'>Follow us &rarr;</a></p>
            </li>
            <li class='twitter'>
              <span class="icon starkey-share-twitter"></span>
              <div id="twitter" class="footer-list-item">
              </div>
              <p class="read-more"><a href='#'>Follow us &rarr;</a></p>
    
            </li>
          </ul>
        </section>
      </div>
      <section class='footer-links'>
        <ul>
          <li class='legal-links'>

            <a href="{path='legal/index'}">
              Legal / Financials &rarr;
            </a>
          </li>
          <li class='desktop-footer-subscribe'><a href ng-click="toggleSubscribeForm()" scroll-to-position="subscribeFormAnchor" >Subscribe to our newsletter &rarr;</a></li>
          <li class='copyright'><p>&copy; Starkey Hearing Foundation 2014</p></li>
        </ul>
      </section>
      <div class="clearfix"></div>
      <div class="outer-container">
        <section>
          <div class="reveal outer-container form" ng-show="showSubscribeForm==true">
            <form action="" accept-charset="utf-8" class="flatform invert" method="post">
              <ul>
                <li class="leftHalf">
                    <input type="text" name="first_name" value="" id="freeform_first_name" maxlength="150" placeholder="FIRST NAME*"  />
                </li>
    
                <li class="rightHalf">
                    <input type="text" name="last_name" value="" id="freeform_last_name" maxlength="150" placeholder="LAST NAME*"  />
                </li>
    
                <li class="full">
                    <input type="text" name="email" value="" id="freeform_email" maxlength="150" placeholder="EMAIL*"  />
                </li>
    
                <li class="leftFourth">
                    <input type="text" name="address" value="" id="freeform_address" maxlength="150" placeholder="ADDRESS*"  />
                </li>
    
                <li class="middleFourthFirst">
                    <input type="text" name="city" value="" id="freeform_city" maxlength="150" placeholder="CITY*"  />
                </li>
    
                <li class="middleFourthSecond">
                    <input type="text" name="state" value="" id="freeform_state" maxlength="150" placeholder="STATE*"  />
                </li>
    
                <li class="rightFourth">
                    <input type="text" name="zip" value="" id="freeform_zip" maxlength="150" placeholder="ZIP*"  />
                </li>
    
                <li class="full centered">
                  <br/>
                    <input type="submit" name="submit" value="SUBMIT"/>
                </li>
              </ul>
            </form>
          </div>
        </section>
      </div>
        <p id="subscribeFormAnchor" style="display: block;">&nbsp;</p>
      </div>
    </footer>
    <script src="/assets/scripts/565c3282.vendor.js"></script>
    
    <script src="/assets/scripts/ca70f74b.main.js"></script>
    
    <script src="/assets/scripts/f7bcce96.plugins.js"></script>
    
</body>
</html>
