<!doctype html xmlns:ng="http://angularjs.org/">
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" > <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" > <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" > <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" > <!--<![endif]-->
  <head>
    <title>Starkey Hearing Foundation</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta charset="utf-8">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <link rel="stylesheet" href="/assets/styles/f0907386.main.css"/>
    
    <script src="/assets/scripts/d64e295e.modernizr.js"></script>
    
    <!--[if lte IE 8]>
    <script>
      document.createElement('swiper');
      document.createElement('slide');
      document.createElement('world-map');
      document.createElement('home-thumblist-nav');
      document.createElement('gala-thumblist-nav');
      document.createElement('thumblist-nav');
      document.createElement('tabbed-nav');
      document.createElement('expander');
      document.createElement('accordian');
      document.createElement('accordian-list');
      document.createElement('accordion-list-item');
      document.createElement('detail-page');
      document.createElement('dropdown');
      document.createElement('dropdown-option');
      document.createElement('gallery');
      document.createElement('gallery-slide');
      document.createElement('instagram-gallery');
      document.createElement('page-tile');
      document.createElement('paginated-article-list');
      document.createElement('panel-tab');
      document.createElement('swipe-paginator');
      document.createElement('tabbed-nav');
      document.createElement('thumblist-nav');
      document.createElement('video-player-modal');
    </script>
    <![endif]-->
  </head>
  <body class='team-page page' ng:app="homePageApp"  ng:controller="globalCtrl" id="ng-app">

    <!--[if lt IE 10]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <video-player-modal show='videoIframe' width='90%' height='90%'></video-player-modal>
    
    <div class="CENTERPIN"></div>
    
    <div class='mobile-menu-mask'></div>
    <div class='mobile-menu'>
      <h1>So the World May Hear.</h1>
      <ul class='main-menu'>
        <li>
          <i class='starkey-dd-passive'></i>
          <span>Who we are</span>
          <div class='sub-divider'></div>
          <ul class='sub-menu'>
            <li>

              <a href="{site_url}/team">
                About Us
              </a>
            </li>
            <li>

              <a href="{site_url}/team">
                Team
              </a>
            </li>
            <li>

              <a href="{path='media_mentions/index'}">
                Media Mentions
              </a>
            </li>
            <li>

              <a href="{site_url}/contact">
                Contact
              </a>
            </li>
          </ul>
        </li>
        <li>
          <i class='starkey-dd-passive'></i>
          <span>What we do</span>
          <div class='sub-divider'></div>
          <ul class='sub-menu'>
            <li>

              <a href="{path='missions/index'}">
                Hearing Missions
              </a>
            </li>
            <li>

              <a href="{path='programs/index'}">
                Programs
              </a>
            </li>
            <li>

              <a href="{path='gala/index'}">
                Gala
              </a>
            </li>
            <li>

              <a href="{path='blog/index'}">
                Blog
              </a>
            </li>
          </ul>
        </li>
        <li>
          <i class='starkey-dd-passive'></i>
          <span>Get involved</span>
          <div class='sub-divider'></div>
          <ul class='sub-menu'>
            <li>

              <a href="{path='take_action/index'}">
                Take Action
              </a>
            </li>
            <li>
              <a href="https://action.starkeyhearingfoundation.org/">Donate Now</a>
            </li>
          </ul>
        </li>
      </ul>
      <div class='social-links'>
        <ul>
          <li>
            <a href='https://twitter.com/starkeycares' class="icon starkey-twitter-link" target="_blank"></a>
          </li>
          <li>
            <a href='https://www.facebook.com/StarkeyCares' class="icon starkey-fb-link" target="_blank"></a>
          </li>
          <li>
            <a href='http://instagram.com/starkeycares' class="icon starkey-insta-link" target="_blank"></a>
          </li>
          <li>
            <a href='https://www.youtube.com/user/StarkeyHearingFndn' class="icon starkey-youtube" target="_blank"></a>
          </li>
        </ul>
        <div class='clearfix'></div>
      </div>
    </div>
    
    <div class="header-wrapper" navscrollspy ng-class="{affixed:passed}">
      <header class="page-header">
    
        <div class='mobile-menu-icon'>
          <div class='icon starkey-menu_mobile'></div>
        </div>
    
        <div class="inner-header">
          <div class="logo">
            <a href="/">

              <img src="/images/starkey/starkey_logo.svg">
            </a>
          </div>
    
          <div class='tagline'>
            <h1>So the World May Hear.</h1>
          </div>
    
          <div class='social-links'>
            <ul>
              <li>
                <a href='https://twitter.com/starkeycares' class="icon starkey-twitter-link" target="_blank"></a>
              </li>
              <li>
                <a href='https://www.facebook.com/StarkeyCares' class="icon starkey-fb-link" target="_blank"></a>
              </li>
              <li>
                <a href='http://instagram.com/starkeycares' class="icon starkey-insta-link" target="_blank"></a>
              </li>
              <li>
                <a href='https://www.youtube.com/user/StarkeyHearingFndn' class="icon starkey-youtube" target="_blank"></a>
              </li>
            </ul>
          </div>
        </div>
    
        <nav class='header-nav'>
          <div class="top-level-wrap">
            <div class='tabs-wrap'>
              <ul class='tabs row-table'>
                <li>
                  <a href='#' data-content-class='.who-we-are' class='who-we-are'>Who we are</a>
                </li>
                <li>
                  <a href='#' data-content-class='.what-we-do' class='what-we-do'>What we do</a>
                </li>
                <li>
                  <a href='#' data-content-class='.get-involved' class='get-involved'>Get involved</a>
                </li>
              </ul>
            </div>
          </div>
          <article class='tab-content who-we-are'>
            <ul>
              <li>

                <a href="{site_url}/about-us">
                  <h3 class="highlight">About Us</h3>
                  <h2>Our Mission</h2>
                </a>
              </li>
              <li>

                <a href="{site_url}/team">
                  <h3 class="highlight">Team</h3>
                  <h2>The People Who Make It Possible</h2>
                </a>
              </li>
              <li>

                <a href="{path='media_mentions/index'}">
                  <h3 class="highlight">Media Mentions</h3>
                  <h2>In the News</h2>
                </a>
              </li>
              <li>

                <a href="{site_url}/contact">
                  <h3 class="highlight">Contact</h3>
                  <h2>Get in Touch</h2>
                  <p style="margin-top:0;">866.354.3245 TEL<br>
                     info@starkeyfoundation.org</p>
                  <p style="text-transform:uppercase;font-weight:600;">Complete Listing &rarr;</p>
                </a>
              </li>
            </ul>
          </article>
          <article class='tab-content what-we-do'>
            <ul>
              <li>

                <a href="{path='missions/index'}">
                  <h3 class="highlight">Hearing Missions</h3>
                  <h2>Our Global Impact</h2>
                </a>
              </li>
              <li>

                <a href="{path='programs/index'}">
                  <h3 class="highlight">Programs</h3>
                  <h2>Caring in Action</h2>
                </a>
              </li>
              <li>

                <a href="{path='gala/index'}">
                  <h3 class="highlight">Gala</h3>
                  <h2>So the World May Hear</h2>
                </a>
              </li>
              <li>

                <a href="{path='blog/index'}">
                  <h3 class="highlight">Blog</h3>
                  <h2>News and Events</h2>
                </a>
              </li>
            </ul>
          </article>
          <article class='tab-content get-involved'>
            <ul>
              <li>

                <a href="{path='take_action/index'}">
                  <h3 class="highlight">Take Action</h3>
                  <h2>Learn How You Can Help</h2>
                </a>
              </li>
              <li>
                <a href="https://action.starkeyhearingfoundation.org/">
                  <h3 class="highlight">Donate Now</h3>
                  <h2>Give Today and Change a Life</h2>
                </a>
              </li>
            </ul>
          </article>
        </nav>
      </header>
    </div>
    
    
    
    
    

    {exp:channel:entries channel="team" dynamic="no" limit="1" disable="{global:param_disable_default}"}
    <div class="outer-container team-outer-container">
      <div class="masthead">
        <h3 class="section-title">{team_tagline}</h3>
        <h3 class="section-headline">{title}</h3>
        <div class="fixed-width">{team_intro}</div>

      </div>
      <div class="clearfix"></div>
      <ul class="team-list">
        {team_members}
        <li>{team_members:name} <small>{team_members:title}</small></li>
        {/team_members}
      </ul>

      <div class="masthead">
        <h3 class="section-title board-directors-title">Board of Directors</h3>
      </div>
      <div class="clearfix"></div>
      <ul class="team-list">
        {team_board}
        <li class="box">{team_board:name} <small>{team_board:title}</small></li>
        {/team_board}
      </ul>

    </div>
    {/exp:channel:entries}


    <footer>
      <div class='mobile-footer-subscribe'>
        <a href ng-click="toggleSubscribeForm()" scroll-to-position="subscribeFormAnchor">SUBSCRIBE TO OUR NEWSLETTER &rarr;</a>
      </div>
      <div class="outer-container">
        <section class='social-info'>
          <ul>
            <li class='blog'>
              <span class="icon starkey-blog"></span>
              <latest-blog-post></latest-blog-post>
            </li>
            <li class='facebook'>
              <span class="icon starkey-fb"></span>
              <facebook url="http://starkeyhearingfoundation.org" caption="Starkey Facebook shares"></facebook>
            </li>
            <li class='instagram'>
              <span class="icon starkey-insta"></span>
              <div class="footer-list-item">
                <instagram-gallery></instagram-gallery>
              </div>
              <p class="read-more"><a href='http://instagram.com/starkeycares'>Follow us &rarr;</a></p>
            </li>
            <li class='twitter'>
              <span class="icon starkey-twitter-01"></span>
              <div id="twitter" class="footer-list-item">
              </div>
              <p class="read-more">
                <a href="http://twitter.com/share?url=http://starkeyhearingfoundation.org" target="_blank">
                  Follow us &rarr;
                </a>
              </p>
            </li>
          </ul>
        </section>
      </div>
      <section class='footer-links'>
        <ul>
          <li class='legal-links'>

            <a href="{path='legal/index'}">
              Legal / Financials &rarr;
            </a>
          </li>
          <li class='desktop-footer-subscribe'><a href ng-click="toggleSubscribeForm()" scroll-to-position="subscribeFormAnchor" >Subscribe to our newsletter &rarr;</a></li>
          <li class='copyright'><p>&copy; Starkey Hearing Foundation 2014</p></li>
        </ul>
      </section>
      <div class="clearfix"></div>
      <div class="outer-container">
        <section>
          <div class="reveal outer-container form" ng-show="showSubscribeForm==true">
            {exp:freeform:form 
              form_name="newsletter_signup"
              form:name="newsletter"
              form:id="become_a_provider_form" 
              form:class="flatform invert"
              form:valid-submit="valid-submit"
              form:novalidate="novalidate"
              return="/#thank_you"
            }
              <ul>
                <li class="leftHalf" ng-class="{'has-error': newsletter.first_name.$invalid && newsletter.$submitted }">
                    {freeform:field:first_name attr:placeholder="FIRST NAME*" attr:ng-model="firstName" attr:required="required"}
                </li>
    
                <li class="rightHalf" ng-class="{'has-error': newsletter.last_name.$invalid && newsletter.$submitted }">
                    {freeform:field:last_name attr:placeholder="LAST NAME*" attr:ng-model="lastName" attr:required="required"}
                </li>
    
                <li class="full" ng-class="{'has-error': newsletter.email.$invalid && newsletter.$submitted }">
                    {freeform:field:email attr:placeholder="EMAIL*" attr:ng-model="email" attr:required="required"}
                </li>
    
                <li class="leftFourth" ng-class="{'has-error': newsletter.address.$invalid && newsletter.$submitted }">
                    {freeform:field:address attr:placeholder="ADDRESS*" attr:ng-model="address" attr:required="required"}
                </li>
    
                <li class="middleFourthFirst" ng-class="{'has-error': newsletter.city.$invalid && newsletter.$submitted }">
                    {freeform:field:city attr:placeholder="CITY*" attr:ng-model="city" attr:required="required"}
                </li>
    
                <li class="middleFourthSecond" ng-class="{'has-error': newsletter.state.$invalid && newsletter.$submitted }">
                    {freeform:field:state attr:placeholder="STATE*" attr:ng-model="state" attr:required="required"}
                </li>
    
                <li class="rightFourth" ng-class="{'has-error': newsletter.zip.$invalid && newsletter.$submitted }">
                    {freeform:field:zip attr:placeholder="ZIP*" attr:ng-model="zip" attr:required="required"}
                </li>
    
                <li class="full centered">
                  <br/>
                    <input type="submit" name="submit" value="SUBMIT"/>
                </li>
              </ul>
            {/exp:freeform:form}
          </div>
          <span id="subscribeFormAnchor"></span>
        </section>
      </div>
    </footer>

    <script src="/assets/scripts/e4952d31.vendor.js"></script>
    
    <script src="/assets/scripts/b65be179.main.js"></script>
    
    <script src="/assets/scripts/f7bcce96.plugins.js"></script>
    
</body>
</html>
