  <section class='page-leader'>
    <h1>
      {{missions.page_title}}
    </h1>
    <p>
    {{missions.page_lead}}
    </p>
  </section>

  <missions-map data="data"></missions-map>
  <section class="hearing-missions-statistics">
    <ul>
      <li class="first">
        <h1>
          {{statistics[0].name}}
        </h1>
        <p>
          {{statistics[0].tagline}}
        </p>
      </li>
      <li>
        <h1>
          {{statistics[1].name}}
        </h1>
        <p>
          {{statistics[1].tagline}}
        </p>
      </li>
      <li>
        <h1>
          {{statistics[2].name}}
        </h1>
        <p>
          {{statistics[2].tagline}}
        </p>
      </li>
    </ul>
  </section>
  <div class="outer-container">
    <section class='tabbed-content'>
      <nav class="outer-container">
          <ul class='three-tabs'>
            <li ng-class="{active: currentTab==0}" ng-click="changeTab(0)">
              <a href>{{content_tabs[0].tab_title}}</a>
            </li>
            <li ng-class="{active: currentTab==1}" ng-click="changeTab(1)">
              <a href>{{content_tabs[1].tab_title}}</a>
            </li>
            <li class="last" ng-class="{active: currentTab==2}" ng-click="changeTab(2)">
              <a href>{{content_tabs[2].tab_title}}</a>
            </li>
          </ul>
      </nav>
      <article ng-show="currentTab==0">
        <div class="image" style="background-image: url(uploads/home/feature/building_a_better_kibera.jpg); background-size:cover;">

        </div>
        <div class="content">
          <h1>{{content_tabs[0].content_title}}</h1>
          {{content_tabs[0].content}}"
        </div>
      </article>
      <article ng-show="currentTab==1">
        <div class="image" style="background-image: url(uploads/home/feature/west_bank_mission.jpg); background-size:cover;">

        </div>
        <div class="content">
          <h1>{{content_tabs[1].content_title}}</h1>
          {{content_tabs[1].content}}"
        </div>
      </article>
      <article ng-show="currentTab==2">
        <div class="image" style="background-image: url(uploads/home/feature/peru_mission_02.jpg); background-size:cover;">

        </div>
        <div class="content">
          <h1>{{content_tabs[2].content_title}}</h1>
          {{content_tabs[2].content}}"
        </div>
      </article>
    </section>
  </div>

  <section class='page-leader'>
    <h1>
      Highlights
    </h1>
  </section>

  <section class="carousel hero">

    <swiper
      continuous="true"
      speed="2000"
      identifier="swiper_1"
      auto="8000"
      paginator="true"
      tall="false"
      >
        <slide
          ng-repeat="highlight in highlights"
          image-url="{{highlight.image}}"
          background-color=""
          quote=""
          link-url="#/missions/{{highlight.id}}"
          headline="{{highlight.title}}"
          subhead="{{highlight.subtitle}}"
          body-copy="{{highlight.excerpt}}"
          logo-image-url=""
          link-style=""
          link-text=""
          layout="side-panel"
          detail-page="true"
          >
        </slide>
    </swiper>
  </section>

  <p class="centered"><a href class="link-with-border">See all mission highlights</a></p>