  <section class='page-leader'>
    <h1>
      {{missions.page_title}}
    </h1>
    <div class="fixed-width bigger uppercase" ng-bind-html-unsafe="missions.page_lead"></div>
  </section>

  <missions-map data="data"></missions-map>
  <section class="hearing-missions-statistics">
    <ul>
      <li ng-repeat="statistic in statistics" ng-class="{first: $index==0}">
        <h1>
          {{statistic.name}}
        </h1>
        <p>
          {{statistic.tagline}}
        </p>
      </li>
    </ul>
  </section>
  <div class="outer-container">
    <section class='tabbed-content'>
      <nav class="outer-container">
          <ul class='three-tabs'>
            <li ng-repeat="content_tab in content_tabs" ng-class="{active: currentTab==$index,last:$index==2}" ng-click="changeTab($index)">
              <a href>{{content_tab.tab_title}}</a>
            </li>
          </ul>
      </nav>
      <article ng-repeat="content_tab in content_tabs" ng-show="currentTab==$index">
        <div class="image" ng-style="{'background-image': 'url(' + content_tab.thumbnail_image_url + ')', 'background-size': 'cover'}">
        </div>
        <div class="content">
          <h1>{{content_tab.content_title}}</h1>
          {{content_tab.content}}"
        </div>
      </article>
    </section>
  </div>

  <section class='page-leader'>
    <h1>
      Highlights
    </h1>
  </section>

  <section class="carousel hero mission-highlights-carousel">
    <div swiper
      continuous="true"
      speed="2000"
      identifier="swiper_1"
      auto="8000"
      paginator="true"
      size="short"
      >
        <div slide
          ng-repeat="highlight in highlights"
          image-url="{{highlight.image}}"
          background-color=""
          quote=""
          link-url="#/missions/{{highlight.id}}"
          headline="{{highlight.title}}"
          subhead="{{highlight.subtitle}}"
          body-copy="{{highlight.excerpt | characters:450}}"
          logo-image-url=""
          link-style=""
          link-text=""
          layout="side-panel"
          detail-page="true"
          >
        </div>
    </div>
  </section>

  <section class='articles-list mission-highlights-list'>
    <ul class="pagination-articles tablet">
      <li ng-repeat="highlight in highlights" class="reveal">
        <div class='block'>
          <div class="image" ng-style="{'background-image': 'url(' + highlight.image + ')'}"></div>
          <div class="content">
            <h2 class="headline">{{highlight.title}}</h2>
            <p class='date'>{{parseDate(highlight.date) | date:"MMMM yyyy"}}</p>
            <p class='read-more'><a href="#/missions/{{highlight.id}}">Read more &rarr;</a></p>
          </div>
        </div>
      </li>
    </ul>
    <div class="clearfix"></div>
    <div class="load-more" ng-click="loadMore()" ng-hide="isAtPaginationEnd()">LOAD MORE</div>
  </section>

  <p class="centered"><a href="#/highlights" class="link-with-border">See all Hearing Missions</a></p>