<section class="carousel hero">

  <div class="swiper-controls">
    <a href="#" class="left" ng-click="prev()"><span class="icon starkey-pg-arrow-left"></span></a>
    <a href="#" class="right" ng-click="next()"><span class="icon starkey-pg-arrow-right"></span></a>

    <ul class="position-indicator" id="hero-position" data-slider="hero">
      <li class="on" data-id="1"><a href="#"></a></li>
      <li class="" data-id="2"><a href="#"></a></li>
      <li class="" data-id="3"><a href="#"></a></li>
    </ul>
  </div>

  <swiper class="swiper" speed="5000" continuous="true" auto="false">
    <!--(bake-start _if="dist")-->
      {exp:channel:entries channel="homepage_features" limit="5"}
        <div class="slide">
          <article style="background: url('{homepage_feature_splash_image}');">
          </article>
          <div class="gradient-background"></div>
          <aside>
            <h1>{title}</h1>
            <p>{homepage_feature_subtitle}</p>
            <a href='{homepage_feature_link}' class="action-link">{homepage_feature_cta}</a>
          </aside>
        </div>
      {/exp:channel:entries}
    <!--(bake-end)-->
    <!--(bake-start _if="server")-->
      <div class="slide">
        <article style="background: url('uploads/home/hero/commitment_to_action_film.jpg');">
        </article>
        <div class="gradient-background"></div>
        <aside>
          <h1>1 Commitment to Action</h1>
          <p>In 2010, we committed to providing 100,000 hearing aids a year to those in need, a commitment of 1 million hearing aids for the decade.</p>
          <a href='#' class="action-link">Watch video</a>
        </aside>
      </div>
      <div class="slide">
        <article style="background: url('uploads/home/hero/commitment_to_action_film.jpg');">
        </article>
        <div class="gradient-background"></div>
        <aside>
          <h1>2 Commitment to Action</h1>
          <p>In 2010, we committed to providing 100,000 hearing aids a year to those in need, a commitment of 1 million hearing aids for the decade.</p>
          <a href='#' class="action-link">Watch video</a>
        </aside>
      </div>
      <div class="slide">
        <article style="background: url('uploads/home/hero/commitment_to_action_film.jpg');">
        </article>
        <div class="gradient-background"></div>
        <aside>
          <h1>3 Commitment to Action</h1>
          <p>In 2010, we committed to providing 100,000 hearing aids a year to those in need, a commitment of 1 million hearing aids for the decade.</p>
          <a href='#' class="action-link">Watch video</a>
        </aside>
      </div>
    <!--(bake-end)-->

  </swiper>

</section>
