<div class="outer-container">
  <div class="masthead">
    <h3 class="section-headline">Media Mentions</h3>
  </div>
</div>

<section class="carousel hero short">
  <div class="swiper-controls">
    <a href="#" class="left" ng-click="prev()"><span class="icon starkey-pg-arrow-left"></span></a>
    <a href="#" class="right" ng-click="next()"><span class="icon starkey-pg-arrow-right"></span></a>
  </div>
  <swiper class="swiper" speed="5000" continuous="true" auto="false" identifier="swiper_1">
      <div class="slide" ng-repeat="media_mention in pressItems | filter:{featured:'true',type:'Media Mention'}">
        <article ng-style="backgroundStyle(media_mention);">
        </article>
        <blockquote ng-hide="!isQuote(media_mention)">{{media_mention.quote}}</blockquote>
        <div class="gradient-background" ng-hide="isQuote(media_mention)"></div>
        <aside>
          <div class="logo"><img ng-src="{{media_mention.logo_image_url}}"/></div>
          <a href='{{media_mention.call_to_action_link}}' target="_blank" class="action-link bordered" ng-hide="media_mention.call_to_action_text==''">{{media_mention.call_to_action_text}}</a>
        </aside>
      </div>
  </swiper>
</section>

<br/>

<div class="outer-container">
  <div class="pagination">
    <ul>
      <li class="disabled">
        <a href ng-disabled="pagination.page == 0" ng-click="pagination.prevPage()"><span class="icon starkey-pg-arrow-left">&nbsp;</span>Prev</a>
      </li>
      <li ng-repeat="n in [] | range: pagination.numPages" ng-class="{active: $index==pagination.page}">
        <a href ng-click="pagination.toPageId(n)">{{n + 1}}</a>
      </li>
      <li class="disabled">
        <a href ng-click="pagination.nextPage()">Next <span class="icon starkey-pg-arrow-right">&nbsp;</span></a>
      </li>
    </ul>
  </div>

  <ul class="articles-filters">
    <li>Sort &nbsp;|</li>
    <li class="dropdown wide">
      <select ng-model="articleFilters.type" class="dropdown-select">
        <option ng-repeat="cat in articleCategories" value="{{cat.tag}}">{{cat.name}}</option>
      </select>
    </li>
    <li>&nbsp;|&nbsp;</li>
    <li class="dropdown wide">
      <select ng-model="articleFilters.year" class="dropdown-select">
        <option ng-repeat="year in articleYears" value="{{year.tag}}">{{year.name}}</option>
      </select>
    </li>
  </ul>

  <ul class="pagination-articles">
    <li ng-repeat="article in pressItems | filter:articleFilters | startFrom: pagination.page * pagination.perPage | limitTo: pagination.perPage">
      <div class='block'>
        <div class="image" ng-style="{'background-image': 'url(' + article.thumbnail_image_url + ')'}"></div>
        <p class="category">{{article.category}}</p>
        <h2 class="headline">{{article.headline}}</h2>
        <p class='date'>{{parseDate(article.date) | date:"MMMM d yyyy"}}</p>
        <p class='read-more' ng-switch="article.type">
          <a ng-switch-when="Press Item" href="#/media_mentions/{{article.id}}">
            Read more &rarr;
          </a>
          <a ng-switch-when="Media Mention" href="{{article.video_link}}" target="_blank">
            Read more &rarr;
          </a>
        </p>
      </div>
    </li>
  </ul>

  <div class="pagination">
    <ul>
      <li class="disabled">
        <a href ng-disabled="pagination.page == 0" ng-click="pagination.prevPage()"><span class="icon starkey-pg-arrow-left">&nbsp;</span>Prev</a>
      </li>
      <li ng-repeat="n in [] | range: pagination.numPages" ng-class="{active: $index==pagination.page}">
        <a href ng-click="pagination.toPageId(n)">{{n + 1}}</a>
      </li>
      <li class="disabled">
        <a href ng-click="pagination.nextPage()">Next <span class="icon starkey-pg-arrow-right">&nbsp;</span></a>
      </li>
    </ul>
  </div>
</div>