<div class="article-header-image">
  <div class="image" ng-style="{'background-image': 'url(' + article.header_image_url + ')'}">
    <ul class="page-nav-links">
      <li>
        <a href="#/articles/{{article.prev_item}}" ng-disabled="currentPosition == article.prev_item">&larr;</a>
      </li>
      <li>
        <a href="#/articles/{{article.next_item}}" ng-disabled="currentPosition == article.next_item" >&rarr;</a>
      </li>
      <li>
        <a href="#">X</a>
      </li>
    </ul>
    </div>
  </div>
</div>

<br/>
<br/>
<br/>
<div class="outer-container detail-page-body">
  <section class='page-leader'>
    <h1>Media Mention</h1>
  </section>
  <h1 class="article-headline">{{article.title}}</h1>
  <p class="article-date">{{article.date}}</p>
  <h3 class="article-subheadline">{{article.sub_headline}}</h3>
  <div ng-bind-html="article.body"></div>

<div class="share-this-post">
    <ul>
      <li><span class="note">Media Contact</span></li>
      <li>
        <a href="http://twitter.com/share?url={{locationUrl()}}&text=Share on Twitter">
          <span class="icon starkey-share-twitter"></span>
        </a>
      </li>
      <li>
        <a href="http://www.facebook.com/sharer.php?u={{locationUrl()}}" target="_blank">
          <span class="icon starkey-share-fb"></span>
        </a>
      </li>
      <li>
        <a href="mailto:?subject=I wanted you to see this site&amp;body=Check out this site {{locationUrl()}}.">
          <span class="icon starkey-share-email"></span>
        </a>
      </li>
      <li>
        <a href="mailto:{{article.press_release_contact}}">
          <span class="icon starkey-share-email"></span>
        </a>
      </li>
      <li><span class="note">Download PDF</span></li>
      <li>
        <a href="{{article.press_release_pdf_download}}">
          <span class="icon starkey-pdf"></span>
        </a>
      </li>
    </ul>
  </div>
</div>
<br/>
<hr class="separator padded"/>

<div paginated-press-list per-page="9" articles="pressItems" filters="pressFilters"></div>
