<section class="carousel hero short">
  <swiper class="swiper" continuous="true" speed="2000" identifier="swiper_1" auto="8000" paginator="true">
    <!--(bake-start _if="server")-->

      <div class="slide" ng-repeat="media_mention in pressItems | filter:{featured:'true',type:'media_mention'}">
        <article ng-style="backgroundStyle(media_mention);">
        </article>
        <div ng-hide="!isQuote(media_mention)" class="blockquote-table">
          <blockquote ng-hide="!isQuote(media_mention)">{{media_mention.quote}}</blockquote>
        </div>
        <div class="gradient-background" ng-hide="isQuote(media_mention)"></div>
        <aside>
          <div class="logo"><img ng-src="{{media_mention.logo_image_url}}"/></div>
          <br/>
          <a href='{{media_mention.call_to_action_link}}' target="_blank" class="action-link">{{media_mention.call_to_action_text}}</a>
        </aside>
      </div>
    <!--(bake-end)-->

  </swiper>
</section>
