<footer>
  <div class='mobile-footer-subscribe'>
    <a href ng-click="toggleSubscribeForm()" scroll-to-position="subscribeFormAnchor">SUBSCRIBE TO OUR NEWSLETTER &rarr;</a>
  </div>
  <div class="outer-container">
    <section class='social-info'>
      <ul>
        <li class='blog'>
          <span class="icon starkey-blog"></span>
          <latest-blog-post></latest-blog-post>
        </li>
        <li class='facebook'>
          <span class="icon starkey-fb"></span>
          <facebook url="http://starkeyhearingfoundation.org" caption="Starkey Facebook shares"></facebook>
        </li>
        <li class='instagram'>
          <span class="icon starkey-insta"></span>
          <div class="footer-list-item">
            <instagram-gallery></instagram-gallery>
          </div>
          <p class="read-more"><a href='http://instagram.com/starkeycares'>Follow us &rarr;</a></p>
        </li>
        <li class='twitter'>
          <span class="icon starkey-twitter-01"></span>
          <div id="twitter" class="footer-list-item">
          </div>
          <p class="read-more">
            <a href="http://twitter.com/share?url=http://starkeyhearingfoundation.org" target="_blank">
              Follow us &rarr;
            </a>
          </p>
        </li>
      </ul>
    </section>
  </div>
  <section class='footer-links'>
    <ul>
      <li class='legal-links'>
        <!--(bake-start _if="server")-->
        <a href="/legal.html">
        <!--(bake-end)-->
        <!--(bake-start _if="dist")-->
        <a href="{path='legal/index'}">
        <!--(bake-end)-->
          Legal / Financials &rarr;
        </a>
      </li>
      <li class='desktop-footer-subscribe'><a href ng-click="toggleSubscribeForm()" scroll-to-position="subscribeFormAnchor" >Subscribe to our newsletter &rarr;</a></li>
      <li class='copyright'><p>&copy; Starkey Hearing Foundation 2014</p></li>
    </ul>
  </section>
  <div class="clearfix"></div>
  <div class="outer-container">
    <section>
      <div class="reveal outer-container form" ng-show="showSubscribeForm==true">
        <form action="" accept-charset="utf-8" class="flatform invert" method="post">
          <ul>
            <li class="leftHalf">
                <input type="text" name="first_name" value="" id="freeform_first_name" maxlength="150" placeholder="FIRST NAME*"  />
            </li>

            <li class="rightHalf">
                <input type="text" name="last_name" value="" id="freeform_last_name" maxlength="150" placeholder="LAST NAME*"  />
            </li>

            <li class="full">
                <input type="text" name="email" value="" id="freeform_email" maxlength="150" placeholder="EMAIL*"  />
            </li>

            <li class="leftFourth">
                <input type="text" name="address" value="" id="freeform_address" maxlength="150" placeholder="ADDRESS*"  />
            </li>

            <li class="middleFourthFirst">
                <input type="text" name="city" value="" id="freeform_city" maxlength="150" placeholder="CITY*"  />
            </li>

            <li class="middleFourthSecond">
                <input type="text" name="state" value="" id="freeform_state" maxlength="150" placeholder="STATE*"  />
            </li>

            <li class="rightFourth">
                <input type="text" name="zip" value="" id="freeform_zip" maxlength="150" placeholder="ZIP*"  />
            </li>

            <li class="full centered">
              <br/>
                <input type="submit" name="submit" value="SUBMIT"/>
            </li>
          </ul>
        </form>
      </div>
    </section>
  </div>
</footer>