<footer>
  <div>
    <section class='social-info'>
      <ul>
        <li class='blog'>
          <span class="icon starkey-blog"></span>
          <div>
            <h4>From our blog</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
          </div>
          <p><a href='#'>Check out our blog &rarr;</a></p>
        </li>
        <li class='facebook'>
          <span class="icon starkey-fb"></span>
          <div>
            <h1>29,000 <strong>fans</strong></h1>
          </div>
          <p><a href='#'>Like us</a></p>
        </li>
        <li class='instagram'>
          <span class="icon starkey-insta"></span>
          <div>
            <ul class='thumbs'>
              <li>
                <img src="http://placehold.it/40x40">
              </li>
              <li>
                <img src="http://placehold.it/40x40">
              </li>
              <li>
                <img src="http://placehold.it/40x40">
              </li>
              <li>
                <img src="http://placehold.it/40x40">
              </li>
            </ul>
          </div>
          <p><a href='#'>Follow us &rarr;</a></p>
        </li>
        <li class='twitter'>
          <span class="icon starkey-share-twitter"></span>
          <div>
            <p class='tweet'>Lorem ipsum dolor sit amet, consectetur adipisicing elit. In, ducimus atque veniam magni debitis dignissimos.</p>
            <span class="time">15 sec ago</span>
          </div>
          <p><a href='#'>Follow us &rarr;</a></p>

        </li>
      </ul>
    </section>
    <section class='footer-links'>
      <ul>
        <li>
          <!--(bake-start _if="server")-->
          <a href="/legal.html">
          <!--(bake-end)-->
          <!--(bake-start _if="dist")-->
          <a href="{path='legal/index'}">
          <!--(bake-end)-->
            Legal/financials &rarr;
          </a>
        </li>
        <li><a href='#'>Subscribe to our newsletter &rarr;</a></li>
        <li><p>&copy; Starkey Hearing Foundation 2013</p></li>
      </ul>
    </section>
  </div>
</footer>