<title>Starkey Hearing Foundation</title>
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta charset="utf-8">
<meta name="description" content="">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
<!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
<!-- build:css(.tmp) /assets/styles/main.css -->
<link rel="stylesheet" href="styles/app.css">
 <!-- endbuild -->

<!-- build:js /assets/scripts/modernizr.js -->
<script src="../bower_components/modernizr/modernizr.js"></script>
<!-- endbuild -->

<!--[if lte IE 8]>
<script>
  document.createElement('swiper');
  document.createElement('slide');
  document.createElement('world-map');
  document.createElement('home-thumblist-nav');
  document.createElement('gala-thumblist-nav');
  document.createElement('thumblist-nav');
  document.createElement('tabbed-nav');
  document.createElement('expander');
  document.createElement('accordion');
  document.createElement('accordion-list');
  document.createElement('accordion-list-item');
  document.createElement('detail-page');
  document.createElement('dropdown');
  document.createElement('dropdown-option');
  document.createElement('gallery');
  document.createElement('gallery-slide');
  document.createElement('instagram-gallery');
  document.createElement('page-tile');
  document.createElement('paginated-article-list');
  document.createElement('panel-tab');
  document.createElement('swipe-paginator');
  document.createElement('tabbed-nav');
  document.createElement('thumblist-nav');
  document.createElement('video-player-modal');
</script>
<![endif]-->