<!-- build:js /assets/scripts/vendor.js -->
<!-- bower:js -->
<script src="../bower_components/jquery/jquery.js"></script>
<script src="../bower_components/angular/angular.js"></script>
<script src="../bower_components/angular-route/angular-route.js"></script>
<script src="../bower_components/angular-resource/angular-resource.js"></script>
<script src="../bower_components/angular-sanitize/angular-sanitize.js"></script>
<script src="../bower_components/ahundredyears-swiper/src/swipe.js"></script>
<script src="../bower_components/ahundredyears-swiper/src/ahundredyears-swiper.js"></script>
<script src="../bower_components/ahundredyears-thumblist-nav/src/jscrollpane.js"></script>
<script src="../bower_components/ahundredyears-thumblist-nav/src/ahundredyears-thumblist-nav.js"></script>
<script src="../bower_components/bower-jvectormap/jquery-jvectormap-1.2.2.min.js"></script>
<script src="../bower_components/bower-jvectormap/jquery-jvectormap-world-mill-en.js"></script>
<script src="../bower_components/ahundredyears-pagination/src/ahundredyears-pagination.js"></script>
<!-- endbower -->
<!-- endbuild -->

<!-- build:js(.tmp) /assets/scripts/main.js -->
<script src="scripts/main.js"></script>
<script src="scripts/controllers.js"></script>
<script src="scripts/services.js"></script>
<script src="scripts/tab_behavior.js"></script>
<!-- endbuild -->

<!-- build:js(.tmp) /assets/scripts/plugins.js -->
<!-- endbuild -->
