.accordion {
  border-top: $dotted-border;
  .expander {
    border-bottom: $dotted-border;
    .title {
      display: block;
      padding: 20px;
      text-align: center;
      .inner-title {
        // display: inline-block;
        // margin-top: 5px;
        position: relative;
      }
      .starkey-dd-passive {
        font-size: 1.25em;
        position: absolute;
        right: -27px;
        top: -3px;
      }
      &.active {
        color: $light-blue;
        .starkey-dd-passive {
          -webkit-transform: rotate(90deg);
          -moz-transform: rotate(90deg);
          -o-transform: rotate(90deg);
          -ms-transform: rotate(90deg);
          transform: rotate(90deg);
          color: $gray-title;
        }
      }
    }
    .body {
      padding: 0 16px 20px;
      .accordion-list {
        @extend .outer-container;
        ul {
          margin: 0 0 30px;
          padding: 0 0 30px;
          border-bottom: $dotted-border;
        }
        h3 {
          text-transform: uppercase;
          font-size: 12px;
          margin: 0;
        }
        .accordion-list-item {
          @include span-columns(4);
          p {
            margin: 0;
          }
          .image {
            text-align: center;
            background-size: cover;
            background-position: center;
            height: 200px;
            width: 200px;
            margin: 10px auto;
          }
          @include media($tablet-down) {
            @include span-columns(12);
          }
        }
        &:last-child {
          ul {
            border: none;
          }
        }
      }
    }
  }
}