.accordion {
  border-top: 1px dotted #333;
  .expander {
    border-bottom: 1px dotted #333;
    .title {
      display: block;
      padding: 20px;
      text-align: center;
    }
    .body {
      .accordion-list {
        @extend .outer-container;
        > ul {
          margin: 0;
          padding: 0;
        }
        h3 {

        }
        .accordion-list-item {
          // display: inline-block;
          // width: 200px;
          @include span-columns(4);
          h3 {

          }
          p {

          }
        }
      }
    }
  }
}