.accordion {
  border-top: 1px dotted #333;
  .expander {
    border-bottom: 1px dotted #333;
    .title {
      display: block;
      padding: 20px;
      text-align: center;
      .arrow {
        display: inline-block;
        margin-left: 5px;
      }
      &.active {
        color: $light-blue;
        .arrow {
          -webkit-transform: rotate(90deg);
          -moz-transform: rotate(90deg);
          -o-transform: rotate(90deg);
          -ms-transform: rotate(90deg);
          transform: rotate(90deg);
          color: $gray-title;
        }
      }
    }
    .body {
      padding-bottom: 20px;
      .accordion-list {
        @extend .outer-container;
        ul {
          margin: 0 0 30px;
          padding: 0 0 30px;
          border-bottom: 1px dotted #333;
        }
        h3 {
          text-transform: uppercase;
          font-size: 12px;
          margin: 0;
        }
        .accordion-list-item {
          @include span-columns(4);
          h3 {

          }
          p {
            margin: 0;
          }
          .image {
            text-align: center;
            img {
              max-width:100%;
              height:auto;
            }
          }
        }
        &:last-child {
          ul {
            border: none;
          }
        }
      }
    }
  }
}