@mixin drop-arrow {
  content: '';
  position: absolute;
  z-index: 2;
  top: 9px;
  right: 10px;
  width: 0;
  height: 0;
  border: 6px dashed;
  border-color: #888 transparent;
  pointer-events: none;
  margin-top: 2px;
  border-top-style: solid;
  border-bottom: none;
}
.dropdown {
  display: inline-block;
  position: relative;
  height: 30px;
  width: 100px;
  margin: 0;
  vertical-align: top;
  &.tablet-down {
    display: none;

  }
  select {
    margin-top: 5px;
  }

  @include media($tablet-down) {
    &.tablet-down {
      display: block;
    }
    &:after {
      @include drop-arrow;
    }
  }
  &.wide {
    width: 100px;
  }
  &.wider {
    width: 130px;
  }
  &.widest {
    width: 160px;
  }
  &.narrow {
    width: 100px;
  }

  @include media($mobile) {
    &.wide {
      width: 65px;
      padding: 0 5px;
    }
  }
}

.dropdown-select {
  position: relative;
  width: 110%;
  /* "transparent" doesn't work with Opera */
  background: rgba(black, 0) !important;
  border: 0;
  border-radius: 0;
  -webkit-appearance: none;
  text-transform: uppercase;
  color: $gray-title;
  font-size: 1em;
  &:focus {
    z-index: 3;
    width: 100%;
    color: $light-blue;
    outline: none
  }

  option {
    margin: 3px 3px;
    padding: 6px 8px;
    text-shadow: none;
    background: #f2f2f2;
    cursor: pointer;
    color: $gray-title;
    font-size: 1em;
  }
}

/* Fix for IE 8 putting the arrows behind the select element. */
.lt-ie9 {
  .dropdown { z-index: 1; }
  .dropdown-select { z-index: -1; }
  .dropdown-select:focus { z-index: 3; }
}

/* Dirty fix for Firefox adding padding where it shouldn't. */
@-moz-document url-prefix() { .dropdown-select { padding-left: 6px; } }


// ---------------------------------
.outer-dropdown-wrapper ::selection {
  background: transparent;
}

.outer-dropdown-wrapper ::-moz-selection {
  background: transparent;
}

.outer-dropdown-wrapper  {
  *zoom: 1;
  width: 100%;
  margin-left: 5px;
}

.outer-dropdown-wrapper:after {
  clear: both;
  content: "";
  display: table;
}

.dropdown-wrapper {
  position: relative;
  width: 100%;
  margin: 0 auto;
  padding: 0;
  cursor: pointer;
  outline: none;
  z-index: 1000;
  @include media($tablet-down) {
    display: none;
  }
  &:after {
    @include drop-arrow;
  }
  .dropdown-list {
    position: absolute;
    top: -10px;
    left: -10px;
    right: 0;
    background: white;
    border-radius: 0;
    -webkit-transition: all 0.5s ease-in;
    -moz-transition: all 0.5s ease-in;
    -ms-transition: all 0.5s ease-in;
    -o-transition: all 0.5s ease-in;
    transition: all 0.5s ease-in;
    list-style: none;
    padding: 10px;
    width: 110%;
    opacity: 0;
    pointer-events: none;
    li {
      width: 100%;
      a {
        display: block;
        text-decoration: none;
        -webkit-transition: all 0.3s ease-out;
        -moz-transition: all 0.3s ease-out;
        -ms-transition: all 0.3s ease-out;
        -o-transition: all 0.3s ease-out;
        transition: all 0.3s ease-out;
        width: 100%;
        &:hover {
          color: $light-blue;
        }
      }
    }
  }
  &.active .dropdown-list {
    opacity: 1;
    pointer-events: auto;
    z-index: 999;
  }
}
