.gallery, .single-image-gallery {
  height: 536px;
  background-color: #000;
  .gallery-slide {
    height: 525px;
    margin: 0 auto;
    position: relative;
    border: none;
    display: inline-block;
    /* ie7 support */
    *display: inline;
    zoom: 1;
    &.links_to_video {
      a {
        display: block;
        height: 100%;
        width: 100%;
        .icon{
          position: absolute;
          left: 47%;
          top: 43%;
          color: white;
          font-size: 5em;
        }
        &:hover {
          cursor: pointer;
        }
      }
    }
  }
}
.gallery {
  overflow: auto;
  white-space: nowrap;
  .jspPane {
    position: absolute;
    .gallery-slide {
    }
  }
}

.single-image-gallery {
  height: 525px;
  .gallery-slide {
    max-width: 1600px;
    width: 100%;
  }
  @include breakpoint($tablet) {
    height: 440px;
    .gallery-slide {
      height: 440px;
    }
  }
  @include breakpoint($mobile) {
    height: 330px;
    .gallery-slide {
      height: 330px;
    }
  }
}
