.gallery-slide {
  position: relative;
}
.gallery, .single-image-gallery {
  height: 536px;
  background-color: #000;
  .jspVerticalBar {
    display: none;
  }
  .jspPane {
    .gallery-slide {
      height: 525px;
      // width: 100%;
      margin: 0 auto;
      border: none;
      display: inline-block;
      /* ie7 support */
      *display: inline;
      zoom: 1;

      a {
        height: 100%;
        display: block;
        img {
          height: 525px;
          display: block;
        }
      }
    }
  }
  @include media($mobile) {
    .play-video-link {
      margin-top: -25px;
    }
  }
}

.gallery {
  overflow: auto;
  white-space: nowrap;
  .jspPane {
    position: absolute;
    top: 0;
    right: 0;
  }
}

.single-image-gallery {
  height: 536px;
  .gallery-slide {
    max-width: 1600px;
    width: 100%;
    height: 536px;
    a {
      height: 100%;
      width: 100%;
      display: block;
      text-align: center;
      img {
        height: 536px;
      }
    }
  }
  @include media($tablet) {
    height: 440px;
    .gallery-slide {
      height: 440px;
    }
  }
  @include media($mobile) {
    height: 330px;
    .gallery-slide {
      height: 330px;
    }
  }
}

@include media($tablet-down) {
  .gallery {
    display: none;
  }
}
