.gallery, .single-image-gallery {
  width: 100%;
  height: 536px;
  max-height: 536px;
  background-color: #000;
  .gallery-slide {
    height: 525px;
    max-width: 1600px;
    margin: 0 auto;
    position: relative;
    border: none;
    zoom: 1;
    &.links_to_video {
      a {
        display: block;
        height: 100%;
        width: 100%;
        .play-video-link {
          position: absolute;
          left: 47%;
          top: 43%;
          .icon {
            color: white;
            font-size: 5em;
          }
        }
        &:hover {
          cursor: pointer;
        }
      }
    }
    &.plain_image {

    }
    zoom: 1;
    .image {
      background-size: cover;
      width: 100%;
      height: 100%;
    }
  }
}
.gallery {
  overflow: auto;
  white-space: nowrap;
  .jspPane {
    position: absolute;
    .gallery-slide {
      width: 780px;
    }
  }
}

.single-image-gallery {
  height: 525px;
  max-height: 525px;
  .gallery-slide {
    width: 100%;
    &.links_to_video {

    }
    &.plain_image {

    }
  }
}