pagination {
  display: block;
}
.article-detail {
  position: fixed;
  display: none;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: white;
  z-index: 10;
  &.visible {
    display: block;
  }
  .close {
    float: right;
    margin: 0 10px 10px;
  }
}
.pagination-articles {
  margin-bottom: 42px;
  @include span-columns(12);
  width: 100%;
  .article-row {
    @include span-columns(12);
  }
  .block {
    @include span-columns(4 of 12);
    display: inline-block;
    background: #F8F6F0;
    border-left: 1px dotted #333;
    height: 345px;
    width: 33%;
    overflow: hidden;
    img {
      width: 100%;
      height: 229px;
      overflow: hidden;
      margin-bottom: 10px;
    }
    h1, h2, h3, h4, p {
      margin: 0 20px 10px;
    }
    p {
      line-height: 1.2em;
    }
  }
}

.pagination {
  float: right;
  ul {
    list-style: none;
    li {
      display: inline-block;
      text-transform: uppercase;
      font-size: 1em;
      margin: 0 5px;
      a {
        @extend .alrightsans;
        font-weight: bold;
      }
      &.disabled {
        a {
          font-weight: normal;
        }
      }
      &.active {
        a {
          width: 30px;
          height: 30px;
          text-align: center;
          border-radius: 50%;
          -moz-border-radius: 50%;
          -webkit-border-radius: 50%;
          background: $orange;
          color: white;
          padding: 5px 10px;
        }
      }
    }
  }
}
[ng-cloak] {
  display: none;
}
