pagination {
  display: block;
}
.article-detail {
  display: none;
  &.visible {
    display: block;
  }
  .close {
    float: right;
    margin: 0 10px 10px;
  }
}
.pagination-articles {
  margin-bottom: 42px;
  @include span-columns(12);
  padding: 0;
  li {
     @include span-columns(4 of 12);
     @include omega(3n);
     margin-bottom: 42px;
    .block {
      background: #F8F6F0;
      border-left: 1px dotted #333;
      height: 345px;
      overflow: hidden;
      position: relative;
      .image {
        background-size: cover;
        position: absolute;
        bottom: 115px;
        right: 0;
        left: 0;
        top: 0;
      }
      .headline {
        position: absolute;
        bottom: 15px;
        height: 70px;
        left: 20px;
        right: 20px;
      }
      p {
        line-height: 1.2em;
      }
      .read-more {
        position: absolute;
        bottom: 2px;
        right: 10px;
        text-transform: uppercase;
        font-weight: bold;
        font-size: .8125em;
        &:hover {
          cursor: pointer;
        }
      }
    }
  }
}

.pagination {
  float: right;
  ul {
    list-style: none;
    li {
      display: inline-block;
      text-transform: uppercase;
      font-size: 1em;
      margin: 0 5px;
      a {
        @extend .alrightsans;
        font-weight: bold;
      }
      &.disabled {
        a {
          font-weight: normal;
        }
      }
      &.active {
        a {
          width: 30px;
          height: 30px;
          text-align: center;
          border-radius: 50%;
          -moz-border-radius: 50%;
          -webkit-border-radius: 50%;
          background: $orange;
          color: white;
          padding: 5px 10px;
        }
      }
    }
  }
}
[ng-cloak] {
  display: none;
}
