.article-detail {
  display: none;
  &.visible {
    display: block;
  }
  .close {
    float: right;
    margin: 0 10px 10px;
  }
}
ul.pagination-articles {
  padding: 0;
  clear: both;
  @include reset-display;
  li {
    margin-bottom: 42px;
    @include span-columns(4 of 12);
    @include omega(3n);
    .block {
      background: #F8F6F0;
      border-left: $dotted-border;
      height: 345px;
      overflow: hidden;
      position: relative;
      .image {
        position: absolute;
        bottom: 130px;
        right: 0;
        left: 0;
        top: 0;
        @include background-cover;
      }
      .headline {
        @extend .alrightsansbold;
        position: absolute;
        bottom: 14px;
        height: 70px;
        left: 20px;
        right: 20px;
        margin: 0;
      }
      p {
        line-height: 1.2em;
      }
      .read-more {
        position: absolute;
        bottom: 0;
        right: 10px;
        text-transform: uppercase;
        font-weight: bold;
        font-size: .8125em;
        &:hover {
          cursor: pointer;
        }
      }
      .category {
        position: absolute;
        bottom: 88px;
        left: 20px;
        text-transform: uppercase;
        font-weight: bold;
        font-size: .8125em;
        color: $light-blue;
      }
      .date {
        @extend .alrightsansbold;
        text-transform: uppercase;
        font-size: 13px;
        -webkit-font-smoothing: antialiased;
      }
    }
  }
  &.press-items {
    li {
      .block {
        .headline {
          bottom: 42px;
          height: 57px;
          font-size: 1.2em;
          line-height: 1em;
          overflow: hidden;
          padding-top: 2px;
          padding-bottom: 2px;
        }
        .date {
          position: absolute;
          bottom: 8px;
          left: 20px;
          text-align: left;
        }
      }
    }
  }
  &.blog-items {
    li {
      .block {
        .headline {
          bottom: 61px;
          height: 39px;
          overflow: hidden;
          font-size: 17px;
          line-height: 1.2;
        }
        .date {
          position: absolute;
          bottom: 21px;
          left: 20px;
          text-align: left;
        }
      }
    }
  }
  &.desktop {
    display: block;
  }
  &.tablet {
    display: none;
  }
}

.pagination {
  float: right;
  ul {
    list-style: none;
    li {
      display: inline-block;
      text-transform: uppercase;
      font-size: 1em;
      margin: 0 5px;
      a {
        @extend .alrightsans;
        font-weight: bold;
      }
      &.disabled {
        a {
          font-weight: normal;
        }
      }
      &.active {
        a {
          width: 30px;
          height: 30px;
          text-align: center;
          border-radius: 50%;
          -moz-border-radius: 50%;
          -webkit-border-radius: 50%;
          background: $orange;
          color: white;
          padding: 5px 10px;
        }
      }
    }
  }
}
[ng-cloak] {
  display: none;
}
pagination {
  display: block;
}

@include media($tablet-down) {
  .pagination {
    display: none;
  }
  .load-more {
    &.visible {
      display: block;
    }
  }
  ul.pagination-articles {
    margin-bottom: 0;

    li {
      margin-right: 0;
      width: 100%;
      margin-bottom: 3px;
      .block {
        padding: 4px;
        height: 190px;
        .image {
          position: static;
          width: 48%;
          height: 100%;
          float: left;
        }
        .content {
          float: left;
          width: 52%;
        }
        .headline {
          position: static;
          padding: 10px 10px 5px;
          margin: 0;
          font-weight: 400;
          font-size: 18px;
          line-height: 1.1;
          height: auto;
          overflow: hidden;
          height: 144px;
        }
        .category {
          position: static;
          padding: 0 10px;
          margin: 10px 0 0;
        }
        .date {
          position: static;
          font-size: 11px;
          font-weight: bold;
          padding: 0 10px;
        }
        .read-more {
          font-size: 11px;
          bottom: -4px;
        }
      }
    }
    &.press-items, &.blog-items {
      li {
        .block {
          .date {
            position: static;
            font-size: 11px;
            font-weight: bold;
            padding: 0 10px;
          }
        }
      }
    }
    &.blog-items {
      li {
        .block {
          .headline {
            height: auto;
            overflow: visible;
          }
        }
      }
    }
    &.desktop {
      display: none;
    }
    &.tablet {
      display: block;
    }
  }
}

@include media($mobile) {
  ul.pagination-articles {
    li {
      .block {
        height: 130px;
      
        .headline {
          font-size: 16px;
          height: auto;
          max-height: 77px;
        }
      }
    }
  }
}

@media screen and (max-width: 340px) {
  ul.pagination-articles {
    li {
      .block {
        height: 146px;
      }
    }
  }
}
