.swiper-controls {
  position: absolute;
  top: 50%;
  margin-top: -57px;
  z-index: 95;
  a {
    width: 50px;
    height: 114px;
    display: block;
  }
  &.left {
    left: 0px;
    a {
      background: url('images/carousel/arrow-left-retina.png') no-repeat;
    }
  }
  &.right {
    right: 0px;
    a {
      background: url('images/carousel/arrow-right-retina.png') no-repeat;
    }
  }
  @include media($mobile) {
    margin-top: -86px;
    a {
      width: 25px;
      height: 57px;
      display: block;
    }
    &.left {
      a {
        background: url('images/carousel/arrow-left.png') no-repeat;
      }
    }
    &.right {
      a {
        background: url('images/carousel/arrow-right.png') no-repeat;
      }
    }
  }
}

@media (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3/2), (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 1.5dppx) {
  .swiper-controls {
    &.left {
      a {
        background: url('images/carousel/arrow-left-retina.png') no-repeat;
        background-size: 100%;
      }
    }
    &.right {
      a {
        background: url('images/carousel/arrow-right-retina.png') no-repeat;
        background-size: 100%;
      }
    }
  }
}


.position-indicator {
  z-index: 95;
  margin-right: auto;
  margin-left: auto;
  margin-top: 5.5em;
  text-align: center;
  li {
    @include inline-block;
    a {
      background: rgba(255,255,255,0.5);
      &:hover {
        background: #2d2d2d;
      }
    }
    &.on {
      a {
        background: #FFF;
      }
    }
  }
}

.swiper {
  position: relative;
  background-color: #000;
  width: 100%;
  max-width: 100%;
  overflow: hidden;
  &.short {
    .swipe-wrap > div {
      height: 600px;
      @include media($tablet) {
        height: 440px;
      }
      @include media($mobile) {
        height: 317px;
      }
    }
  }
  .swipe-wrap {
    > div {
      width: 100%;
      height: 800px;
      @include media($tablet) {
        height: 440px;
      }
      @include media($mobile) {
        height: 300px;
      }
    }
  }
  article {
    z-index: 0;
    // position: absolute;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    max-width: 1600px;
    margin: 0 auto;
    background-color: #000;
  }
  .gradient-background {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top: 50%;
    @include background-image(linear-gradient(top,  rgba(30,87,153,0) 0%,rgba(0,0,0,0.54) 42%,rgba(5,2,3,1) 100%));
  }
  aside {
    position: absolute;
    &:not(.side-panel) {
      z-index: 90;
      color: #FFF;
      width: 100%;
      bottom: 43px;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      h1 {
        @extend .alrightsansbold;
        margin: 3px 10px;
        font-size: 2.875em;
        line-height: 1.08em;
      }
      p {
        @extend .alrightsanslight;
        font-size: 1.2em;
        font-weight: 400;
        margin: 0.15em 10px 0.1em;
      }
      a {
        @extend .verlag;
        text-transform: uppercase;
        color: #FFF;
        font-weight: bold;
        font-size: .875em;
      }
      @include media($mobile) {
        bottom: 0px;
        background: #FFF;
        color: #2d2d2d;
        text-align: left;
        padding: 4px 20px 8px;
        height: 107px;
        overflow: hidden;
        h1 {
          font-size: 18px;
          margin: 10px 10px 4px;
        }
        a {
          float: right;
          color: #2d2d2d;
          font-size: 11px;
          margin-top: 3px;
        }
        p {
          font-size: 13px;
          line-height: 1.2;
        }
        .black-text-background & {
          background: #2d2d2d;
          color: #FFF;
          a {
            color: #FFF;
          }
        }
      }
    }
    &.side-panel {
      width: 540px;
      right: 0;
      top: 0;
      bottom: 0;
      background: url('images/carousel/transparent_side_panel_background.png') repeat;
      text-align: left;
      color: white;
      padding: 55px 80px 50px 33px;
      .headline {
        @extend .alrightsansbold;
        font-size: 2.1em;
        line-height: 1em;
        margin: 0 0 15px;
      }
      p {
        @extend .alrightsansregular;
      }
      .subhead {
        color: $light-orange;
        text-transform: uppercase;
        margin: 0 0 10px;
      }
      .body-copy {
        font-size: 1.125em;
        @extend .alrightsansregular;
        margin: 0 0 10px;
      }
      a.action-link {
        text-align: right;
        text-transform: uppercase;
        font-size: .75em;
        color: white;
        @extend .verlagbold;
        position: absolute;
        bottom: 20px;
        right: 70px;
      }
    }
  }
  .logo {
    margin-bottom: 20px;
    img {
      width: 50px;
    }
  }
  .action-link.bordered {
    padding: 10px 30px;
    border: 2px solid white;
  }
}

.play-video-link {
  position: absolute;
  left: 50%;
  top: 50%;
  margin-top: -50px;
  margin-left: -50px;
  width: 100px;
  height: 100px;
  background: url('images/carousel/video-play-button-retina.png') no-repeat;
  display: block;
  @include media($mobile) {
    margin-top: -83px;
    margin-left: -25px;
    width: 50px;
    height: 50px;
    background: url('images/carousel/video-play-button.png') no-repeat;
    display: block;
  }
}
@media (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3/2), (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 1.5dppx) {
  .play-video-link {
    background: url('images/carousel/video-play-button-retina.png') no-repeat;
    background-size: 100%;
  }
}

.slide-standalone {
  width: 100%;
  height: 500px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: block;
}

.half-wit {
  width: 50%;
  .action-link {
    display: none;
  }
  .swiper-position {
    position: absolute;
    bottom: 14px;
    width: 100%;
  }
  @include media($mobile) {
    float: none;
    width: 100%;
  }
}

.swiper-position {
  text-align: center;
  list-style: none;
  margin: 0;
  padding: 0;
  @include media($mobile) {
    display: none;
  }
  li {
    display: inline-block;
    width: 12px;
    height: 12px;
    border-radius: 12px;
    background: #fff;
    margin: 0 5px;
    cursor: pointer;
    &.on {
      background: $orange;
    }
  }
}

.carousel.thumblist {
  @include media($tablet-down) {
    display: none;
  }
}

.mobile-carousel {
  display: none;
  background: #fff;
  @include media($tablet-down) {
    display: block;
  }
  h2 {
    text-align: center;
    margin: 0;
    padding: 27px 0;
    font-size: 20px;
    color: #bebebe;
    &.stories-title {
      background: #2d2d2d;
    }
  }
}

 @include media($mobile) {
  .add-bottom-border {
    border-bottom: $dotted-border;
    padding-bottom: 8px;
  }
}
