.swiper-controls {
  position: absolute;
  top: 225px;
  z-index: 99;
  height: 50px;
  width: 50px;
  @include breakpoint($mobile) {
    top: 69px;
  }
  a {
    display: block;
    padding: 12px 0;
    font-size: 34px;
    background-color: rgba(255, 255, 255, 0.75);
    span {
      @include transform(rotate(180deg))
    }
  }

  &.left {
    left: -20px;
    a {
      border-radius: 0 100px 100px 0;
      -moz-border-radius: 0 100px 100px 0;
      -webkit-border-radius:  0 100px 100px 0;
      margin-left: 16px;
    }
  }

  &.right {
    right: -22px;
    a {
      border-radius: 100px 0 0 100px;
      -moz-border-radius: 100px 0 0 100px;
      -webkit-border-radius: 100px 0 0 100px;
    }
  }

  .position-indicator {
    z-index: 99999;
    margin-right: auto;
    margin-left: auto;
    margin-top: 5.5em;
    text-align: center;
    li {
      @include inline-block;
      a {
          background: rgba(255,255,255,0.5);
          &:hover {
              background: #333;
          }
      }

      &.on {
          a {
              background: #FFF;
          }
      }
    }
  }
}

.swiper {
  position: relative;
  background-color: #000;
  @include breakpoint($mobile) {
    max-width: 480px;
    overflow: hidden;
  }
  &.short {
    .swipe-wrap > div {
      height: 500px;
      @include breakpoint($mobile) {
        height: 300px;
      }
    }
  }
  .swipe-wrap {
    > div {
      width: 100%;
      height: 800px;
      @include breakpoint($mobile) {
        height: 300px;
      }

    }
  }
  article {
    z-index: 0;
    // position: absolute;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    max-width: 1600px;
    margin: 0 auto;
    background-color: #000;
  }
  .gradient-background {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top: 50%;
    @include background-image(linear-gradient(top,  rgba(30,87,153,0) 0%,rgba(0,0,0,0.54) 42%,rgba(5,2,3,1) 100%));
  }
  .play-video-link {
    position: absolute;
    left: 50%;
    top: 100px;
    margin-left: -40px;
    @include breakpoint($mobile) {
      top: 44px;
    }
    a {
      display: block;
      font-size: 5em;
      .icon {
        color: white;
      }
    }
  }
  aside {
    position: absolute;
    &:not(.side-panel) {
      z-index: 9999;
      color: #FFF;
      width: 100%;
      bottom: 50px;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      h1 {
        @extend .alrightsansbold;
        margin-bottom: 0;
        font-size: 3.75em;
        line-height: 1em;
      }
      p {
        @extend .alrightsanslight;
        font-size: 1.2em;
        font-weight: 400;
      }
      a {
        @extend .verlag;
        text-transform: uppercase;
        color: #FFF;
        font-weight: bold;
        font-size: .875em;
      }
      @include breakpoint($mobile) {
        bottom: 0px;
        background: #2d2d2d;
        text-align: left;
        padding: 4px 20px 8px;
        h1 {
          font-size: 18px;
        }
        p {
          font-size: 13px;
          line-height: 1.2;
        }
        a {
          float: right;
          font-size: 13px;
        }
      }
    }
    &.side-panel {
      width: 540px;
      right: 0;
      top: 0;
      bottom: 0;
      background: url('images/carousel/transparent_side_panel_background.png') repeat;
      text-align: left;
      color: white;
      padding: 55px 80px 50px 33px;
      @extend .alrightsansbold;
      .headline {
        font-size: 2.25em;
        line-height: 1em;
        margin: 0 0 15px;
      }
      .subhead {
        color: $light-orange;
        text-transform: uppercase;
        margin: 0 0 10px;
      }
      .body-copy {
        font-size: 1.125em;
        @extend .alrightsansregular;
        margin: 0 0 10px;
      }
      a.action-link {
        text-align: right;
        text-transform: uppercase;
        font-size: .75em;
        color: white;
        @extend .verlagbold;
        position: absolute;
        bottom: 20px;
        right: 70px;
      }
    }
  }
  .logo {
    margin-bottom: 20px;
    img {
      width: 50px;
    }
  }
  .action-link.bordered {
    padding: 10px 30px;
    border: 2px solid white;
  }
}

.slide-standalone {
  width: 100%;
  height: 500px;
  background-repeat: no-repeat;
  background-size: cover;
  display: block;
}

.half-wit {
  .action-link {
    display: none;
  }
  .play-video-link {
    z-index: 9999;
  }
}

.swiper-position {
  text-align: center;
  list-style: none;
  margin: 0;
  padding: 0;
  @include breakpoint($mobile) {
    display: none;
  }
  li {
    display: inline-block;
    width: 12px;
    height: 12px;
    border-radius: 12px;
    background: #fff;
    margin: 0 2px;
    cursor: pointer;
    &.on {
      background: $orange;
    }
  }
}
