.swiper-controls {
  position: absolute;
  margin-top: 15%;
  z-index: 9999;
  width: 100%;

  a {
    padding-top: 0.5em;
    color: rbga(0, 0, 0, 0.25);
    font-size: 3em;
    height: 100px;
    width: 50px;
    background-color: rgba(255, 255, 255, 0.75);
  }

  .left {
    float: left;
    border-radius: 0 100px 100px 0;
    -moz-border-radius: 0 100px 100px 0;
    -webkit-border-radius:  0 100px 100px 0;
    padding-right: 10px;
    span {
      -webkit-transform: rotate(180deg);
      -moz-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
      -o-transform: rotate(180deg);
      transform: rotate(180deg);
    }
  }

  .right {
    float: right;
    border-radius: 100px 0 0 100px;
    -moz-border-radius: 100px 0 0 100px;
    -webkit-border-radius: 100px 0 0 100px;
    padding-left: 10px;
  }

  .position-indicator {
      z-index: 99999;
      margin-right: auto;
      margin-left: auto;
      margin-top: 5.5em;
      text-align: center;
      li {
          @include inline-block;
          a {
              background: rgba(255,255,255,0.5);
              &:hover {
                  background: #333;
              }
          }

          &.on {
              a {
                  background: #FFF;
              }
          }
      }
  }
}

.swiper {

  article {
    z-index: 0;
  }

  aside {
    z-index: 9999;
    color: #FFF;
    width: 80%;
    margin: -30% auto 0;
    h1 {
      @extend .alrightsansbold;
      margin-bottom: 0;
      font-size: 3.75em;
      line-height: 1em;
    }
    p {
      @extend .alrightsanslight;
      font-size: 1.2em;
      font-weight: 400;
    }
    a {
      @extend .verlag;
      text-transform: uppercase;
      color: #FFF;
      font-weight: bold;
      font-size: .875em;
    }
  }
}