/* Thumblist nav */

.horizontal-only {
  height: auto;
  text-align: center;
}

.thumblist-nav {
  width: 100%;
  overflow: auto;
  white-space: nowrap;
  height: 324px;
  .jspPane {
    position: absolute;
    // .img {
    //   width: 400px;
    //   height: 210px;
    // }
    > div {
      width: 400px;
      height: 313px;
      position: relative;
      border: 1px dotted #ddd;
      border-right: none;

      display: inline-block;

      /* ie7 support */
      *display: inline;
      zoom: 1;
      .image {
        background-size: cover;
        position: absolute;
        bottom: 101px;
        right: 0;
        left: 0;
        top: 0;
      }
      .content {
        position: absolute;
        bottom: 23px;
        right: 20px;
        left: 20px;
        text-align: left;
        white-space: normal;
        .call-to-action {
          line-height: 1em;
        }
      }
      .year-overlay {
        text-align: center;
        opacity: .5;
        font-size: 15em;
        position: absolute;
        top: 182px;
        left: 0;
        right: 0;
        color: white;
      }
    }
    h4 {
      @extend .verlagbold;
      font-size: 1.5em;
      letter-spacing: 1px;
      margin: 6px 0 8px 0;
      color: $gray-title;
      text-align: left;
    }
    .blog-category {
      font-weight: bold;
      text-transform: uppercase;
      margin: 0;
      font-size: .875em;
    }
    button {
      text-transform: uppercase;
      background: none;
      border: none;
      font-size: .75em;
      font-weight: 600;
      margin: 5px 0 0;
      padding: 0;
      color: $gray-title;
      text-align: left;
    }
  }
  &.horizontal-only {
    max-height: 335px;
  }

  &.full {
    height: 422px;
    .jspPane {
      > div {
        width: 680px;
        height: 410px;
        .image {
          bottom: 0;
        }
        .content {
          bottom: 10px;
        }
      }
      h4 {
        color: white;
        font-size: 2.25em;
      }
      .blog-category {
        color: white;
      }
      img {
        width:  680px;
        height: 410px;
      }
    }
    &.horizontal-only {
      max-height: 422px;
    }
  }

} // End .thumblist-nav

// Scrubber
.jspDrag {
  background: blue;
}

.jspDrag:hover {
  background: green;
}

.swipe {
  overflow: hidden;
  visibility: hidden;
  position: relative;
}
.swipe-wrap {
  overflow: hidden;
  position: relative;
}
.swipe-wrap > div {
  float:left;
  width:100%;
  position: relative;
}

.jspContainer {
  overflow: hidden;
  position: relative;
  .jspHorizontalBar {
    background-color:rgba(71, 194, 231, 0.6);

    opacity: .5;
    height: 11px;

    .jspTrack {
      position: relative;

      .jspDrag {
        background: #17BFE6;
        opacity: 1;
        &.jspHover {
        }
      }
    }
  }
}

.jspHorizontalBar {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;

}

.jspCap {
  display: none;
}

.jspHorizontalBar .jspCap {
  float: left;
}

.jspDrag {
  background: #bbd;
  position: relative;
  top: 0;
  left: 0;
  cursor: pointer;
}

.jspHorizontalBar .jspTrack,
.jspHorizontalBar .jspDrag {
  float: left;
  height: 100%;
}

.jspHorizontalBar .jspArrow {
  width: 16px;
  float: left;
  height: 100%;
}

//
.jspArrow
{
  background: #50506d;
  text-indent: -20000px;
  display: block;
  cursor: pointer;
  padding: 0;
  margin: 0;
}

.jspArrow.jspDisabled
{
  cursor: default;
  background: #80808d;
}

.jspHorizontalBar .jspArrow
{
  width: 16px;
  float: left;
  height: 100%;
}

.jspCorner
{
  background: #eeeef4;
  float: left;
  height: 100%;
}

/* Yuk! CSS Hack for IE6 3 pixel bug :( */
* html .jspCorner
{
  margin: 0 -3px 0 0;
}