/* Thumblist nav */

.horizontal-only {
  height: auto;
}

// .thumblist-nav {
//   width: 100%;
//   overflow: auto;
//   white-space: nowrap
// }

// .jspPane > div {
//   display: inline-block;

//   /* ie7 support */
//   *display: inline;
//   zoom: 1
// }


.thumblist-nav {
  width: 100%;
  overflow: auto;
  white-space: nowrap;
  height: 335px;
  .jspPane {
    position: absolute;
    // .img {
    //   width: 400px;
    //   height: 210px;
    // }
    > div {
      width: 400px;
      height: 330px;
      position: relative;
      border: 1px dotted #ddd;
      border-right: none;

      display: inline-block;

      /* ie7 support */
      *display: inline;
      zoom: 1;
      .image {
        background-size: cover;
        position: absolute;
        bottom: 115px;
        right: 0;
        left: 0;
        top: 0;
      }
      .content {
        position: absolute;
        bottom: 10px;
        right: 20px;
        left: 20px;
        overflow: hidden;
      }
    }
    // .ng-scope {
    //   border: 1px dotted #ddd;
    //   border-right: none;
    // }
    h4 {
      @extend .verlagbold;
      font-size: 1.5em;
      letter-spacing: 1px;
      margin: 0 0 10px 0;
      color: $gray-title;
      text-align: left;
    }
    .blog-category {
      font-weight: bold;
      text-transform: uppercase;
      margin: 0;
      font-size: .875em;
    }
    button {
      text-transform: uppercase;
      background: none;
      border: none;
      font-size: .75em;
      font-weight: 600;
      margin: 5px 0 0;
      padding: 0;
      color: $gray-title;
    }
  }
  &.horizontal-only {
    max-height: 335px;
  }

  &.full {
    height: 422px;
    .jspPane {
      > div {
        width: 680px;
        height: 410px;
        .image {
          bottom: 0;
        }
        .content {
          bottom: 10px;
        }
      }
      h4 {
        // margin-top: 3px;
        color: white;
        font-size: 2.25em;
      }
      .blog-category {
        color: white;
      }
      img {
        width:  680px;
        height: 410px;
      }
    }
    &.horizontal-only {
      max-height: 422px;
    }
  }
} // End .thumblist-nav

// Scrubber
.jspDrag {
  background: blue;
}

.jspDrag:hover {
  background: green;
}

.swipe {
  overflow: hidden;
  visibility: hidden;
  position: relative;
}
.swipe-wrap {
  overflow: hidden;
  position: relative;
}
.swipe-wrap > div {
  float:left;
  width:100%;
  position: relative;
}

.jspContainer {
  overflow: hidden;
  position: relative;
  .jspHorizontalBar {
    background-color:rgba(71, 194, 231, 0.6);

    opacity: .5;
    height: 11px;

    .jspTrack {
      position: relative;

      .jspDrag {
        background: #17BFE6;
        opacity: 1;
        &.jspHover {
        }
      }
    }
  }
}

.jspHorizontalBar {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;

}

.jspCap {
  display: none;
}

.jspHorizontalBar .jspCap {
  float: left;
}

.jspDrag {
  background: #bbd;
  position: relative;
  top: 0;
  left: 0;
  cursor: pointer;
}

.jspHorizontalBar .jspTrack,
.jspHorizontalBar .jspDrag {
  float: left;
  height: 100%;
}

.jspHorizontalBar .jspArrow {
  width: 16px;
  float: left;
  height: 100%;
}