.map {
  border-top: 1px dotted #333;
  position: relative;
}

#world-map-gdp .jvectormap-container {
    @include background-image(radial-gradient(center, ellipse cover, rgb(78,206,238) 0%,rgb(49,158,213) 100%));
}

.jvectormap-label {
  display: none;
}
#map-popup {
  display: none;
  position: absolute;
  background: #292929;
  color: white;
  font-family: sans-serif, Verdana;
  padding: 10px;
  width: 50%;
  height: 50%;
  top: 10%;
  left: 25%;
  z-index: 1;
  img {
    float: left;
    width: 50%;
  }
}

.jvectormap-zoomin, .jvectormap-zoomout {
  position: absolute;
  right: 10px;
  background: rgba(16,97,146,0.75);
  padding: 5px 10px;
  color: white;
  cursor: pointer;
  line-height: 20px;
  text-align: center;
}

.jvectormap-zoomin {
    top: 10px;
    right: 42px;
}

.jvectormap-zoomout {
    top: 10px;
}
