.map {
  border-top: 1px dotted #333;
  position: relative;
}

#world-map-gdp .jvectormap-container {
    @include background-image(radial-gradient(center, ellipse cover, rgb(78,206,238) 0%,rgb(49,158,213) 100%));
}

.jvectormap-label {
  display: none;
}
#map-popup {
  display: none;
  position: absolute;
  color: white;
  font-family: sans-serif, Verdana;
  padding: 10px;
  width: 720px;
  height: 360px;
  top: 10%;
  left: 25%;
  z-index: 1;
  .close {
    position: absolute;
    right: 18px;
    top: 13px;
    z-index: 10;
    a {
      color: white;
    }
  }
  .background-popup {
    background: #292929;
    width: 50%;
    height: 100%;
    opacity: 0.7;
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
    float: right;
    padding: 30px 10px 10px;
  }
  img {
    float: left;
    width: 50%;
    height: 100%;
  }
}

.map-legend {
  position: absolute;
  padding: 0;
  width: 200px;
  height: 210px;
  bottom: 20px;
  right: 0;
  z-index: 1;
  background: rgba(16,97,146,.75);
  ul {
    list-style: none;
    padding: 0 15px;
    color: white;
    text-transform: uppercase;
    li {
      @extend .alrightsanbold;
      font-size: .75em;
      line-height: 2.5em;
      .icon {
        font-size: 1.25em;
        font-weight: bold;
        margin: 6px 8px 0 0;
        float: left;
      }
    }
  }
}
.jvectormap-zoomin, .jvectormap-zoomout {
  position: absolute;
  right: 10px;
  background: rgba(16,97,146,0.75);
  padding: 5px 10px;
  color: white;
  cursor: pointer;
  line-height: 20px;
  text-align: center;
}

.jvectormap-zoomin {
    top: 10px;
    right: 42px;
}

.jvectormap-zoomout {
    top: 10px;
}
