<section class='tabbed-content'>
  <nav>
      <ul class='tabs row-table'>
        <li ng-class="{active: currentTab==0}">
          <a href='#/programs/0'>Operation Change</a>
        </li>
        <li ng-class="{active: currentTab==1}">
          <a href='#/programs/1'>Listen Carefully</a>
        </li>
        <li ng-class="{active: currentTab==2}">
          <a href='#/programs/2'>Hear Now</a>
        </li>
        <li ng-class="{active: currentTab==3}">
          <a href='#/programs/3'>Hearing Aid Recycling</a>
        </li>
      </ul>
  </nav>
</section>
<div class="program-section" ng-bind-html="trustedHtml"></div>
<div ng-switch="currentTab">
  <section class='carousel thumblist' ng-switch-when="0">
    <thumblist-nav articles="programPartnerships">
      <div ng-repeat="article in programPartnerships">
      <div class="image" ng-style="{'background-image': 'url(' + article.thumbnail_image_url + ')'}"></div>
      <div class="content">
          <h4 ng-bind="article.thumbnail_title"></h4>
          <p class='call-to-action align-right'>
            <a href='{{article.link_url}}' ng-bind="article.link_cta">
                 &rarr;
              </a>
            </p>
          </div>
        </div>
      </thumblist-nav>
    </section>

  <div class="outer-container">
    <h2 ng-switch-when="1">Additional Resources</h2>
  </div>

  <section class='carousel thumblist' ng-switch-when="1">
    <thumblist-nav articles="programResources">
      <div ng-repeat="article in programResources">
        <div class="image" ng-style="{'background-image': 'url(' + article.thumbnail_image_url + ')'}"></div>
        <div class="content">
          <h4 ng-bind="article.thumbnail_title"></h4>
          <p class='call-to-action align-right'>
            <a href='{{article.link_url}}' ng-bind="article.link_cta">
               &rarr;
            </a>
          </p>
        </div>
      </div>
    </thumblist-nav>
  </section>
</div>